.type-img-bg {
  @apply relative mb-pxn5 px-0;
  @apply w-full max-w-none;
  @apply h-px737 lg2:h-px737 flex items-center text-white;
  @include focusable-children-outline(dark);

  @screen mobile {
    padding-top: $top-nav-height;
    padding-bottom: $top-nav-height;
    margin-top: -$top-nav-height;
    min-height: 100vh;
  }

  @screen md {
    @apply md:h-px490;
    padding-top: var(--top-nav-top-margin);
    margin-top: calc(-1 * var(--top-nav-height));
  }

  @screen lg2 {
    @apply min-h-px800;
  }

  // Playing video state
  &--playing {
    .page-header__playback-icon {
      &.play.play {
        @apply hidden;
      }

      &.pause.pause {
        @apply block;
      }
    }
  }

  // XL Content Size
  &.content-xl {
    @screen md {
      @apply pt-px160;
      height: rem-calc(478);
    }

    @screen lg {
      @apply pt-px200 min-h-0;
      height: rem-calc(645);
    }

    @screen lg2 {
      @apply pt-px200 min-h-0;
      height: rem-calc(645);
    }

    @screen xl {
      @apply pt-px250 min-h-0;
      height: rem-calc(800);
    }

    .page-header-content-wrap {
      @screen lg {
        @apply self-start;
      }
    }

    .page-header-content {
      @apply col-span-full;
    }

    .page-header-title {
      @apply text-px42 leading-px52 tracking-em_001;

      @screen lg {
        @apply text-px52 leading-px62 tracking-em005;
      }

      @screen lg2 {
        @apply text-px58 leading-px66 tracking-em005;
      }

      @screen xl {
        @apply text-px62 leading-px76 tracking-em005;
      }

      & > tilt,
      & > tiltb {
        @apply text-px55 leading-px50 tracking-em_005 mt-0;

        @screen lg {
          @apply text-px62 leading-px72 tracking-em005;
        }

        @screen lg2 {
          @apply text-px68 leading-px78 tracking-em005;
        }

        @screen xl {
          @apply text-px72 leading-px82 tracking-em005;
        }
      }
    }

    .button-group {
      @apply mt-px20;

      @screen lg {
        @apply mt-px30;
      }

      @screen lg2 {
        @apply mt-px40;
      }
    }

    .page-btn {
      @apply text-px18 leading-px24;

      @screen lg {
        @apply h-px64;
      }

      @screen lg2 {
        @apply h-px64;
      }

      @screen xl {
        @apply h-px66;
      }
    }
  }

  .page-header__bg {
    @apply absolute top-0 left-0 w-full h-full;

    // Media overfill
    &::after {
      @apply block absolute top-0 left-0 w-full h-full bg-black opacity-22;
      content: "";
    }
  }

  .page-header-content {
    @apply col-span-4 col-start-2;
  }

  .page-header-img-wrap {
    @apply absolute w-full h-full top-0 left-0;

    img {
      @apply object-cover object-center;
      @apply w-full h-full;
    }
  }

  .page-header-content-wrap {
    @apply tw-grid;
    @apply container mx-auto text-center items-center z-1;
  }

  .page-header-title {
    @apply text-px34 leading-px40;
    tilt,
    tiltb {
      @apply text-px44 leading-px54;
    }

    tiltb {
      @apply block;
    }
  }

  .page-header-desc {
    @apply text-px18 leading-px26 tracking-em005;

    @screen md {
      @apply text-px20 leading-px26;
    }

    @screen lg {
      @apply text-px20 leading-px26;
    }
  }

  .page-header__playback {
    @apply absolute flex items-center justify-center w-px24 h-px24 left-px20 bottom-px38 cursor-pointer text-px24;
    z-index: 1;

    @screen md {
      @apply left-px28 bottom-px28;
    }

    @screen lg2 {
      @apply w-px28 h-px28 left-px32 bottom-px28 text-px28;
    }
  }

  .page-header__playback-icon {
    &.play {
      @apply block;
    }

    &.pause {
      @apply hidden block;
    }
  }

  @screen md {
    .page-header-content {
      @apply col-start-3;
    }

    .page-header-title {
      @apply text-px32 leading-px42;
      tilt,
      tiltb {
        @apply text-px44 leading-px54;
      }

      tiltb {
        @apply block;
      }
    }
  }

  @screen lg2 {
    .page-header-title {
      @apply text-px56 leading-px66;
      tilt,
      tiltb {
        @apply text-px82 leading-px92;
      }

      tiltb {
        @apply block;
      }
    }
  }

  .button-group {
    @apply mt-px30;

    @screen md {
      @apply mt-px30;
    }

    @screen lg {
      @apply mt-px40;
    }

    @screen xl {
      @apply mt-px30;
    }

    .page-btn {
      @screen lg {
        @apply py-px20 px-px40 text-px20 leading-px26 tracking-px05;
      }
    }
  }
}

@screen lg {
  .type-img-bg {
    .page-header-content {
      h1 {
        @apply text-px40 leading-px48 tracking-px_05;
      }

      tilt {
        @apply text-px50 leading-px60 tracking-em005;
      }
    }

    // Left Alignment
    &.content-left {
      .page-header-content {
        @apply col-span-5 col-start-1;
      }
    }

    // Center Alignment
    &.content-center {
      .page-header-content {
        @apply col-span-6 col-start-4;
      }
    }

    // Right Alignment
    &.content-right {
      .page-header-content {
        @apply col-span-4 col-start-9;
      }
    }
  }
}

// With content alignment on Full Bleed Video type
@screen lg2 {
  .type-img-bg {
    .page-header-content {
      h1 {
        @apply text-px40 leading-px50 tracking-normal;
      }

      tilt {
        @apply text-px70 leading-px80;
      }
    }

    // Left Alignment
    &.content-left {
      .page-header-content {
        @apply col-span-4;
      }
    }

    // Center Alignment
    &.content-center {
      .page-header-content {
        @apply col-span-6 col-start-4;
      }
    }

    // Right Alignment
    &.content-right {
      .page-header-content {
        @apply col-span-4 col-start-9;
      }
    }
  }
}

@screen xl {
  .type-img-bg {
    .page-header-content {
      h1 {
        @apply text-px46 leading-px56 tracking-normal;
      }
    }
  }
}
