.header-container {
  @screen mobile {
    padding-top: $top-nav-height;
    margin-top: -$top-nav-height;
    min-height: 100vh;
  }

  @screen mobile {
    @apply flex items-stretch;
  }
}

.page-header {
  @apply container mx-auto;

  @screen mobile {
    @apply flex items-stretch;
  }

  &-inner {
    @apply flex flex-col;
    @apply max-h-full;
  }

  &-content-wrap {
    @apply text-center;
    @apply pb-2;
    @apply z-1;
  }

  &-title-top {
    @apply uppercase text-px16 leading-px24 mb-2.5;
  }

  &-title {

    tilt {
      @apply inline-block;
    }

    tiltb {
      @apply block;
    }
  }

  &-desc {
    @apply pt-3.5 pb-8 text-px16 leading-px24 font-normal;
    & + .page-header-cta {
      @apply mt-0;
    }
  }

  &-cta {
    @apply inline-block text-teal-dark bg-white rounded-px10 py-3 px-8 text-base font-bold leading-px22 mt-10;
  }


  @screen md {

    &-inner {
      @apply flex-row;
    }

    &-content-wrap {
      @apply text-left;
      @apply w-7/12;
      @apply pb-6;
    }

    &-desc {
      @apply text-px14 leading-px20;
    }

    &-cta {
      @apply px-6;
    }
  }

  @screen lg {
    @apply mt-12;

    &-desc {
      @apply text-px22 leading-px32 tracking-px05;
    }

    &-cta {
      @apply py-5 px-10 text-px18 leading-px26;
    }

    &-content-wrap {
      @apply pb-10;
    }
  }


  // - Types
  // - - Split Image
  &.type-split-img {
    @apply md:min-h-px445;

    .page-header-img {
      @apply object-center object-cover;
      @apply w-full h-full;
    }

    .page-header-img-inner {
      @apply w-screen inset-x-1/2 relative;
      margin-left: -50vw;
      margin-right: -50vw;
      height: 100vw;
    }

    .page-header-img-wrap {
      @apply relative mt-auto mb-0;
    }

    .page-header-content-wrap {
      @apply pb-0;
    }

    @screen md {
      .page-header-inner {
        @apply items-center;
        @apply mt-0 mb-px104;
        @apply md:mb-0;
      }

      .page-header-img-inner {
        width: calc(100% - #{rem-calc(50px)});
        @apply inset-x-auto mr-0 ml-auto h-auto max-w-px318;
      }

      .page-header-img {
        @apply rounded-px10;
      }

      .page-header-content-wrap {
        @apply flex-initial self-center;
        @apply pb-0 mr-px20;
        width: calc(50% - 2rem);
      }

      .page-header-img-wrap {
        @apply flex-1 mt-0;
        flex-grow: 2;
      }
    }

    @screen lg {
      .page-header-inner {
        @apply mb-px80;
      }

      .page-header-img-inner {
        @apply w-full h-auto max-w-px500;
      }

      .page-header-img-wrap {
        @apply items-center justify-end flex;
        min-height: rem-calc(500px);
      }

      .page-header-desc {
        @apply text-px24 leading-px34 tracking-px05;
      }
    }

    @screen xl {
      .page-header-img-wrap {
        @apply mx-0;
      }

      .page-header-content-wrap {
        @apply w-px500;
      }
    }
  }

  // Horizontal
  &.type-horizontal {
    .page-header-image {
      @apply relative pt-full;

      img {
        @apply absolute top-0 left-0 h-full;
      }
    }

    & + * {
      @screen md {
        padding-top: rem-calc(215px);
      }

      @screen lg2 {
        padding-top: rem-calc(567px);
      }
    }
  }

  &.type-horizontal & {

    &-title {
      @apply md:text-px32 md:leading-px42;
      @apply xl:text-px46 xl:leading-px56;
    }

    &-inner {
      @apply flex flex-col justify-center h-full;
    }

    &-content-wrap {
      @apply flex flex-col justify-center;
      @apply pb-px80 text-center mx-auto flex-grow;
      @apply md:pb-px50;
      @apply xl:pb-px60;

      @screen md {
        @apply block;
        width: percentage(494/668);
      }

      @screen xl {
        width: rem-calc(822px);
      }
    }

    &-image {
      @apply mb-0 mt-auto;
      width: calc(100% + (theme('container.padding.DEFAULT') * 2));
      margin-left: calc( -1 * theme('container.padding.DEFAULT'));

      @screen md {
        @apply w-full ml-0 z-10;
        padding-top: calc(100% * #{(385/668)});
        margin-bottom: rem-calc(-117px);
      }

      @screen xl {
        padding-top: calc(100% * #{(580/1160)});
        margin-bottom: rem-calc(-289px);
      }

      img {
        object-position: center 30%;
        max-height: rem-calc(375px);

        @screen md {
          @apply rounded-px10;
          @apply block h-full max-h-none;
        }
      }
    }
  }
}


@import "./support-trevorspace";
@import "./support-crisis-services";
@import "./text";
@import "./img-bg";
@import "./split-carousel";
@import "./horizontal";
@import "./multi-image";
