.header-container {
  @screen mobile {
    padding-top: $top-nav-height;
    margin-top: -$top-nav-height;
    min-height: 100vh;
  }

  @screen mobile {
    @apply flex items-stretch;
  }
}

.page-header {
  @apply container mx-auto;

  @screen mobile {
    @apply flex items-stretch;
  }

  &-inner {
    @apply flex flex-col;
    @apply max-h-full;
  }

  &-content-wrap {
    @apply text-center;
    @apply pb-2;
    @apply z-1;
  }

  &-title-top {
    @apply uppercase text-px16 leading-px24 mb-2.5;
  }

  &-title {

    tilt {
      @apply inline-block;
    }

    tiltb {
      @apply block;
    }
  }

  &-desc {
    @apply pt-3.5 pb-8 text-px16 leading-px24 font-normal;
    & + .page-header-cta {
      @apply mt-0;
    }
  }

  &-cta {
    @apply inline-block text-teal-dark bg-white rounded-px10 py-3 px-8 text-base font-bold leading-px22 mt-10;
  }


  @screen md {

    &-inner {
      @apply flex-row;
    }

    &-content-wrap {
      @apply text-left;
      @apply w-7/12;
      @apply pb-6;
    }

    &-desc {
      @apply text-px14 leading-px20;
    }

    &-cta {
      @apply px-6;
    }
  }

  @screen lg {
    @apply mt-12;

    &-desc {
      @apply text-px22 leading-px32 tracking-px05;
    }

    &-cta {
      @apply py-5 px-10 text-px18 leading-px26;
    }

    &-content-wrap {
      @apply pb-10;
    }
  }
}


@import "./support-trevorspace";
@import "./support-crisis-services";
@import "./text";
@import "./img-bg";
@import "./split-carousel";
@import "./split-img";
@import "./horizontal";
@import "./multi-image";
@import "./breathing-exercise";
