.header-container--split-carousel {
  @screen md {
    padding-top: $top-nav-height-tablet;
    margin-top: -$top-nav-height-tablet;
  }

  @screen xl {
    padding-top: $top-nav-height-desktop;
    margin-top: -$top-nav-height-desktop;
  }
}

.page-header {
  // - - Split Carousel
  &.type-split-carousel {
    @apply px-0 max-w-none overflow-hidden;
    .carousel-wrap {
      @apply mt-0;
    }

    .page-header-inner {
      @apply container mx-auto;
    }

    .page-header-desc {
      @apply pb-0;

      @screen lg {
        @apply text-px18 leading-px24 tracking-px05;
      }

      @screen lg2 {
        @apply text-px26 leading-px36 tracking-em005;
      }
    }

    .big-img-carousel {
      .swiper-wrapper {
        @apply w-full;
      }

      .img-wrap {
        @apply w-full;
      }
    }

    .page-header-title-top {
      @apply text-px16 leading-px24 md:text-px14 md:leading-px18 lg2:text-px16 lg2:leading-px22;
    }

    .page-header-title {
      @apply text-px32 leading-px40 md:text-px36 md:leading-px42 lg2:text-px46 lg2:leading-px56;
      letter-spacing: rem-calc(1px);
    }

    .page-header-img-wrap {
      @apply mt-px60 z-0;

      @screen md {
        @apply col-span-4 col-start-5 w-full mt-0;
      }

      @screen lg {
        @apply col-span-5 col-start-7;
        width: calc(100% + #{rem-calc(28)});
      }
    }

    .button-group {
      @apply mt-px40;

      @screen md {
        @apply justify-start mt-px30;
      }

      @screen lg {
        @apply mt-px40;
      }
    }

    @screen md {
      .page-header-inner {
        @apply grid tw-grid-tablet items-start;
      }

      .page-header-content-wrap {
        @apply col-span-4 col-start-1 w-full mt-px60;
      }

      .carousel-wrap {
        @apply mb-0 mt-2 w-auto;
      }

      .big-img-carousel,
      .big-img-carousel .carousel-container,
      .big-img-carousel .carousel-full-width-wrap {
        @apply m-0 p-0 w-full;
      }


      .big-img-carousel {
        --img-height: theme('carousel.bigImg.height');
        @apply w-full;
        max-width: unset;

        .carousel-container {
          width: 100%;
          max-width: unset;
        }

        .swiper-wrapper {
          @apply w-full ml-0;
        }

        .swiper-pagination {
          @apply flex;
          @apply pl-0 ml-auto mr-px50;
          width: var(--img-height);
        }

        .swiper-button-wrapper {
          @apply hidden;
        }

        .swiper-slide {
          @apply opacity-10;
          width: var(--img-height);

          figcaption {
            @apply text-px16 leading-px24 w-full;
          }

          img {
            height: var(--img-height);
            width: var(--img-height);
          }

          &-active {
            @apply opacity-100;
          }
        }
      }
    }

    @screen lg {
      @apply mt-0;

      .page-header-inner {
        @apply tw-grid-small-desktop;
      }

      .page-header-title {
        @apply text-px32 leading-px40;
      }

      .page-header-cta {
        @apply text-px18 leading-px26;
      }

      .page-header-inner {
        @apply pb-px120;
      }

      .page-header-content-wrap {
        @apply w-full col-span-5 col-start-1;
        width: calc(100% + #{rem-calc(28)});
        padding-bottom: 15%;
      }

      .big-img-carousel {
        --img-height: theme('carousel.bigImg.height');

        .carousel-full-width-wrap {
          @apply w-full;
        }

        .carousel-container {
          @apply flex;
        }

        .swiper-pagination {
          @apply flex;
          @apply pl-0 ml-auto mr-px80;
          width: var(--img-height);
        }

        .swiper-button-wrapper {
          @apply flex;
          @apply bg-white bg-opacity-90;

          i {
            @apply text-teal-dark;
          }
        }

        .swiper-button-prev {
          left: rem-calc(-28px);
          right: unset;
          width: rem-calc(120px);
        }

        .swiper-button-next {
          width: rem-calc(120px);
          left: unset;
          right: rem-calc(-28);

          .swiper-button-wrapper {
            @apply right-0;
          }
        }

        .swiper-slide {
          figcaption {
            @apply text-px18 leading-px26;
            a {
              @apply text-px20 leading-px26;
            }
          }
        }
      }
    }

    @screen lg2 {
      .page-header-content-wrap {
        @apply col-span-6 col-start-1 w-full;
      }

      .page-header-title {
        @apply text-px46 leading-px56;
      }

      .big-img-carousel {
        --img-height: theme('carousel.bigImg.heightLG');

        .swiper-button-prev {
          right: unset;
          left: rem-calc(-28px);
          width: rem-calc(245px);

          .swiper-button-wrapper {
            left: unset;
            right: 0;
          }
        }

        .swiper-button-next {
          left: unset;
          right: rem-calc(-28px);
          width: rem-calc(245px);
        }

        .swiper-pagination {
          @apply mr-px90;
        }
      }
    }

    @screen xl {
      .big-img-carousel {
        .swiper-button-prev {
          left: rem-calc(-28);
        }
        .swiper-button-next {
          right: rem-calc(-28);
        }

        .swiper-pagination {
          margin-right: rem-calc(200px);
        }
      }
    }
  }
}
