.header-container {
  &--support-trevorspace {
    @apply pb-px128;

    @screen md {
      padding-top: $top-nav-height-tablet;
      margin-top: -$top-nav-height-tablet;
      @apply pb-px110;
    }

    @screen lg {
      @apply pb-px120;
    }

    @screen lg2 {
      padding-top: $top-nav-height-desktop;
      margin-top: -$top-nav-height-desktop;
      @apply pb-px95;
    }

    @screen xl {
      @apply pb-px145;
    }
  }
}

.page-header {
  &.type-support-trevorspace {
    @apply tw-grid justify-center;

    .page-header-inner {
      @apply col-span-full;

      @screen md {
        @apply col-span-6 col-start-2;
      }

      @screen lg {
        @apply col-span-8 col-start-3;
      }
    }

    .page-header-content-wrap {
      @apply w-full pb-0 text-center;
    }

    .page-header-title-top {
      @apply flex items-center flex-wrap justify-center text-px14 leading-px20 font-medium;

      @screen md {
        @apply mb-px16 text-px14 leading-px18;
      }

      @screen lg2 {
        @apply mb-px23 text-px16 leading-px22;
      }

      &__icon {
        @apply flex items-center text-px16 mb-px16 mb-px15 w-full justify-center;

        @screen md {
          @apply mr-px10 inline-flex mb-0 w-auto text-px22;

          &::before {
            @apply h-px15;
          }
        }
      }
    }

    .page-header-title {
      @apply font-semibold text-px38 leading-px52 tracking-em001;

      @screen md {
        @apply text-px36 leading-px46 tracking-em005 mx-auto;
        width: 70%;
      }

      @screen lg {
        @apply text-px40 leading-px50;
      }

      @screen lg2 {
        @apply text-px50 leading-px60 tracking-em001;
        width: 80%;
      }

      @screen xl {
        width: 70%;
      }

      tilt {
        @apply font-bold block text-px65 leading-px75 tracking-em_003;

        @screen md {
          @apply inline-block text-px48 leading-px58 tracking-em005;
        }

        @screen lg {
          @apply text-px50 leading-px60;
        }

        @screen lg2 {
          @apply text-px72 leading-px82 tracking-em_003;
        }
      }

      br {
        @apply hidden;

        @screen md {
          @apply block;
        }
      }
    }

    .page-header-desc {
      @apply text-px18 leading-px24 p-0 mt-px20 tracking-em005;

      @screen mobile {
        @apply font-medium;
      }

      @screen md {
        @apply mt-px16 text-px20 leading-px30;
      }

      @screen lg {
        @apply mt-px20;
      }

      @screen lg2 {
        @apply text-px22 leading-px34 mt-px32;
      }

      @screen xl {
        @apply mt-px22;
      }
    }

    .button-group {
      @apply mt-px30;

      @screen md {
        @apply mt-px22;
      }

      @screen lg {
        @apply mt-px32;
      }
    }

    .page-btn {
      @apply min-w-px216;

      @screen md {
        @apply min-w-px135;
      }

      @screen lg2 {
        @apply min-w-px176;
      }
    }

    .page-header-bottom {
      @apply mt-px20 text-px18 leading-px24 tracking-px025 font-medium;

      @screen md {
        @apply mt-px22 text-px16 leading-px20 tracking-px025;
      }

      @screen lg2 {
        @apply mt-px36 text-px18 leading-px24;
      }

      a {
        @apply font-semibold inline-block;
        @extend .wave-underline;

        @screen md {
          @apply leading-px22;
        }

        @screen lg2 {
          @apply leading-px24;
        }
      }
    }
  }
}
