.header-container--support-crisis-services {
  @apply bg-gradient-crisis-services flex-col text-indigo;
  background-size: 100% 100%;

  @screen md {
    padding-top: $top-nav-height-tablet;
    margin-top: -$top-nav-height-tablet;
  }

  @screen lg2 {
    padding-top: $top-nav-height-desktop;
    margin-top: -$top-nav-height-desktop;
  }
}

.page-header.type-support-crisis-services {
  @apply tw-grid container mx-auto text-center pb-px50;

  @screen mobile {
    max-width: 375px;
  }

  @screen lg {
    padding-left: theme('container.padding.md');
    padding-right: theme('container.padding.md');
  }

  @screen lg2 {
    @apply pb-px60;

    padding-left: theme('container.padding.lg2');
    padding-right: theme('container.padding.lg2');
  }

  .page-header-title {
    @apply font-semibold text-px38 leading-px42 tracking-em001;
    @apply col-span-full;

    @screen md {
      @apply text-px36 leading-px46 tracking-em005;
    }

    @scren lg {
      @apply text-px40 leading-px50 tracking-normal;
    }

    @screen lg2 {
      @apply text-px52 leading-px62;
    }

    tilt {
      @apply block font-bold text-px58 leading-px68 tracking-em_003 -mt-px14;

      @screen md {
        @apply inline mt-0 text-px48 leading-px58 tracking-em005;
      }

      @screen lg {
        @apply text-px55 leading-px70 tracking-em005;
      }

      @screen lg2 {
        @apply text-px70 leading-px80;
      }
    }
  }

  .page-header-desc {
    @apply col-span-full mt-px12 py-0;
    @apply text-px18 leading-px24 tracking-em005;

    @screen md {
      @apply mt-px13 col-span-6 col-start-2;
      @apply text-px20 leading-px30 tracking-em005;
    }

    @screen lg {
      @apply mt-px15 col-span-10 col-start-2 text-px22 leading-px32 tracking-px05;
    }

    @screen lg2 {
      @apply text-px26 leading-px36 tracking-em005;
    }
  }

  .page-header__support-ctas {
    @apply col-span-full flex flex-col items-center mt-px40;

    @screen md {
      @apply mt-px50 grid grid-cols-3;
      grid-column-gap: inherit;
    }

    @screen lg {
      @apply col-span-10 col-start-2;
    }

    @screen lg2 {
      @apply mt-px58 px-px50;
      grid-column-gap: inherit;
    }

    @screen xl {
      @apply col-span-8 col-start-3 px-0 mt-px50;
    }
  }

  .page-header__support-cta {
    @apply flex flex-col justify-center w-full items-center rounded-px10 bg-white text-orange h-px115;

    @screen mobile {
      &:not(:first-child) {
        @apply mt-px18;
      }
    }

    @screen md {
      @apply pt-px16 pb-px24 h-px118;
    }

    i[class^="trevor-ti"] {
      @apply flex items-center justify-center w-px50 h-px50 text-px50;

      @screen md {
        @apply text-px50;
      }

      @screen lg {
        @apply w-px72 h-px72 text-px60;
      }
    }

    &-text {
      @apply font-semibold text-px20 leading-px22 mt-px14;

      @screen md {
        @apply text-px18 leading-px22 mt-px6;
      }

      @screen lg2 {
        @apply text-px18 leading-px22 tracking-px05;
      }
    }
  }

  .page-header__bottom {
    @apply flex justify-center col-span-full mt-px55 text-px30 text-indigo;

    @screen md {
      @apply mt-px70;
    }

    @screen lg {
      @apply mt-px90;
    }

    @screen lg2 {
      @apply mt-px75 text-px35;
    }

    @screen xl {
      @apply mt-px136;
    }
  }
}
