.header-container {
  &--text {
    @screen md {
      padding-top: $top-nav-height-tablet;
      margin-top: -$top-nav-height-tablet;
    }

    @screen lg2 {
      padding-top: $top-nav-height-desktop;
      margin-top: -$top-nav-height-desktop;
    }
  }
}

.page-header {
  &.type-text {
    @apply container mx-auto;
    @apply md:min-h-px445;
    @apply lg2:min-h-px546;

    .hero--inner {
      @apply tw-grid pb-px30;

      grid-auto-rows: min-content;

      @screen lg2 {
        @apply w-full;
      }
    }

    .hero__eyebrow {
      @screen lg {
        @apply text-px14 leading-px18 tracking-px_05;
      }

      @screen lg2 {
        @apply text-px16 leading-px20 tracking-px05;
      }
    }

    h1 {
      @apply col-span-full;
      @apply text-px32 leading-px40;

      @screen md {
        @apply text-px32 leading-px40;
      }

      @screen lg {
        @apply text-px40 leading-px50 tracking-em_001;
      }

      @screen lg2 {
        @apply col-start-3 col-span-8;
        @apply text-px40 leading-px50;
      }

      @screen xl {
        @apply text-px46 leading-px56 tracking-em_001;
      }
    }

    .hero__description {
      @apply col-span-full;
      @apply text-px20 leading-px26;

      @screen md {
        @apply col-start-2 col-span-6 -mx-px28;
        @apply text-px16 leading-px22 tracking-em001;
      }

      @screen lg {
        @apply col-start-3 col-span-8 mx-0 max-w-none;
        @apply text-px22 leading-px32 tracking-px05;
      }

      @screen lg2 {
        @apply text-px24 leading-px34 tracking-px05;
      }

      @screen xl {
        @apply text-px26 leading-px36 tracking-em005;
      }
    }

    .two-cta {
      a {
        @apply bg-teal-dark text-white border-2 border-white;
      }
    }

    .button-group {
      @apply col-span-full;
      @apply mt-px30;
      @apply text-px16 leading-px22;

      // xl
      @apply lg2:mt-px40;
    }

    .page-btn {
      @apply flex items-center justify-center;
      @apply h-px46 tracking-em001 px-px32 py-0;

      @screen md {
        @apply h-px44 px-px24;
      }

      @screen lg {
        @apply h-px66 px-px40;
        @apply text-px18 leading-px26 tracking-px05;
      }

      @screen lg2 {
        @apply text-px20 leading-px26;
      }

      @screen xl {
        @apply tracking-px05;
      }
    }
  }
}
