.post-highlights-container {
  .post-highlights-title {
    @apply uppercase;
    @apply font-extrabold text-px14 leading-px24;
    @apply mt-0;
  }

  .post-highlights-list {
    li {
      @apply px-0;
      @apply font-normal text-base leading-px22;

      & + li {
        margin-top: rem-calc(14px);
        margin-bottom: 0;
      }

      a {
        @apply font-extrabold;
        @apply no-underline;
        color: inherit;
      }

      &::before {
        @apply hidden;
      }
    }
  }

  .highlight-link {
    * {
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      letter-spacing: inherit;
    }
  }

  @screen lg {
    .post-highlights-list {
      li {
        & + li {
          margin-top: rem-calc(20px);
        }
      }
    }
  }
}

.post-highlights-list .highlight-link,
.post-content-wrap .highlight-wrapper {
  @apply transition-colors duration-700;
}

.post-highlights-list .highlight-link {
  @apply ease-out;
}

.post-content-wrap .highlight-wrapper {
  @apply ease-in;
}

.post-highlights-list .post-highlight:hover .highlight-link,
.post-content-wrap .link-hover-active {
  @apply bg-highlight;
  @apply inline-block;
}
