.carousel-testimonials.boxed.boxed {
  @apply py-0 mb-0;

  @screen md {
    @apply py-px80;
  }

  .carousel-testimonials-inner {
    @apply py-px60 max-w-none mx-0;

    @screen md {
      @apply py-px34 px-0 rounded-px10 overflow-hidden mx-auto;
      width: calc(100% - 100px);
    }

    @screen lg {
      @apply py-px86;
      width: calc(100% - (theme('container.padding.lg') * 2));
    }

    @screen lg2 {
      @apply py-px105;
      width: calc(100% - (theme('container.padding.lg2') * 2));
    }

    @screen xl {
      width: calc(100% - 280px);
      max-width: #{rem-calc(1160)};
    }
  }

  // Boxed, Contained
  &.contained {
    blockquote {
      @apply text-px28 leading-px38 tracking-em005;

      @screen md {
        @apply text-px20 leading-px26;
      }

      @screen lg {
        @apply text-px24 leading-px34;
      }

      @screen lg2 {
        @apply text-px32 leading-px40;
      }
    }

    figcaption {
      @apply text-px18 leading-px26;

      @screen md {
        @apply text-px14 leading-px22;
      }

      @screen lg {
        @apply text-px18 leading-px26;
      }

      @screen lg2 {
        @apply font-medium text-px22 leading-px32 tracking-px05;
      }
    }

    .carousel-testimonials-img-wrap {
      @apply rounded-px10 overflow-hidden;
    }

    // Boxed, Contained, Image Left
    &.image-left {
      .carousel-testimonials-img-wrap {
        @screen md {
          @apply col-start-1 col-span-4 mx-px30;
        }

        @screen lg {
          @apply col-start-2 col-span-4 ml-0 -mr-px30;
        }

        @screen xl {
          @apply mr-0;
        }
      }

      .carousel-testimonials-txt-wrap {
        @screen md {
          @apply col-start-5 col-span-4 mr-px24;
        }

        @screen lg {
          @apply col-span-7 col-start-6 ml-px28 mr-px45;
        }

        @screen lg2 {
          @apply mx-px60;
        }

        @screen xl {
          @apply col-span-5 col-start-7 mx-0;
        }
      }
    }

    // Boxed, Contained, Image Right
    &.image-right {
      .carousel-testimonials-txt-wrap {
        @screen md {
          @apply col-start-1 col-span-4 mr-px34;
        }

        @screen lg {
          @apply col-span-7 mr-px28 ml-px45;
        }

        @screen lg2 {
          @apply mx-px60;
        }

        @screen xl {
          @apply col-span-5 col-start-2 mx-0;
        }
      }

      .carousel-testimonials-img-wrap {
        @screen md {
          @apply col-start-5 col-span-4 mr-px24;
        }

        @screen lg {
          @apply col-start-8 col-span-4 mr-0 -ml-px30;
        }
      }
    }
  }

  // Boxed, Cover
  &.cover {
    .carousel-testimonials-inner {
      @screen lg {
        @apply py-0;
      }
    }

    // Boxed, Cover, Image Left
    &.image-left {
      .carousel-testimonials-inner {
        @apply pt-0;
      }

      .carousel-testimonials-img-wrap {
        @screen lg {
          @apply col-span-5 mx-0 left-0;
        }
      }

      .carousel-testimonials-txt-wrap {
        @screen lg {
          @apply col-start-7 col-span-5;
        }
      }
    }

    // Boxed, Cover, Image Right
    &.image-right {
      .carousel-testimonials-inner {
        @apply pb-0;
      }

      .carousel-testimonials-txt-wrap {
        @screen lg {
          @apply col-start-2 col-span-5;
        }
      }

      .swiper-container {
        @screen md {
          @apply w-full mr-0;
        }
      }
    }
  }
}
