.post-carousel {
  .carousel-container {
	width: theme('postCard.width.DEFAULT');
  }

  body:not(.is-rc) & .swiper-pagination-bullet {
	@apply bg-teal-dark opacity-30;

	&.swiper-pagination-bullet-active {
	  @apply opacity-100;
	}
  }

  .carousel-full-width-wrap {
		@apply pt-3;
  }

  body.is-rc & {
	.page-sub-title,
	.page-sub-title-desc {
	  @apply text-white;
	}
  }

	.swiper-button {
		@apply w-px100;

		&-prev {
			@apply hidden;

			.swiper-button-wrapper {
				right: unset;
				left: 0;
			}

			@screen lg {
				@apply flex;
				$left-padding: calc( ( ( 100vw - 924px ) / 2 ) - 2.8rem );
				left: $left-padding;
			}

			@screen lg2 {
				$left-padding: calc( ( ( 100vw - 1120px ) / 2 ) - 2.8rem );
				left: $left-padding;
			}

			@screen xl {
				$left-padding: calc( ( ( 100vw - 1240px ) / 2 ) - 2.8rem );
				left: $left-padding;
			}

			@screen 2xl {
				$left-padding: calc( ( ( 100vw - 1400px ) / 2 ) - 2.8rem );
				left: $left-padding;
			}
		}

		&-next {
			&.should-hide {
				@apply hidden;
			}

			right: unset;
			@apply hidden;

			@screen lg {
				$left-padding: calc( ( ( 100vw - 924px ) / 2 ) );
				--carousel-card-size: theme('postCard.width.lg');
				--number-of-cards: 2;
				@apply flex;
				left: calc( #{$left-padding} + ( var(--number-of-cards) * var(--carousel-card-size) ) );
			}

			@screen lg2 {
				$left-padding: calc( ( ( 100vw - 1120px ) / 2 ) );
				--carousel-card-size: theme('postCard.width.lg2');
				--number-of-cards: 3;
				left: calc( #{$left-padding} + ( var(--number-of-cards) * var(--carousel-card-size) ) + 1.875rem );
			}

			@screen xl {
				$left-padding: calc( ( ( 100vw - 1240px ) / 2 ) );
				--carousel-card-size: theme('postCard.width.xl');
				--number-of-cards: 3;
				left: calc( #{$left-padding} + ( var(--number-of-cards) * var(--carousel-card-size) ) + 1.875rem );
			}

			@screen 2xl {
				$left-padding: calc( ( ( 100vw - 1400px ) / 2 ) );
				--carousel-card-size: theme('postCard.width.xl');
				--number-of-cards: 3;
				left: calc( #{$left-padding} + ( var(--number-of-cards) * var(--carousel-card-size) ) + 1.875rem );
			}
		}
	}



  @screen md {
	.carousel-container {
	  width: theme('postCard.width.md');
	}
  }

  @screen lg {
	@apply mb-24;

	.carousel-container {
	  width: rem-calc(395px);
	}

	// Hide arrows if there are only 3 cards
	&.card-count-3 {
	  .swiper-button-next,
	  .swiper-button-prev {
		@apply hidden;
	  }
	}
  }

	@screen lg2 {
		.carousel-container {
			width: theme('postCard.width.lg2');
		}
	}

	@screen xl {
		.carousel-container {
			width: theme('postCard.width.xl');
		}
	}

  // Only Md fixes
  &.only-md {
	// Small
	@media screen and (max-width: theme('carousel.w3Card.minWidth') /*500px*/
	) {
	  .swiper-pagination {
		@apply hidden;
	  }

	  .carousel-container,
	  .carousel-full-width-wrap {
		width: theme('postCard.width.DEFAULT');
	  }

	  .carousel-container,
	  .carousel-full-width-wrap {
		@apply m-0 p-0;
		margin: 0 auto;
	  }

	  .swiper-wrapper {
		@apply flex flex-col w-full;
	  }

	  .swiper-slide + .swiper-slide {
		@apply mt-5;
	  }

	  .card-post {
		@apply mx-auto;
	  }
	}

	// large
	@media screen and (min-width: theme('carousel.w3Card.maxWidth') /*1275px*/
	) {
	  .carousel-full-width-wrap {
		@apply mx-auto px-0 w-screen;
		margin-left: calc((100vw - 100%) / -2);

		.carousel-container {
		  @apply w-full;
		  max-width: none;

		  .swiper-wrapper {
			margin: 0 auto;
		  }
		}

		.swiper-wrapper {
		  @apply flex flex-row justify-center;
		}

		.swiper-pagination {
		  @apply hidden;
		}

		.swiper-slide {
		  //width: theme('postCard.width.md');
		  margin: 0 rem-calc(10px);
		}
	  }
	}

	@screen md {
	  .swiper-slide {
		width: theme('postCard.width.md');
	  }

	  //  .carousel-title,
	  //  .carousel-subtitle {
	  // @apply text-center;
	  //  }
	}

	@screen lg {
	  .swiper-slide {
		width: theme('postCard.width.lg');
	  }
	}

  }

	&--staff {
		.carousel-container {
			width: theme('staffCard.width.DEFAULT');

			@screen xl {
				width: theme('staffCard.width.xl');
			}
		}

		.swiper-button {
			@apply hidden;
			&-next {
				@screen lg {
					--carousel-card-size: theme('staffCard.width.DEFAULT');
					--number-of-cards: 3;
				}

				@screen xl {
					--carousel-card-size: theme('staffCard.width.xl');
					--number-of-cards: 3;
				}
			}
		}
	}
}
