.post-carousel {
  .carousel-container {
	width: theme('postCard.width.DEFAULT');
  }

  body:not(.is-rc) & .swiper-pagination-bullet {
	@apply bg-teal-dark opacity-30;

	&.swiper-pagination-bullet-active {
	  @apply opacity-100;
	}
  }

  @screen md {
	.carousel-container {
	  width: theme('postCard.width.md');
	}
  }

  @screen lg {
	@apply mb-24;

	.carousel-container {
	  width: rem-calc(395px);
	}

	// Hide arrows if there are only 3 cards
	&.card-count-3 {
	  .swiper-button-next,
	  .swiper-button-prev {
		@apply hidden;
	  }
	}
  }

	@screen lg2 {
		.carousel-container {
			width: rem-calc(355px);
		}
	}

	@screen xl {
		.carousel-container {
			width: rem-calc(395px);
		}
	}

  // Only Md fixes
  &.only-md {
	// Small
	@media screen and (max-width: theme('carousel.w3Card.minWidth') /*500px*/
	) {
	  .swiper-pagination {
		@apply hidden;
	  }

	  .carousel-container,
	  .carousel-full-width-wrap {
		width: theme('postCard.width.DEFAULT');
	  }

	  .carousel-container,
	  .carousel-full-width-wrap {
		@apply m-0 p-0;
		margin: 0 auto;
	  }

	  .swiper-wrapper {
		@apply flex flex-col w-full;
	  }

	  .swiper-slide + .swiper-slide {
		@apply mt-5;
	  }

	  .card-post {
		@apply mx-auto;
	  }
	}

	// large
	@media screen and (min-width: theme('carousel.w3Card.maxWidth') /*1275px*/
	) {
	  .carousel-full-width-wrap {
		@apply mx-auto px-0 w-screen;
		margin-left: calc((100vw - 100%) / -2);

		.carousel-container {
		  @apply w-full;
		  max-width: none;

		  .swiper-wrapper {
			margin: 0 auto;
		  }
		}

		.swiper-wrapper {
		  @apply flex flex-row justify-center;
		}

		.swiper-pagination {
		  @apply hidden;
		}

		.swiper-slide {
		  //width: theme('postCard.width.md');
		  margin: 0 rem-calc(10px);
		}
	  }
	}

	@screen md {
	  .swiper-slide {
		width: theme('postCard.width.md');
	  }

	  //  .carousel-title,
	  //  .carousel-subtitle {
	  // @apply text-center;
	  //  }
	}

	@screen lg {
	  .swiper-slide {
		width: theme('postCard.width.lg');
	  }
	}

  }
}
