.carousel-testimonials {
  max-width: 100vw;

  &-inner {
	@apply flex flex-col;
	@apply overflow-hidden;
	@apply max-w-full;
	@apply bg-canary;
  }

  &-img-wrap {
	@apply bg-white;
	@apply w-full;
	@apply flex-1;
  }

  &-txt-wrap {
	@apply max-w-full;
	@apply py-4;

	.swiper-pagination {
	  @apply flex;
	  @apply -mt-4;
	  @apply pb-8 lg:pb-0;
	  @apply z-2;

	  .swiper-pagination-bullet {
		@apply bg-teal-dark;
		@apply z-2;
	  }
	}
  }

  @screen md {
	&-inner {
	  @apply flex-row;
	}

	&-img-wrap {
	  height: rem-calc(312px);
	  width: rem-calc(312px);
	}

	&-txt-wrap {
	  width: calc(100% - #{rem-calc(312px)});
	  @apply py-0;

	  .swiper-container {
		@apply relative top-1/2 left-1/2;
		transform: translate(-50%, -50%);
	  }
	}
  }

  @screen lg {
	&-img-wrap {
	  height: rem-calc(450px);
	  width: rem-calc(450px);
	}

	&-txt-wrap {
	  width: calc(100% - #{rem-calc(450px)})
	}
  }

  @screen xl {

	&-img-wrap {
	  height: rem-calc(600px);
	  width: rem-calc(600px);
	}

	&-txt-wrap {
	  width: calc(100% - #{rem-calc(600px)});
	}
  }

  .trevor-ti-quote-open,
  .trevor-ti-quote-close {
	color: theme('colors.teal.dark');
  }

  .swiper-slide {
	@screen md {
	  @apply self-stretch inline-block align-top whitespace-normal;
	}

	figure {
	  @screen md {
		@apply flex items-center justify-center;
	  }
	}
  }

  .panes-container {
	&.is-mobile-breakpoint {
	  @apply hidden;
	}
  }

  blockquote {
	@apply overflow-hidden overflow-ellipsis lg:text-px28 mx-auto;
	@screen md {
	  /**
	   * 442px = width of the blockquote's container at tablet breakpoint
	   * 370px = target width of the blockquote at tablet breakpoint
	  */
	  width: calc(370 / 442 * 100%);
	}

	@screen lg {
	  @apply w-px500;
	}
  }

  figcaption {
	@apply lg:text-px20;
  }
}
