// Mixin to shift images below the header
@mixin neg-img-btm-margin($img-btm-margin) {
  .thumbnail-wrap {
	margin-bottom: $img-btm-margin;
  }

  & + .post-content-wrap {
	padding-top: #{-1 * $img-btm-margin};
  }
}

.post-header {
  height: auto;
  min-height: 530px;
  max-height: 1040px;
  @apply bg-teal-dark;
}

.post-header-inner {
  @apply mx-auto;
  @apply grid grid-cols-1 gap-4;
  max-width: rem-calc(1018px);

  // Thumbnail Wrap
  .thumbnail-wrap {
	img {
	  @apply object-cover object-center;
	  @apply w-full h-full;
	}
  }
}

.post-header-content {
  @apply mx-auto flex flex-col items-center text-center;
  @apply pt-4;
  @apply w-full;

  .title-top {
	@apply text-px14 leading-px18 tracking-px05 font-medium uppercase;
  }

  .title {
	@apply text-px32 leading-px40 tracking-em001 font-semibold;
	@apply my-3.5;
  }

  .title-btm {
	@apply text-px18 leading-px26 font-normal;
  }

  // Mid Row
  .mid-row {
	@apply flex flex-row items-center;
	@apply my-2;
  }

  .length-indicator {
	@apply font-extrabold text-px14 leading-px26;
  }

  .mid-row-v-separator {
	@apply mx-4;
	width: rem-calc(1px);
	height: rem-calc(29px);

	.post-header.text-white & {
	  @apply bg-white;
	}

	.post-header.text-indigo & {
	  @apply bg-indigo;
	}
  }

  // Tags
  .tags-box {
	@apply flex justify-center flex-wrap;

	> * {
	  @apply m-1 block h-auto w-auto whitespace-nowrap;
	}
  }

  // Sharing Box
  .sharing-box {
	@apply my-4;

	.share-icon {
	  @apply mx-2 cursor-pointer;
	  font-size: rem-calc(14px);
	}
  }

  // Medium
  @screen md {
	.title-top {
	  @apply font-semibold;
	}

	.title {
	  @apply text-px38 leading-px42 font-bold;
	  @apply my-2;
	}

	.title-btm {
	  @apply text-px18 leading-px22;
	}

	.length-indicator {
	  @apply uppercase;
	}

	// Sharing Box
	.sharing-box {
	  .share-icon {
		font-size: 1rem;
	  }
	}
  }

  // Large
  @screen lg {
	.title-top {
	  @apply text-base leading-px20 font-medium;
	}

	.title {
	  @apply text-px46 leading-px56 tracking-em_001;
	  @apply my-4;
	}

	.title-btm {
	  @apply text-px24 leading-px36 tracking-em005;
	}

	.length-indicator {
	  @apply tracking-px05 font-semibold;
	}
  }
}

// Content Wrap
.header-content-wrap {
}


// Types
.post-header {
  --neg-top-margin: calc(var(--top-nav-top-margin) + var(--top-nav-height));
  padding-top: var(--neg-top-margin);
  margin-top: calc(-1 * var(--neg-top-margin));

  // Resources Center
  body.is-rc & {
	@apply bg-purple;
  }

  // By Post Type
  body.single-trevor_rc_article & {
	@apply bg-violet-alt;
  }

  // Purple bg
  &:not(.type-text_only):not(.type-full) {
	@apply bg-purple;
  }

  /* Breaking Headers, Img at the btm for mobile */
  &.type-split,
  &.type-horizontal,
  &.type-square {
	.thumbnail-wrap {
	  @apply z-10;
	  @apply overflow-hidden;
	  @apply w-screen;
	  max-height: rem-calc(375px);
	  margin-left: calc((100vw - 100%) / -2);
	}

	.tags-box {
	  @apply mb-6;
	}
  }

  /* Horizontal */
  &.type-horizontal {
	@apply z-10 relative;
  }

  /* Full */
  &.type-full {
	min-height: rem-calc(720px);
  }

  /* Text Only */
  &.type-text_only {
	@apply flex flex-col justify-around;
	min-height: rem-calc(500px);
	box-sizing: content-box;

	.post-header-inner {
	  margin-top: -10%;
	}

	.thumbnail-wrap {
	  img {
		@apply hidden;
	  }
	}
  }

  /* Text Only & Full */
  &.type-full,
  &.type-text_only {
	@apply relative overflow-hidden;

	.thumbnail-wrap {
	  @apply -z-1;
	  @apply h-full absolute top-0 left-0 w-screen;

	  img {
		@apply w-full h-full max-h-full;
		@apply object-cover object-center;
	  }
	}
  }

  // Medium
  @screen md {
	/* Breaking Headers, Img at the btm for mobile */
	&.type-split,
	&.type-horizontal,
	&.type-square {
	  .thumbnail-wrap {
		@apply rounded-px10;
		// reverse the mobile
		@apply w-auto;
		@apply ml-auto;
	  }
	}

	/* Min Height */
	&.type-square {
	  min-height: rem-calc(550px);
	}

	&.type-split {
	  min-height: rem-calc(640px);
	}

	&.type-text_only {
	  min-height: rem-calc(500px);

	  .post-header-inner {
		margin-top: -5%;
		max-width: rem-calc(500px);
		box-sizing: content-box;
	  }
	}

	/* Split & Square */
	&.type-split,
	&.type-square {
	  .post-header-inner {
		@apply grid grid-cols-2 gap-x-7;
	  }
	}

	/* Split */
	&.type-split {
	  .thumbnail-wrap {
		max-height: rem-calc(382px);
	  }
	}

	/* Square */
	&.type-square {
	  .thumbnail-wrap {
		@apply w-full;
		max-height: none;
	  }
	}

	/* Full */
	&.type-full {
	  min-height: rem-calc(590px);

	  .post-header-content {
		@apply w-1/2 ml-0;
	  }

	  .tags-box {
		@apply mt-2;
	  }
	}

	/* Horizontal */
	&.type-horizontal {
	  @include neg-img-btm-margin(rem-calc(-190px));

	  .thumbnail-wrap {
		@apply mt-7;
		max-height: rem-calc(312px);
	  }
	}

	/* Only horizontal & text_only keeps it centered. */
	&:not(.type-horizontal):not(.type-text_only) {
	  .post-header-content {
		@apply items-start text-left;
		.tags-box {
		  @apply justify-start;
		}
	  }
	}
  }

  // Large
  @screen lg {
	/* Split & Square */
	&.type-split,
	&.type-square {
	  max-height: rem-calc(840px);

	  .post-header-content {
		@apply mt-8;
	  }
	}

	&.type-square {
	  @include neg-img-btm-margin(rem-calc(-150px));
	}

	/* Split */
	&.type-split {
	  @include neg-img-btm-margin(rem-calc(-130px));

	  .thumbnail-wrap {
		max-height: rem-calc(647px);
	  }
	}

	/* Horizontal */
	&.type-horizontal {
	  @include neg-img-btm-margin(rem-calc(-370px));

	  .thumbnail-wrap {
		max-height: rem-calc(580px);
	  }
	}

	/* Full */
	&.type-full {
	  min-height: rem-calc(590px);

	  .post-header-content {
		margin-top: 5rem;
		margin-bottom: 9rem;
		@apply w-full mx-auto;
	  }

	  & ~ .post-content-wrap {
		.post-content-grid > * {
		  padding-top: rem-calc(80px);
		}
	  }
	}

	/* Text Only */
	&.type-text_only {
		min-height: rem-calc(800px);
		box-sizing: border-box;

	  .post-header-inner {
		margin-top: 0;
		max-width: rem-calc(818px);
	  }

	  .post-header-content {
		@apply pb-12;
	  }
	}
  }
}
