.info-page-body {
	@apply mt-px38 text-px14 leading-px20;
	@apply md:mt-px60 md:col-span-8 md:text-px16 md:leading-px22;
	@apply lg2:mt-0 md:text-px18 md:leading-px26;

	p:not(:first-child) {
		@apply mt-px18;
	}

	h2 {
		@apply text-px22 leading-px32 font-bold;
		@apply md:text-px24 md:leading-px28 md:tracking-px_05;
		@apply lg2:text-px30 lg2:leading-px40;

		&:not(:first-child) {
			@apply mt-px38 md:mt-px48;

			+ p {
				@apply mt-px16 md:mt-px20 lg2:mt-px18;
			}
		}
	}

	h3 {
		@apply text-px20 leading-px26 font-bold;
		@apply md:text-px22 md:leading-px30;
		@apply lg2:text-px22 lg2:leading-px30;

		&:not(:first-child) {
			@apply mt-px28 md:mt-px48 lg2:mt-px28;

			+ p {
				@apply mt-px14 md:mt-px20 lg2:mt-px14;
			}
		}
	}

	ul,
	ol {
		&:not(:first-child) {
			@apply mt-px28 lg2:mt-px30;
		}
	}

	ul {
		li {
			&::before {
				@apply block relative top-px9 w-px6 h-px6 bg-current rounded-full -mb-px6 -ml-px24;
				content: '';
			}

			li::before {
				@apply border-current border-px1 bg-transparent;
			}
		}
	}

	ol {
		counter-reset: list-item-number;

		li {
			&::before {
				@apply inline-block relative -ml-px24 w-px24 align-baseline font-semibold;
				counter-increment: list-item-number;
				content: counter(list-item-number) ". ";
			}
		}
	}

	li {
		@apply pl-px24;

		&:not(:first-child),
		ol,
		ul {
			@apply mt-px20 md:mt-px18;
		}
	}
}
