.audit {
  background-color: theme('colors.teal.dark');
  @apply pt-px100 pb-px40;

  &.audit-fundraise {
	background-color: theme('colors.blue_green.DEFAULT');
  }

  @screen md {
	@apply pt-px80;
  }

  @screen lg {
	@apply pt-px140 pb-px140;
  }

  h3 {
	@apply text-px32 leading-px40 font-bold mb-px80;
	color: white;

	@screen md {
	  @apply text-px32 leading-px40 mb-px70;
	}

	@screen lg {
	  @apply text-px32 leading-px40 mb-px90;
	}
  }

  &--card {

	img {
	  @apply mb-px42 mx-auto block;

	  @screen md {
		@apply mb-px41;
	  }

	  @screen lg {
		@apply mb-px37;
	  }
	}

	p {
	  color: theme('colors.white.DEFAULT');
	  @apply font-medium text-px20 leading-px30 tracking-px05 mx-auto max-w-px319;

	  @screen md {
		@apply font-normal text-px18 leading-px22 max-w-px422; 
	  }

	  @screen lg {
		@apply text-px20 leading-px28 h-px128 max-w-px394 pl-px30 pr-px30;
	  }

	}
  } 

  &-holder,
  &-container {
	@screen lg {
	  @apply hidden;
	}
  }

  .swiper-pagination {
	width: 100%;

	@screen md {
	  @apply flex;
	}

	@screen lg {
	  @apply hidden;
	}

	span {
	  background: rgba(255, 255, 255, 0.3);

	  &.swiper-pagination-bullet-active {
		background: white;
	  }
	}
  }
}
