.donation-form {
  background: white;

  @screen lg {
	@apply flex justify-between items-stretch;
  }

  &__content {
	@apply px-px28 pt-px80 pb-px80;

	@screen md {
	  @apply pt-px100;
	}

	@screen lg {
	  @apply pt-0 flex flex-auto justify-end ;
	}

	&-wrapper {
	  @apply mr-auto ml-auto max-w-px493;

	  @screen lg {
		width: 72%;
		margin-right: 16%;
		@apply flex flex-col justify-center max-w-none;
	  }

	  h2 {
		color: theme('colors.teal.dark');
		@apply font-bold text-px32 leading-px40 mb-px20;

		@screen md {
		  @apply leading-px42 mb-px8;
		}

		@screen lg {
		  @apply text-px40 leading-px48 mb-px20;
		}
	  }

	  p {
		color: theme('colors.teal.dark');
		@apply font-normal text-px20 leading-px26 mb-px40;

		@screen md {
		  @apply text-px18 leading-px24 mb-px50;
		}

		@screen lg {
		  @apply text-px20 leading-px28 mb-px58;
		}
	  }

	  form {
		input:not([type="submit"]) {
		  @apply invisible overflow-hidden opacity-0 h-0;
		}

		input[type="text"],
		input[type="number"] {
		  border: 1px solid rgba(0, 58, 72, 0.5);
		  @apply h-px68 w-full block visible  rounded-px10 box-border px-px35;
		  opacity: 1;
			color: theme('colors.teal.dark');

			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: theme('colors.teal.dark');
				opacity: 1; /* Firefox */
			}
			
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: theme('colors.teal.dark');
			}
			
			&::-ms-input-placeholder { /* Microsoft Edge */
				color: theme('colors.teal.dark');
			}

		  @screen md {
			@apply h-px72;
		  }
		}

		.frequency--choices {
		  @apply flex mb-px30;

		  @screen lg {
			@apply mb-px40;
		  }

		  label {
			background: white;
			border: 1px solid rgba(0, 58, 72, 0.5);
			@apply flex-auto py-px17 font-medium text-px18 leading-px24 box-border rounded-none rounded-tl-px10 rounded-bl-px10 cursor-pointer border-l-0;
			border: 1px solid rgba(0, 58, 72, 0.5);
			width: rem-calc(214px);

			&:first-child {
			@apply border-r-0;
			}

			&:last-child {
			@apply border-l-0;
			}

			@screen lg {
			  @apply text-px18 leading-px26;
			}

			&.is-selected {
			  background-color: theme('colors.teal.dark');
			  color: white;
			  @apply border-r-0;
			}

			& + label {
			  @apply rounded-none rounded-tr-px10 rounded-br-px10;
			}
		  }
		}

		.amount {
		  @apply mb-px40;

		  @screen lg {
			@apply mb-px50;
		  }

		  &-choices {
			@apply flex justify-between flex-wrap font-medium text-px16 leading-px20 mb-px30;


			label {
			  flex: 0 0 49%;
				color: theme('colors.teal.dark');
			  @apply py-px22 font-normal text-px16 leading-px20 mb-px14 rounded-px10 text-center cursor-pointer;
			  border: 1px solid rgba(0, 58, 72, 0.5);

			  &.is-selected {
				background-color: theme('colors.teal.dark');
				color: white;
			  }
			}

			@screen md {
			  @apply text-px18 leading-px24;

			  label {
				flex: 0 0 23%;
				@apply py-px30 text-px18 leading-px24 mb-0;
			  }
			}

			@screen lg {
			  @apply leading-px24;

			  label {
				@apply py-px30 text-px18 leading-px26;
			  }
			}
		  }
		}

		.submit {
		  input[type="submit"] {
			background-color: theme('colors.teal.dark');
			color: white;
			@apply py-px18 font-bold text-px16 leading-px22 rounded-px10 text-center cursor-pointer;
			width: 100%;

			@screen md {
			  width: rem-calc(233px);
			}
		  }
		}
	  }
	}
  }

  &__image {
	@screen lg {
	  flex: 0 0 42%;
	}

	.image-wrapper {
	  width: 100%;
	  height: auto;
	  padding-top: calc((1 / 1) * 100%);
	  @apply block relative overflow-hidden;

	  @screen md {
		padding-top: calc((450 / 768) * 100%);
	  }

	  @screen lg {
		height: rem-calc(892px);
		padding-top: calc((892 / 600) * 100%);
	  }


	  img {
		width: 100%;
		height: 100%;

		@apply block absolute top-0 bottom-0 left-0 right-0 object-cover;
	  }
	}

  }
}
