.donation-form {
  @include tw-respond(
    bg-white container mx-auto,
    $lg2: grid tw-grid-medium-desktop,
  );

  &__content {
    @apply tw-grid;
    @apply pt-px80 pb-px80;

    @screen lg2 {
      @apply col-span-7 grid-cols-7;
    }

    &-wrapper {
      @apply mr-auto ml-auto w-full col-span-12;

      @screen md {
        @apply col-span-6 col-start-2;
      }

      @screen lg {
        @apply col-span-8 col-start-3;
        @apply flex flex-col justify-center max-w-none;
      }

      @screen lg2 {
        @apply col-span-full;
      }

      h2 {
        @include tw-respond(
          font-bold text-px32 leading-px40 mb-px20 text-teal-dark text-left,
          $md: leading-px42 mb-px8 text-center,
          $lg: text-px34 leading-px44 tracking-px_05 mb-px20,
          $lg2: text-left text-px40 leading-px48 tracking-px_05 mb-px20,
        );
      }

      p {
        @include tw-respond(
          font-normal text-px20 leading-px26 mb-px40 text-teal-dark text-left,
          $md: text-px18 leading-px24 tracking-em005 mb-px50 text-center,
          $lg2: text-left text-px20 leading-px28  tracking-em005 mt-px20 mb-px58,
        );
      }

      form {
        input:not([type="submit"]) {
          @apply invisible overflow-hidden opacity-0 h-0;
        }

        input[type="text"],
        input[type="number"] {
          border: 1px solid rgba(0, 58, 72, 0.5);
          @apply h-px68 w-full block visible  rounded-px10 box-border px-px35 text-teal-dark;
          opacity: 1;

          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            @apply text-teal-dark;
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            @apply text-teal-dark;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            @apply text-teal-dark;
          }

          @screen md {
            @apply h-px72;
          }
        }

        input[type="text"] {
          &:focus {
            @apply ring-1 ring-offset-0 ring-teal-dark ring-offset-transparent;
          }
        }

        .frequency {
          .visually-hidden {
            @apply overflow-hidden h-0;
          }
        }

        .frequency--choices {
          @apply flex mb-px30;

          @screen lg {
            @apply mb-px40;
          }

          @screen xl {
            @apply inline-flex min-w-px444;
          }

          button {
            border: 1px solid rgba(0, 58, 72, 0.5);
            @apply flex-auto py-px17 font-medium text-px18 leading-px24 box-border rounded-none rounded-tl-px10 rounded-bl-px10 cursor-pointer border-l-0 bg-white text-teal-dark w-px214;
            border: 1px solid rgba(0, 58, 72, 0.5);

            &:first-child {
              @apply border-r-0;
            }

            &:last-child {
              @apply border-l-0;
            }

            @screen lg {
              @apply text-px18 leading-px26;
            }

            &.is-selected {
              @apply border-r-0 text-white bg-teal-dark;
            }

            & + button {
              @apply rounded-none rounded-tr-px10 rounded-br-px10;
            }
          }
        }

        .amount {
          @apply mb-px40;

          @screen lg {
            @apply mb-px50;
          }

          &-choices {
            @apply flex justify-between flex-wrap font-medium text-px16 leading-px20 mb-px30;


            button {
              flex: 0 0 49%;
              @apply py-px22 font-normal text-px16 leading-px20 mb-px14 rounded-px10 text-center cursor-pointer text-teal-dark;
              border: 1px solid rgba(0, 58, 72, 0.5);

              &.is-selected {
                @apply bg-teal-dark text-white;
              }
            }

            @screen md {
              @apply text-px18 leading-px24;

              button {
                flex: 0 0 23%;
                @apply py-px30 text-px18 leading-px24 mb-0;
              }
            }

            @screen lg {
              @apply leading-px24;

              button {
                @apply py-px30 text-px18 leading-px26;
              }
            }
          }
        }

        .submit {
          input[type="submit"] {
            @apply py-px18 font-bold text-px16 leading-px22 rounded-px10 text-center cursor-pointer text-white bg-teal-dark w-full;

            @screen md {
              width: rem-calc(233px);
            }
          }
        }

        input[type="number"].custom-amount {
          @apply overflow-hidden invisible h-0 my-0 py-0;
        }
      }
    }
  }

  &__image {
    @apply col-span-5 col-start-8 -mx-px28;

    @screen md {
      @apply -mx-px50;
    }

    @screen lg {
      @apply -mx-px90;
    }

    @screen lg2 {
      @apply col-span-5 ml-0 -mr-px120;
    }

    @screen xl {
      @apply -mr-px140;
    }

    .image-wrapper {
      padding-top: calc((1 / 1) * 100%);
      @apply block relative overflow-hidden w-full h-auto;

      @screen md {
        padding-top: calc((450 / 768) * 100%);
      }

      @screen lg {
        height: rem-calc(892px);
        padding-top: calc((892 / 600) * 100%);
      }


      img {
        @apply block absolute top-0 bottom-0 left-0 right-0 object-cover w-full h-full;
      }
    }

  }
}
