.is-donate {
  .page-header {
	&-inner {
	  position: relative;
	}
  }

  .page-header.type-split-img .page-header-inner {
	@apply mb-0;
  }

  .page-header.type-split-img .page-header-img-wrap {
	align-items: flex-end;
  }

  .page-header-cta {
	display: none;
  }
}
