.charity-navigator {
  @apply pt-0 pb-0;

  @screen mobile {
    @apply bg-teal-tint;
  }

  @screen md {
    @apply pt-px100 pb-px100;
  }

  @screen lg {
    @apply pt-px140 pb-px140;
  }

  &-container {
    @apply hidden;

    @screen lg {
      @apply block;
    }

    &.mobile-only {
      @apply block;

      @screen lg {
        @apply hidden;
      }
    }
  }

  &--wrapper {
    @apply pt-px80 pb-px80 rounded-px10 pl-px30 pr-px30 bg-teal-tint;

    @screen lg {
      @apply pb-px90 pt-px90;
    }

    @screen xl {
      @apply pb-px120;
    }

    .charity-navigator--heading {
      @apply font-bold text-px32 leading-px40 mb-px10 text-teal-dark;

      @screen lg {
        @apply text-px46 leading-px56 mb-px20;
      }
    }

    p {
      @apply font-normal text-px22 leading-px32 tracking-px05 text-center text-teal-dark;

      @screen lg {
        @apply text-px24 leading-px34;
      }
    }
  }

  &__seal {
    @screen xl {
      @apply mt-px82;
    }
  }

  &-data {
    @apply mt-px50;

    @screen md {
      max-width: unset;
    }

    @screen lg {
      @apply mx-auto mt-px80 max-w-px1028 flex flex-row justify-between items-stretch min-h-full;
    }

    &__item {
      @screen lg {
        flex: 0 0 calc(100% / 3);
        max-width: rem-calc(289px);
        height: unset;

        @apply flex flex-col justify-start;
      }

      .image-placeholder {
        @apply w-full mx-auto;

        @screen lg {
          width: rem-calc(178px);
          height: rem-calc(178px);
        }
      }

      .image-placeholder,
      img {
        display: block;
        @apply mx-auto;
        width: rem-calc(162px);
        height: rem-calc(162px);

        @screen lg {
          width: rem-calc(178px);
          height: rem-calc(178px);
        }
      }

      .image-placeholder,
      img {
        @apply mb-px60 mb-px55 mb-px80;
      }

      &--heading {
        @apply mx-auto max-w-px319 text-px22 leading-px32 tracking-px05 text-center font-normal text-center text-teal-dark;
      }
    }
  }

  .swiper-pagination {
    @apply w-full;

    @screen md {
      @apply flex;
    }

    @screen lg {
      @apply hidden;
    }

    span {
      background: rgba(0, 58, 72, 0.3);

      &.swiper-pagination-bullet-active {
        @apply bg-teal-dark;
      }
    }
  }
}
