.testimonials {
  position: relative;
	
	.carousel-testimonials-txt-wrap .swiper-container {
		@screen lg {
			@apply pb-px50;
		}
	}

  .swiper-pagination {
		position: absolute;
		bottom: calc-rem(70px);
		z-index: 9999;
		width: 100%;

		@screen md {
			right: 0;
			bottom: calc-rem(40px);
			width: 50%;
			display: flex;
		}

		@screen lg {
			width: 100%;
			bottom: calc-rem(-60px);
		}

		span {
			background: rgba(0, 58, 72, 0.3);

			&.swiper-pagination-bullet-active {
			background: theme("colors.teal.dark");
			}
		}
  }
}
