.card-post {
  @apply h-px496;

  @screen md {
    @apply h-px450;
  }

  @screen lg {
    @apply h-px505;
  }

  @screen xl {
    @apply h-px510;
  }

  .post-thumbnail-wrap {
    border-radius: #{rem-calc(10)} #{rem-calc(10)} 0 0;

    @screen md {
      @apply h-px205;
    }
  }

  // External Resource Card
  &.trevor_rc_external {
    .card-text-container {
      @apply text-indigo;
    }

    .title-top,
    .post-title,
    .post-desc {
      color: inherit;
    }

    .post-title {
      @apply text-px32 leading-px42 tracking-px_05;

      @screen lg {
        font-size: 2.125rem;
        line-height: 2.75rem;
      }
    }

    .post-desc {
      @apply text-px16 leading-px24;

      @screen md {
        @apply leading-px22;
      }

      @screen lg {
        @apply text-px20 leading-px28;
      }
    }
  }
}
