.floating-crisis-btn-wrap {
  @apply fixed z-10 bottom-10 left-1/2;
  @apply transform transition-transform -translate-x-1/2;
  --tw-translate-y: 125%;

  body.error404 & {
    @screen mobile {
      --tw-translate-y: 0;
    }

    @screen lg2 {
      @apply bottom-px50;
    }
  }

  .floating-crisis-btn {
	@apply py-3 px-6 rounded-full border-2 border-orange bg-orange shadow-2xl;
	@apply text-white font-bold text-px20 leading-px20 tracking-em001;
	@apply whitespace-nowrap inline;
  }

  .is-not-scrolling & {
	@apply -translate-y-1/2;
  }

  @screen md {
	@apply right-10 left-auto transform-none;

	.floating-crisis-btn {
	  @apply text-px20 leading-px20 tracking-px05;
    // lg2
    @apply lg2:transition-all duration-300 lg2:hover:bg-orange-light lg2:hover:border-orange-light;
	}
  }

  .scroll-near-bottom & {
	@apply absolute;
	@apply translate-y-0;
	bottom: unset;
  }
}
