// General styles
body.is-rc {
  --site-theme-background-r: theme('colors.indigo.DEFAULT-r');
  --site-theme-background-g: theme('colors.indigo.DEFAULT-g');
  --site-theme-background-b: theme('colors.indigo.DEFAULT-b');
}

@import "./floating-crisis-btn";
@import "./cards";
@import "./hero";
@import "./carousel";
@import "./guide";
