.links {
  @apply mb-px28;

  @screen md {
    @apply mb-px60;
  }

  @screen lg {
    @apply mb-px100;
  }

  &-wrapper {
    @apply rounded-px10 pt-px58 pb-px80 pl-px28 pr-px28;
    background: white;

    @screen md {
      @apply pt-px80 pb-px80;
    }
  
    @screen lg {
      @apply pt-px68 pb-px100 pl-0 pr-0;
    } 
  
  }

  &-content {
    color: theme('colors.teal.dark');

    @screen md {
      max-width: 403px;
      @apply mx-auto;
    }

    @screen lg {
      max-width: 490px;
      @apply ml-px58;
    }

    h3 {
      @apply font-bold text-px32 leading-px40 mb-px10;

      @screen md {
        @pply mt-px15;
      }

      @screen lg {
        @pply text-px30 mb-px16 ;
      }
    }

    p {
     @apply mb-px30 text-px18 leading-px26;
     
     @screen md {
       @apply mb-px50;
     }
    }

    ul {
      li {
        display: block;
        @apply mb-px24;

        @screen md {
          display: inline-block;
          @apply mb-px30 mr-px30;
        }
      }

      a {
        display: inline-block;
        position: relative;
        color: theme('colors.teal.dark');
        @apply font-bold text-px18 leading-px24;

        @screen lg {
          @apply text-px20 leading-px26;
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          border-bottom: 1px solid theme('colors.teal.dark');
        }
      }
    }
  }
}