.lessons-video-player {
  @apply mt-px60 mb-px80;

  &__container {
    @apply mx-auto container;
    @apply tw-grid;
  }

  &__lesson {
    @include tw-respond(
      col-span-full,
      $md: col-span-6 col-start-2,
      $lg: col-span-8 col-start-1,
    );
  }

  &__player {
    @apply relative overflow-hidden rounded-px10;
    @include aspect-ratio( 319, 180);

    > * {
      @apply absolute;
    }
  }

  &__player-poster {
    @apply top-0 left-0 w-full h-full;

    img {
      @apply w-full h-full object-cover;
    }
  }

  &__iframe {
    @apply w-full h-full top-0 left-0;
  }

  &__play {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    @apply w-px60 flex items-center justify-center;
    @apply bg-current rounded-px100 text-px20;

    @screen lg2 {
      @apply w-px100 h-px100;
    }

    &::before {
      @apply text-white text-px20;
      height: 1em;

      @screen lg2 {
        @apply text-px35;
      }
    }
  }

  &__title {
    @include tw-respond(
      font-bold mt-px30 text-px22 leading-px28 tracking-em005,
      $md: mt-px32,
      $lg2: text-px26 leading-px32,
    );

    &::before {
      content: attr(data-number) ". ";
    }
  }

  &__body {
    @include tw-respond(
      text-px16 leading-px22 tracking-em001 mt-px12,
      $lg2: text-px18 leading-px26 tracking-em_005 mt-px18,
    );
  }

  &__download {
    @include tw-respond(
      font-bold text-px16 leading-px22 tracking-px025 mt-px20,
      $lg2: text-px20 leading-px24 tracking-em005,
    );
  };
}
