/**
Allows a container's child to bleed out
on the sides, touch the edges of the viewpor
*/
$bleed-margins: (
  default: calc((100vw - theme('container.screens.sm') + (theme('container.padding.DEFAULT') * 2)) / -2 ),
  md: calc((100vw - theme('container.screens.md') + (theme('container.padding.md') * 2)) / -2 ),
  lg: calc((100vw - theme('container.screens.lg') + (theme('container.padding.lg') * 2)) / -2 ),
  lg2: calc((100vw - theme('container.screens.lg2') + (theme('container.padding.lg2') * 2)) / -2 ),
  xl: calc( -1 * theme('container.padding.xl')),
);

$single-bleed-widths: (
  default: 100vw,
  md: calc(100% + ((100vw - theme('container.screens.md')) / 2) + theme('container.padding.md')),
  lg: calc(100% + ((100vw - theme('container.screens.lg')) / 2) + theme('container.padding.lg')),
  lg2: calc(100% + ((100vw - theme('container.screens.lg2')) / 2) + theme('container.padding.lg2')),
  xl: calc(100% + ((100vw - theme('container.screens.xl')) / 2) + theme('container.padding.xl')),
);

// Applies a left bleed
@mixin bleed-l($screen: default, $width: false) {
  @if ( map-has-key($bleed-margins, $screen) ) {
    $width: if( $width == true, map-get($single-bleed-widths, $screen), auto );
    margin-left: #{map-get($bleed-margins, $screen)};
    width: #{$width};
  }
}

// Applies a right bleed
@mixin bleed-r($screen: default, $width: false) {
  @if ( map-has-key($bleed-margins, $screen) ) {
    $width: if( $width == true, map-get($single-bleed-widths, $screen), auto );
    margin-right: #{map-get($bleed-margins, $screen)};
    width: #{$width};
  }
}

// Applies both sides bleed on specific screen supplied
@mixin bleed($screen: default, $width: false) {
  @if ( map-has-key($bleed-margins, $screen) ) {
    $width: if( $width == true, 100vw, auto );
    margin-inline: #{map-get($bleed-margins, $screen)};
  }
}

// Applies bleed for all screens
@mixin bleed-always {
  @each $screen in ( default, md, lg, lg2, xl ) {
    @if ( $screen == default ) {
      @include bleed($screen);
    }
    @else {
      @screen #{$screen} {
        @include bleed($screen);
      }
    }
  }
}
