.card-post {
  --card-background: theme("colors.white.DEFAULT");
  color: var(--site-theme-background);
  @apply flex flex-col relative;
  @apply overflow-hidden;
  @apply shadow-light rounded-px10;
  @apply mobile-up:h-px503;
  @apply max-w-full;
  @apply mx-auto;
  @apply w-full;
  perspective: 1px;
  @include focus-outline-base;
  @include focus-outline-inset;

  // Assign bg color to CSS variable so it can be used by the tags box
  @each $color-name, $color-value in $colors {
    &.bg-#{$color-name} {
      --card-background: #{$color-value};
    }
  }

  @screen below-mobile {
    @apply h-auto;
    min-height: rem-calc(503);
  }

  // Thumbnail
  .post-thumbnail-wrap {
    @apply block relative w-full h-px240;
    @apply overflow-hidden;
    @apply flex-shrink-0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);

    > a {
      @apply block absolute top-0 left-0 w-full h-full;
      @include focus-outline-inset;
    }

    img {
      @apply w-full h-full;
      @apply object-center object-cover;
      @apply transition-transform duration-500;
      @apply pointer-events-none -z-1;
    }
  }

  body.is-rc &.type-trevor_rc_glossary .hover-hit-area {
    @apply hidden;
  }

  &:not(.bg-full) .post-thumbnail-wrap + * {
    @apply mt-px24 lg:mt-px28;
  }

  .title-top {
    @apply whitespace-nowrap overflow-hidden overflow-ellipsis;
  }

  &.fundraiser {
    .card-content {
      @apply pt-px28 pb-px30 px-6;

      & > * {
        @apply px-0;
      }
    }
  }

  &.tile {
    @apply max-w-none;
  }

  .icon-wrap,
  .title-top,
  .post-title,
  .title-btm,
  .post-desc {
    padding-left: theme("container.padding.DEFAULT");
    padding-right: theme("container.padding.DEFAULT");

    @screen mobile-up {
      @apply px-6;
    }
  }

  .title-top {
    @apply font-semibold text-px14 leading-px18 tracking-px05 mb-px10;
  }

  .title-btm {
    @apply mb-2;
  }

  .card-content {
    @apply bg-white;
    @apply flex flex-col flex-1;
    @apply overflow-hidden;
  }

  .post-category {
    @apply inline-block;
    @apply mt-2 mb-1;
    @apply font-light uppercase;
  }

  .post-title {
    @apply overflow-hidden break-words relative font-semibold;
    @include focus-outline-inset;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    a {
      @include focus-outline-inset;
    }

    .title_top + & {
      @apply text-px22 leading-px32;
    }

    .bg-full & {
      @apply font-bold text-px32 leading-px42;
    }
  }

  .post-desc {
    @apply relative overflow-hidden break-words;
    @apply text-px16 leading-px22 tracking-em001;

    @screen md {
      @apply text-px16 leading-px22 tracking-em_005;
    }

    @screen xl {
      @apply text-px18 leading-px26 tracking-em005;
    }
  }

  .post-desc {
    @apply overflow-hidden break-words;
    @apply flex-initial font-normal leading-px22 md:text-px16 md:leading-px24 lg:text-px18 lg:leading-px26 mt-3;

    > span {
      @apply block;
    }

    > a {
      @apply relative underline z-1;
    }
  }

  .link-read-more {
    @apply inline-block;
    @apply underline uppercase;
    @apply mb-3;
  }

  // Fundraise
  &.fundraiser {
    .fundraiser-logo {
      @apply w-full;
    }

    .post-title {
      @apply flex-1;

      .title {
        @apply line-clamp-2;
      }
    }

    .fundraiser-progress-wrap {
      @apply w-full h-4 my-2;
      @apply bg-teal-tint rounded-px10 overflow-hidden;
    }

    .fundraiser-progress-bar {
      @apply bg-blue_green;
      @apply h-full;
    }

    .fundraiser-btm-wrap {
      @apply flex flex-row;
      @apply py-2;
      @apply self-end w-full;
      @apply font-semibold text-base leading-px20 tracking-px05;
    }

    .fundraiser-total {
      @apply flex-1;
    }
  }

  // Attachment
  &.attachment {
    @apply relative;
    @apply xl:w-auto max-w-none;

    .post-thumbnail-wrap {
      @apply relative w-full h-full;
      @apply xl:w-auto max-w-none;
    }

    img {
      @apply absolute top-0 left-0 w-full h-full object-cover;
      @apply xl:w-auto max-w-none;
    }
  }

  // ORG Post Type
  &.type-post {
    .card-text-container {
      @apply pt-px34 pb-px26;
    }

    .post-thumbnail-wrap {
      @apply -mt-px34 relative;
      padding-top: percentage(240/319);

      @screen md {
        @apply h-auto;
        padding-top: percentage(205/319);
      }

      img {
        @apply absolute top-0 left-0 h-full w-full;
      }
    }
  }

  // RC Post type
  &.type-trevor_rc_post {
    @screen xl {
      @apply h-px510;
    }
  }

  // Icon
  .icon-wrap {
    @apply absolute;
    padding-right: 0;
    top: 2.125rem;
    right: 1.5rem;
    font-size: 1.5rem;
  }

  @screen md {
    .post-title {
      .title_top + & {
        @apply leading-px28;
      }
    }

    .fundraiser-btm-wrap {
      @apply text-px18 leading-px26;
    }

    .fundraiser-progress-wrap {
      @apply h-px18;
    }
  }

  @screen lg {
    height: rem-calc(510px);

    .title-top,
    .title-btm {
      @apply mb-4;
    }

    .post-title {
      .title_top + & {
        @apply text-px26 leading-px36;
      }
    }

    .fundraiser-progress-wrap {
      @apply h-px20;
    }
  }

  .tags-box--initialized {
    @apply overflow-visible;
  }
}

@import "./has-post-thumbnail";
@import "./no-thumbnail";
@import "./no-excerpt";
@import "./full-bg";
@import "./guide";
@import "./external";
@import "./glossary";
@import "./event";
