.modal {
  @apply transition-all;
  @apply fixed w-screen h-full top-0 left-0 flex items-center justify-center z-50;
  @apply opacity-0 pointer-events-none;

  &.is-active {
	@apply pointer-events-auto opacity-100;
  }

  .modal-overlay {
	@apply absolute w-full h-full bg-teal-dark opacity-30 z-40;
  }

  .modal-container {
	@apply bg-white w-full h-full z-50 overflow-y-auto overflow-x-hidden relative flex flex-col;
	padding-top: var(--top-nav-top-margin);
  }

  .modal-close {
	top: Max(calc(var(--top-nav-top-margin) - 2.5rem), 0px);
	@apply right-4 py-2 px-3 rounded-px10 self-end mr-5 mt-5 mb-10;
	@apply bg-teal-dark text-white;
  }

  .modal-content-wrap {
	@apply h-full;
  }

  body.is-rc & {
	.modal-close {
	  @apply bg-indigo;
	}
  }

  @screen md {
	@apply w-full;

	.modal-close {
	  @apply mt-0 mr-7;
	}

	.modal-container {
	  @apply w-auto h-auto pt-7;
	  max-width: 75%;
	  max-height: 75%;
	  @apply shadow-lg rounded-px10 mx-auto;
	}
  }

  @screen lg {
	.modal-container {
	  @apply pt-5;
	}

	.modal-close {
	  @apply mr-5 -mb-4;
	}
  }

  @screen xl {
	.modal-container {
	  @apply max-w-5xl;
	}
  }
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;

  .site-content {
	filter: url('#blur3px');
  }
}
