.modal {
  @apply transition-all;
  @apply fixed w-screen h-full top-0 left-0 flex items-center justify-center z-50;
  @apply opacity-0 pointer-events-none;

  &.is-active {
	@apply pointer-events-auto opacity-100;
  }

	&#js-fundraiser-quiz {
		.modal-close {
			@apply absolute m-0 top-px70 md:top-px50 right-px28 md:right-px50 bg-white text-teal-dark py-px12 px-px17;
			border-radius: rem-calc(18px);
		}

		.modal-container {
			@apply bg-teal-dark max-h-full max-w-none w-full pt-px50 md:pt-0;

			&.dev-form {
				@apply bg-blue_green;
			}
		}

		.modal-content-wrap {
			@apply h-screen flex flex-col justify-center m-0;
		}
	}

  .modal-overlay {
	@apply absolute w-full h-full bg-teal-dark opacity-30 z-40;
  }

	&.team {
		.modal-overlay {
			@apply bg-white;
			opacity: 8%;
		}
	}

  .modal-container {
	@apply bg-white w-full h-full z-50 overflow-y-auto overflow-x-hidden relative flex flex-col;
	// padding-top: var(--top-nav-top-margin);
	padding-top: 50px;
  }

  .modal-close {
	top: Max(calc(var(--top-nav-top-margin) - 2.5rem), 0px);
	@apply right-4 py-2 px-3 rounded-px10 self-end mr-5 mt-5 mb-10;
	@apply bg-teal-dark text-white;
  }

  .modal-content-wrap {
	@apply h-full;
  }

  body.is-rc & {
	.modal-close {
	  @apply bg-indigo;
	}
  }

	.team-member {
		&__details {
			span:not(:first-child) {
				@apply pl-px12 ml-px12 border-l-2 border-blue_green border-opacity-40;
			}
		}

		&__thumbnail-wrap {
			max-width: rem-calc(319px);
			@apply mx-auto flex;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}

			@screen md {
				max-width: rem-calc(210px);
				@apply float-left mr-px26;
			}

			@screen xl {
				max-width: rem-calc(236px);
			}
		}
	}



  @screen md {
	@apply w-full;

	.modal-close {
	  @apply mt-0 mr-7;
	}

	.modal-container {
		@apply w-auto h-auto pt-7;
		max-width: rem-calc(668px);
		max-height: 75%;
		@apply shadow-lg rounded-px10 mx-auto;
	}
  }

  @screen lg {
	.modal-container {
	  @apply pt-5;
	}

	.modal-close {
	  @apply mr-5 -mb-4;
	}
  }

  @screen xl {
	.modal-container {
		max-width: rem-calc(1028px);

		.prose {
			@apply max-w-full;
		}
	}
  }
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;

  .site-content {
	filter: url('#blur3px');
  }
}
