
.promo-popup-modal {
  .modal-wrap {
    @screen xl {
      padding-left: rem-calc(100px);
      padding-right: rem-calc(100px);
    }
  }

  .modal-container {
    @apply h-auto rounded-px10 pt-px68 pb-px48 max-w-none w-full;

    @screen md {
      @apply col-span-6 col-start-2 pb-px54;
    }

    @screen lg {
      @apply col-span-8 col-start-3 py-px58;
    }

    @screen lg2 {
      @apply col-span-8 col-start-3 py-px78;
    }

    // Apply text color override to close button and CTA
    @each $color-name, $color-value in $theme-colors {
      @if (
      ($color-name != transparent)
      and ($color-name != current)
      and ($color-name != black)
      and ($color-name != white)
      ) {
        &.text-#{$color-name} {
          & .modal-close,
          & .page-btn-primary {
            @apply bg-#{$color-name};
          }
        }
      }
    }
  }

  .modal-close {
    @apply rounded-px10 mr-px18;

    @screen lg2 {
      @apply mr-px24;
    }
  }

  &__content {
    @apply tw-grid items-start;

    @screen md {
      @apply grid-cols-6;
    }

    @screen lg {
      @apply grid-cols-8;
    }
  }

  &__image {
    @apply col-span-2 col-start-3 rounded-px10 overflow-hidden aspect-ratio-1-1;

    @screen lg {
      @apply col-span-3 justify-self-end w-px118 mr-px12;
    }

    @screen lg2 {
      @apply w-px150 mr-px21;
    }

    @screen xl {
      @apply w-px183;
      margin-right: 47px;
    }

    img {
      @apply object-cover object-center w-full h-full;
    }
  }

  &__body {
    @apply col-span-4 col-start-2 -mx-px12 text-center mt-px24;

    @screen md {
      @apply mt-px30;
    }

    @screen lg {
      @apply col-span-4 col-start-4 mt-0 text-left mx-0;
    }
  }

  &__headline {
    @apply font-semibold text-px26 leading-px32 tracking-em005;

    @screen md {
      @apply text-px26 leading-px32;
    }

    @screen lg {
      @apply text-px30 leading-px40 tracking-px_05;
    }

    @screen xl {
      @apply text-px34 leading-px44;
    }
  }

  &__description {
    @apply mt-px14 text-px16 leading-px22 tracking-em001;

    @screen md {
      @apply mt-px14 text-px16 leading-px22 tracking-em001;
    }

    @screen lg {
      @apply mt-px14 text-px16 leading-px24;
    }

    @screen lg2 {
      @apply text-px16 leading-px24 mt-px12;
    }

    @screen xl {
      @apply text-px18 leading-px26 mt-px16;
    }

    a {
      @apply underline;
      text-underline-offset: rem-calc(5);
      text-decoration-thickness: rem-calc(2);
    }
  }

  &__button-wrap {
    @apply mt-px30;
  }

  .page-btn {
    @apply h-px44 inline-flex items-center justify-center;
    @apply leading-px20 tracking-em001;

    @screen lg {
      @apply h-px66 text-px18 leading-px24 tracking-px05 px-px40 py-px20;
    }

    @screen lg2 {
      @apply text-px20 leading-px26;
    }
  }
}
