
.promo-popup-modal {
  .modal-wrap {
    @screen xl {
      padding-left: rem-calc(100px);
      padding-right: rem-calc(100px);
    }
  }

  .modal-container {
    @apply h-auto rounded-px10 pt-px68 pb-px48 max-w-none w-full;

    @screen md {
      @apply col-span-6 col-start-2 pb-px54;
    }

    @screen lg {
      @apply col-span-full col-start-1 py-px58;
      width: rem-calc(626);
    }

    @screen lg2 {
      @apply py-px78;
      width: rem-calc(773);
    }

    @screen xl {
      width: rem-calc(923);
    }

    // Apply text color override to close button and CTA
    @each $color-name, $color-value in $theme-colors {
      @if (
      ($color-name != transparent)
      and ($color-name != current)
      and ($color-name != black)
      and ($color-name != white)
      ) {
        &.text-#{$color-name} {
          & .modal-close,
          & .page-btn-primary {
            @apply bg-#{$color-name};
          }
        }
      }
    }
  }

  .modal-close {
    @apply rounded-px10 mr-px18;

    @screen lg2 {
      @apply mr-px24;
    }
  }

  &__content {
    @apply tw-grid items-start;

    @screen md {
      @apply grid-cols-6;
    }

    @screen lg {
      @apply flex flex-nowrap pl-px50 pr-px74 gap-x-0;
    }

    @screen lg {
      @apply pr-px90;
    }

    @screen xl {
      @apply pl-px60 pr-px106;
    }
  }

  &__image {
    @apply col-span-full rounded-px10 overflow-hidden aspect-ratio-1-1;
    @apply w-px154 h-px154 m-auto;
    will-change: transform;

    @screen md {
      width: rem-calc(233);
      height: rem-calc(233);
    }

    @screen lg {
      @apply w-px190 h-px190 mr-px50 ml-0 flex-shrink-0;
    }

    @screen lg2 {
      @apply w-px240 h-px240 mr-px65;
    }

    @screen xl {
      @apply w-px290 h-px290 mr-px74;
    }

    img {
      @apply object-cover object-center w-full h-full;
      display: block !important;
    }
  }

  &__body {
    @apply col-span-4 col-start-2 -mx-px12 text-center mt-px24;

    @screen md {
      @apply mt-px30;
    }

    @screen lg {
      @apply mt-0 text-left mx-0 flex-1;
    }
  }

  &__headline {
    @apply font-semibold text-px26 leading-px32 tracking-em005;

    @screen md {
      @apply text-px26 leading-px32;
    }

    @screen lg {
      @apply text-px30 leading-px40 tracking-px_05;
    }

    @screen xl {
      @apply text-px34 leading-px44;
    }
  }

  &__description {
    @apply mt-px14 text-px16 leading-px22 tracking-em001;

    @screen md {
      @apply mt-px14 text-px16 leading-px22 tracking-em001;
    }

    @screen lg {
      @apply mt-px14 text-px16 leading-px24;
    }

    @screen lg2 {
      @apply text-px16 leading-px24 mt-px12;
    }

    @screen xl {
      @apply text-px18 leading-px26 mt-px16;
    }

    a {
      @apply underline;
      text-underline-offset: rem-calc(5);
      text-decoration-thickness: rem-calc(2);
    }
  }

  &__button-wrap {
    @apply mt-px30;
  }

  .page-btn {
    @apply h-px44 inline-flex items-center justify-center;
    @apply leading-px20 tracking-em001;

    @screen lg {
      @apply h-px66 text-px18 leading-px24 tracking-px05 px-px40 py-px20;
    }

    @screen lg2 {
      @apply text-px20 leading-px26;
    }
  }
}
