.is-gi_advocacy {
  #bg-gradient {
	@apply bg-gray-light;
  }

  .page-header {
	@apply bg-teal-dark;
  }

  .hero-description {
	@apply text-white font-normal text-px18 leading-px26 text-center px-px28 py-px80 bg-teal-dark;

	@screen md {
	  @apply pl-px137 pr-px137;
	}

	@screen lg {
	  @apply text-px20 leading-px28 py-px100 pl-px209 pr-px209;
	}

	@screen xl {
	  @apply text-px26 leading-px36 pl-px311 pr-px311;
	}
  }

  .carousel-wrap.big-img-carousel {
	@apply bg-white my-0 py-px80 px-0 text-teal-dark max-w-unset;

	.carousel-full-width-wrap {
		@apply w-full;
	}

	figcaption {
	  @apply text-teal-dark;
	}

	.swiper-button-wrapper {
	  @apply bg-teal-dark;

	  i {
		@apply text-white;
	  }
	}

	.swiper-pagination {
	  &-bullet {
		@apply bg-teal-dark;
	  }
	}
  }

  .our-work-container {
	@apply bg-blue_green;
  }

  .quote-breaker {
	@apply pt-px80;

	@screen md {
	  @apply pt-px100;
	}

	@screen lg {
	  @apply pt-px150 pb-px170;
	}

	@screen xl {
	  @apply pt-px145 pb-px154;
	}

	figure {
	  & > * {
		@screen xl {
		  @apply ml-px106;
		}
	  }
	}

	blockquote {
	  @apply text-px30 leading-px40 lg:text-px34 lg:leading-px42 xl:text-px40 xl:leading-px48;

	  @screen lg {
		width: calc(470 / 1024 * 100%);
	  }
	}

	figcaption {
	  @apply mt-px12 text-px18 leading-px26 md:mt-px20;
	}

	img {
	  @apply mt-px90 w-auto ml-auto h-px302;

	  @screen md {
		@apply mt-px20 h-px412;
	  }

	  @screen lg {
		@apply absolute right-0 bottom-0 h-px436 w-auto;
	  }

	  @screen xl {
		@apply h-px534;
	  }
	}
  }

  .tile-grid {
	@apply text-teal-dark;

	&-header {
	  @apply text-white;
	}

	&-cards {
	  @apply bg-white;

	  .tile-grid-header {
		@apply text-teal-dark;
	  }
	}

	&-container {
	  @apply gap-7;
	}
  }

  .tile {
	@apply max-w-full;
	box-shadow: theme('boxShadow.light');
  }

  .view-all-cta {
	@apply text-teal-dark;
	border-color: theme('colors.teal.dark');

	@include wave-underline;
  }

  .action-cta {
	@apply pt-10 md:pt-12 lg:pt-16 mb-20 lg:mb-24 xl:mb-36 bg-white;

	a {
	  @apply bg-teal-dark;
	}
  }
}

:is(.post-type-archive-trevor_gi_letter, .post-type-archive-trevor_gi_bill) {
	.custom-select {
		@apply mb-px30;

		@screen md {
			@apply mb-px40;
		}

		@screen lg {
			@apply mb-px50 ml-px92;
		}

		@screen lg2 {
			@apply ml-px190;
		}

		@screen xl {
			@apply ml-0 mb-px30;
		}

		@screen 2xl {
			@apply ml-px90;
		}
	}
}
