.is-gi_advocacy {
  #bg-gradient {
	background: theme('colors.gray.light');
  }

  .page-header {
	background-color: theme('colors.teal.dark');
  }

  .hero-description {
	@apply text-white font-normal text-px18 leading-px26 text-center px-px28 py-px80;
	background-color: theme('colors.teal.dark');

	@screen md {
	  padding-left: rem-calc(137px);
	  padding-right: rem-calc(137px);
	}

	@screen lg {
	  @apply text-px20 leading-px28 py-px100;

	  padding-left: rem-calc(209px);
	  padding-right: rem-calc(209px);
	}

	@screen xl {
	  @apply text-px26 leading-px36;

	  padding-left: rem-calc(311px);
	  padding-right: rem-calc(311px);
	}
  }

  .carousel-wrap.big-img-carousel {
	@apply bg-white my-0 py-px80 px-0;

	max-width: unset;
	color: theme('colors.teal.dark');

	.carousel-full-width-wrap {
		width: 100%;
	}

	figcaption {
	  color: theme('colors.teal.dark');
	}

	.swiper-button-wrapper {
	  background-color: theme('colors.teal.dark');

	  i {
		@apply text-white;
	  }
	}

	.swiper-pagination {
	  &-bullet {
		background-color: theme('colors.teal.dark');
	  }
	}
  }

  .our-work-container {
	background-color: theme('colors.blue_green.DEFAULT');
  }

  .quote-breaker {
	@apply pt-px80;

	@screen md {
	  @apply pt-px100;
	}

	@screen lg {
	  padding-top: rem-calc(150px);
	  padding-bottom: rem-calc(170px);
	}

	@screen xl {
	  padding-top: rem-calc(145px);
	  padding-bottom: rem-calc(154px);
	}

	figure {
	  & > * {
		@screen xl {
		  @apply ml-px106;
		}
	  }
	}

	blockquote {
	  @apply text-px30 leading-px40 lg:text-px34 lg:leading-px42 xl:text-px40 xl:leading-px48;

	  @screen lg {
		width: calc(470 / 1024 * 100%);
	  }
	}

	figcaption {
	  @apply mt-px12 text-px18 leading-px26 md:mt-px20;
	}

	img {
	  @apply mt-px90 w-auto ml-auto;
	  height: rem-calc(302px);

	  @screen md {
		@apply mt-px20;
		height: rem-calc(412px);
	  }

	  @screen lg {
		@apply absolute right-0 bottom-0;
		height: rem-calc(436px);
		width: auto;
	  }

	  @screen xl {
		height: rem-calc(534px);
	  }
	}
  }

  .tile-grid {
	color: theme('colors.teal.dark');

	&-header {
	  @apply text-white;
	}

	&-cards {
	  @apply bg-white;

	  .tile-grid-header {
		color: theme('colors.teal.dark');
	  }
	}

	&-container {
	  @apply gap-7;
	}
  }

  .tile {
	@apply max-w-full;
	box-shadow: theme('boxShadow.light');
  }

  .view-all-cta {
	color: theme('colors.teal.dark');
	border-color: theme('colors.teal.dark');

	@include wave-underline;
  }

  .action-cta {
	@apply pt-10 md:pt-12 lg:pt-16 mb-20 lg:mb-24 xl:mb-36 bg-white;

	a {
	  background-color: theme('colors.teal.dark');
	}
  }
}

:is(.post-type-archive-trevor_gi_letter, .post-type-archive-trevor_gi_bill) {
	.custom-select {
		@apply mb-px30;

		@screen md {
			@apply mb-px40;
		}

		@screen lg {
			margin-left: rem-calc(92px);
			@apply mb-px50;
		}

		@screen lg2 {
			margin-left: rem-calc(190px);
		}

		@screen xl {
			@apply ml-0 mb-px30;
		}

		@screen 2xl {
			margin-left: rem-calc(90px);
		}
	}
}
