.alternating-image-text {
	&__container {
		@apply tw-grid;
		@apply container mx-auto py-px80 gap-0;

		@screen xl {
			@apply py-px120;
		}
	}

	&__heading {
		@apply col-span-full text-center font-bold text-px30 leading-px38 tracking-em005;

		@screen md {
			@apply text-px32 leading-px42;

			br {
				display: none;
			}
		}

		@screen xl {
			@apply text-px46 leading-px56 tracking-em_001 col-span-10 col-start-2;
		}
	}

	&__description {
		@apply col-span-full text-center text-px18 leading-px24 tracking-px05 mt-px10;

		@screen md {
			@apply mt-px20 text-px22 leading-px32;
		}

		@screen xl {
			@apply text-px26 leading-px36 tracking-em005 mt-px16 col-span-10 col-start-2;
		}
	}

	&__items {
		@apply col-span-full mt-px60;

		@screen md {
			@apply mt-px80;
		}

		@screen xl {
			@apply mt-px120;
		}
	}

	&__item {
		@apply tw-grid items-center;
		@apply text-center gap-y-0;

		& + & {
			@apply mt-px70;

			@screen md {
				@apply mt-px100;
			}

			@screen xl {
				@apply mt-px120;
			}
		}
	}

  &__eyebrow {
    @apply font-semibold uppercase text-px14 leading-px20 tracking-px05 mb-px14;

    @screen md {
      @apply text-px14 leading-px18 tracking-em001 mb-px10;
    }

    @screen xl {
      @apply text-px14 leading-px18 tracking-em001 mb-px18;
    }
  }

	&__item-figure {
		@apply block rounded-px10 overflow-hidden aspect-ratio-1-1 col-span-6;

		@screen md {
			@apply col-span-4;
		}

		@screen xl {
			@apply col-span-5 col-start-2;
		}

		img {
			position: absolute;
			object-fit: cover;
		}
	}

	&__body {
		@apply mt-px30 col-span-6;

		@screen md {
			@apply col-span-4 text-left mt-0;
		}

		@screen xl {
			@apply col-span-4 col-start-8;
		}
	}

	&__item-title {
		@apply font-bold text-px24 leading-px28 tracking-em001;

		@screen xl {
			@apply text-px26 leading-px36 tracking-em005;
		}
	}

	&__item-content {
		@apply mt-px10 text-px16 leading-px24;

		@screen xl {
			@apply mt-px16 text-px18 leading-px26;
		}
	}

  &__cta-button {
    @apply inline-flex items-center mt-px24 h-px58 max-w-px276 min-w-px187 py-0;
    @apply text-px18 leading-px24;

    @screen md {
      @apply mt-px20 min-w-0 max-w-none px-px32 h-px46;
      @apply text-px16 leading-px22 tracking-em001;
    }

    @screen xl {
      @apply text-px16 leading-px22 tracking-em001 mt-px40;
    }
  }

  &__cta-link {
    @apply mt-px24 font-extrabold text-px18 leading-px24 tracking-px025 pb-px2;

    @screen md {
      @apply mt-px20 font-semibold text-px18 leading-px24;
    }

    @screen xl {
      @apply mt-px30 text-px18 leading-px24;
    }
  }

	&__cta-wrap {
		@apply col-span-full mt-px70 text-center;

		@screen md {
			@apply mt-px80;
		}
	}

	&__cta {
		@apply btn;
	}
}

// Alternating style
.alternating-image-text__item {
	&:nth-child(even) {
		.alternating-image-text__item-figure {
			@screen md {
				@apply col-start-5 order-2;
			}

			@screen xl {
				@apply col-start-7;
			}
		}

		.alternating-image-text__body {
			@screen md {
				@apply col-start-1;
			}

			@screen xl {
				@apply col-start-2;
			}
		}
	}
}
