.alternating-image-text {
  &__container {
    @apply tw-grid;
    @apply container mx-auto py-px80 gap-0;

    @screen md {
      @apply py-px50;
    }

    @screen lg {
      @apply py-px80;
    }

    @screen lg2 {
      @apply py-px120;
    }
  }

  &__heading {
    @apply col-span-full text-center font-bold text-px30 leading-px38 tracking-em005;

    @screen md {
      @apply text-px32 leading-px42;

      br {
        display: none;
      }
    }

    @screen lg {
      @apply text-px40 leading-px48 tracking-px_05 col-span-10 col-start-2;
    }

    @screen lg2 {
      @apply text-px46 leading-px56 tracking-em_001 col-span-8 col-start-3;
    }
  }

  &__description {
    @apply col-span-full text-center text-px18 leading-px24 tracking-px05 mt-px16;

    @screen md {
      @apply mt-px20 text-px22 leading-px32;
    }

    @screen lg {
      @apply text-px22 leading-px32 tracking-px05 mt-px16 col-span-10 col-start-2;
    }

    @screen xl {
      @apply text-px26 leading-px36 tracking-em005 col-span-8 col-start-3;
    }

    body.is-rc & {
      @apply text-px20 leading-px30;

      @screen md-minmax {
        @apply tracking-em005;
      }
    }
  }

  &__items {
    @apply col-span-full mt-px60;

    @screen lg {
      @apply mt-px120;
    }
  }

  &__item {
    @apply tw-grid items-center;
    @apply text-center gap-y-0;

    & + & {
      @apply mt-px70;

      @screen md {
        @apply mt-px80;
      }

      @screen xl {
        @apply mt-px120;
      }
    }
  }

  &__eyebrow {
    @apply font-semibold uppercase text-px14 leading-px20 tracking-px05 mb-px14 text-indigo;

    @screen md {
      @apply text-px14 leading-px18 tracking-em001 mb-px10;
    }

    @screen xl {
      @apply text-px14 leading-px18 tracking-em001 mb-px18;
    }
  }

  &__item-figure {
    @apply block rounded-px10 overflow-hidden aspect-ratio-1-1 col-span-6;

    @screen md {
      @apply col-span-4;
    }

    @screen lg {
      @apply col-span-5 col-start-2;
    }

    img {
      position: absolute;
      object-fit: cover;
    }
  }

  &__body {
    @apply mt-px30 col-span-6;

    @screen md {
      @apply row-start-1 col-span-4 text-left mt-0;
    }

    @screen lg {
      @apply col-span-5 col-start-7;
    }

    @screen lg2 {
      @apply col-span-4 col-start-8;
    }

    &--left {
      @screen lg {
        .alternating-image-text__item-title {
          @apply px-0;
        }
        .alternating-image-text__item-content {
          @apply px-0;
        }
      }
    }

    body.is-crisis-support & {
      @screen lg2 {
        @apply col-span-5;
      }
    }
  }

  &__item-title {
    @apply font-semibold text-px32 leading-px42 tracking-em001 text-indigo;

    @screen md {
      @apply text-px30 leading-px40 tracking-px_05;
    }

    @screen lg {
      @apply text-px40 leading-px50 px-px32;
    }

    .alternating-image-text--item-heading-large & {
      @screen md {
        @apply text-px28 leading-px38 tracking-px_05;
      }

      @screen lg {
        @apply text-px40 leading-px48 tracking-px_05;
      }
    }
  }

  &__item-content {
    @apply mt-px10 text-px20 leading-px30 font-medium text-indigo;

    @screen md {
      @apply text-px18 leading-px26;
    }

    @screen lg {
      @apply text-px22 leading-px32 px-px32;
    }

    @screen xl {
      @apply mt-px16;
    }
  }

  &__cta-button {
    @apply inline-flex items-center mt-px24 h-px58 max-w-px276 min-w-px187 py-0 text-center;
    @apply text-px18 leading-px24;

    @screen md {
      @apply mt-px20 min-w-0 max-w-none px-px32 h-px46;
      @apply text-px16 leading-px22 tracking-em001;
    }

    @screen xl {
      @apply text-px16 leading-px22 tracking-em001 mt-px40;
    }
  }

  &__cta-link {
    @apply mt-px24 font-extrabold text-px18 leading-px24 tracking-px025 pb-px2;

    @screen md {
      @apply mt-px20 font-semibold text-px18 leading-px24;
    }

    @screen xl {
      @apply mt-px30 text-px18 leading-px24;
    }

    &.page-btn {
      @apply inline-flex items-center py-0 h-px58;

      &:not(.page-btn-link) {
        @apply px-px32;
      }

      @screen md {
        @apply h-px46;
      }
    }

    &.page-btn-link {
      @apply inline-block h-px30;
    }
  }

  &__cta-wrap {
    @apply col-span-full mt-px70 text-center;

    @screen md {
      @apply mt-px80;
    }
  }

  &__cta {
    @apply btn;
  }
}

// Alternating style
.alternating-image-text__item {
  &:nth-child(even) {
    .alternating-image-text__item-figure {
      @screen md {
        @apply col-start-5 order-2;
      }

      @screen lg {
        @apply col-start-7;
      }
    }

    .alternating-image-text__body {
      @screen md {
        @apply col-start-1;
      }

      @screen lg {
        @apply col-start-2;
      }
    }
  }

  &:nth-child(odd) {
    .alternating-image-text__item-figure {
      @screen md {
        @apply col-start-1;
      }

      @screen lg {
        @apply col-start-2;
      }
    }

    .alternating-image-text__body {
      @screen md {
        @apply col-start-5 order-2;
      }

      @screen lg {
        @apply col-start-7;
      }

      @screen lg2 {
        @apply col-start-8;
      }
    }
  }

  .alternating-image-text--text_first & {
    &:nth-child(even) {
      .alternating-image-text__item-figure {
        @screen md {
          @apply col-start-1;
        }

        @screen lg {
          @apply col-start-2;
        }
      }

      .alternating-image-text__body {
        @screen md {
          @apply col-start-5 order-2;
        }

        @screen lg {
          @apply col-start-7;
        }

        @screen lg2 {
          @apply col-start-8;

          body.is-crisis-support & {
            @apply col-start-7;
          }
        }
      }
    }

    &:nth-child(odd) {
      .alternating-image-text__item-figure {
        @screen md {
          @apply col-start-5 order-2;
        }

        @screen lg {
          @apply col-start-7;
        }
      }

      .alternating-image-text__body {
        @screen md {
          @apply col-start-1;
        }

        @screen lg {
          @apply col-start-2;
        }
      }
    }
  }
}
