.card-post {
  @apply flex flex-col relative;
  @apply overflow-hidden;
  @apply shadow-lg rounded-px10;
  @apply text-indigo;
  height: rem-calc(503px);

  // Thumbnail
  .post-thumbnail-wrap {
	height: rem-calc(240px);
	@apply overflow-hidden;

	img {
	  @apply h-full;
	  @apply object-center object-cover;
	}
  }

  .card-content {
	@apply bg-white;
	@apply p-6;
	@apply flex flex-col flex-1;
	@apply relative;
  }

  .post-category {
	@apply inline-block;
	@apply mt-2 mb-1;
	@apply font-light uppercase;
  }

  .post-title {
	@apply font-bold text-px26 leading-px36 tracking-em005;
	@apply mb-2;
	flex: 0 1;
  }

  .post-desc {
	@apply flex-1;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .link-read-more {
	@apply inline-block;
	@apply underline uppercase;
	@apply mb-3;
  }

  .tags-box {
	@apply flex flex-row flex-wrap;
	@apply overflow-y-hidden;
	@apply z-1;
	@apply mt-2;
	height: rem-calc(34px);

	&.show-all {
	  height: auto !important;

	  .ellipsis {
		@apply font-bold;
	  }
	}

	.tag-box {
	  @apply inline-block;
	  @apply mr-2 mb-2;
	}

	.ellipsis {
	  @apply absolute top-0 right-0;
	}
  }

  // Full Bg
  &.bg-full {
	@apply text-white;

	.post-thumbnail-wrap {
	  @apply absolute top-0 left-0 w-full h-full;
	  @apply rounded-px10;
	  @apply -z-1;
	}

	.card-content {
	  @apply bg-transparent;
	}
  }

  // Icon
  .icon-wrap {
	@apply absolute top-6 right-5;
	font-size: 1.5rem;
  }


  @screen lg {
	height: rem-calc(536px);
  }
}
