.card-post {
  @apply flex flex-col relative;
  @apply overflow-hidden;
  @apply shadow-light rounded-px10;
  @apply text-teal-dark;
  @apply h-px503;
  @apply max-w-full;
  @apply mx-auto;

  // Thumbnail
  .post-thumbnail-wrap {
	@apply h-px240;
	@apply overflow-hidden;
	@apply flex-shrink-0;
	@apply rounded-t-px10;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);

		img {
			@apply h-full;
			@apply object-center object-cover;
			@apply transition-transform duration-500;
			@apply rounded-t-px10;
		}
  }

  .hover-hit-area {
	@apply absolute z-1 w-full cursor-pointer h-5/6;

	&:hover + .post-thumbnail-wrap img {
	  @apply transform scale-105;
	}

	a {
	  @apply h-full w-full block;
	}
  }

	body.is-rc &.type-trevor_rc_glossary .hover-hit-area {
		@apply hidden;
	}

  .title-top {
	@apply font-semibold text-px14 leading-px18 tracking-px05;
	margin-bottom: rem-calc(10px);
  }

  .title-btm {
	@apply mb-2;
  }

  .card-content {
	@apply bg-white;
	@apply px-6 py-5 pt-px38;
	@apply flex flex-col flex-1;
	@apply overflow-hidden;
  }

  .post-category {
	@apply inline-block;
	@apply mt-2 mb-1;
	@apply font-light uppercase;
  }

  .post-title {
	@apply font-semibold text-px24 leading-px28;
	@apply mb-2;
	flex: 0 1;

	.title_top + & {
	  @apply text-px22 leading-px32;
	}

	.bg-full & {
	  @apply font-bold text-px32 leading-px42;
	}
  }

  .post-desc {
	@apply flex-1 font-normal;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .link-read-more {
	@apply inline-block;
	@apply underline uppercase;
	@apply mb-3;
  }

  .tags-box {
	@apply flex flex-row flex-wrap;
	@apply overflow-y-hidden;
	@apply z-1;
	@apply mt-0.5;
	height: rem-calc(34px);

	&.show-all {
	  height: auto !important;
	  padding-right: 0 !important;
	  @apply -mb-2 -mr-2;
	  // take back the single item's margins

	  .ellipsis {
		@apply font-bold;
		position: initial !important;


		&::after {
		  content: '–' !important;
		}
	  }
	}

	.tag-box {
	  @apply inline-block;
	  @apply mr-2 mb-2;

	  &:hover {
		background-color: theme('colors.moss.DEFAULT');
	  }


		body.is-rc &:hover {
			@apply bg-violet-lighter;
		}

		body.is-rc &.ellipsis:hover {
			@apply bg-violet;
		}
	}

	.ellipsis {
	  @apply absolute top-0 right-0;
	  @apply font-medium text-px24;
	  @apply px-3;

	  &::after {
		@apply flex items-center;
		content: '+';
	  }

	  &:hover {
		background-color: theme('colors.moss.dark');
	  }
	}
  }

  // Full Bg
  &.bg-full {
	@apply text-white;

	&.no-thumbnail {
	  @apply text-indigo bg-white;
	}

	.post-thumbnail-wrap {
	  @apply absolute top-0 left-0 w-full h-full;
	  @apply rounded-px10;
	  @apply -z-1;
	}

	.card-content {
	  @apply bg-transparent;
	  @apply pt-9;
	}

	.title_top {
	  @apply mb-2;
	}
  }

  // Icon
  .icon-wrap {
	@apply absolute top-6 right-5;
	font-size: 1.5rem;
  }

  body.is-rc & {
	@apply text-indigo;

	&.bg-full {
	  @apply text-white;
	}
  }

  @screen md {
	.post-title {
	  .title_top + & {
		@apply leading-px28;
	  }
	}
  }

  @screen lg {
	height: rem-calc(536px);

	.title-top,
	.title-btm {
	  @apply mb-4;
	}

	.post-title {
	  @apply text-px26 leading-px36 tracking-em005;

	  .title_top + & {
		@apply text-px26 leading-px36;
	  }

	  .bg-full & {
		@apply font-bold text-px40 leading-px48;
	  }
	}

	.is-rc & {
	  .post-title {
		@apply text-px22;
	  }
	}
  }

  @screen xl {
	.is-rc & {
	  .post-title {
		@apply text-px26;
	  }
	}
  }
}
