.circulation-card {
  @apply relative flex flex-col text-center text-white items-center justify-center;
  @apply py-20 px-6 rounded-px10;
  min-height: rem-calc(503px);

  .inner {
    @apply z-1;
  }

  .bg-inner {
    @apply h-full absolute top-0;
    @apply rounded-px10;
    width: calc(100% + 5px);
  }

  .circulation-card-title {
    @apply font-bold text-px32 leading-px42 m-0 mb-2;

    tilt {
      @apply inline text-px50 leading-px60 tracking-px_02 mr-2;
    }
  }

  .circulation-card-desc {
    @apply my-4;
    @apply font-medium text-px18 leading-px28 tracking-em001;
  }

  .circulation-card-cta {
    @apply inline-flex items-center justify-center rounded-px10 bg-white text-teal-dark no-underline;
    @apply mt-4 h-px46 px-px24;
    @apply font-bold text-base leading-px22 tracking-em001;
  }

  // Type: RC
  &.type-rc {
    @apply text-white;

    .circulation-card-cta {
      @apply text-indigo bg-white;
    }

    .circulation-card-title {
      @apply text-px30 leading-px40;
    }
  }

  // Type: Trevorspace
  &.type-trevorspace {
    @apply text-indigo;

    .circulation-card-cta {
      @apply text-white bg-indigo;
    }
  }

  // Type: Get Help
  &.type-get_help {
    @apply text-indigo;

    .circulation-card-cta {
      @apply text-white bg-orange;
    }
  }

  @screen md {
    min-height: rem-calc(451px);

    .circulation-card-title {
      @apply tracking-em005;

      tilt {
        @apply text-px48 leading-px48;
      }
    }

    .circulation-card-desc {
      @apply mt-6;
      @apply font-normal text-px18 leading-px24 tracking-px05;
    }

    .circulation-card-cta {
      @apply px-8 h-px46;
    }

    &.type-get_help {
      .circulation-card-title {
        @apply mx-10;
      }
    }
  }

  @screen lg {
    @apply pl-px38 pr-px34;
    min-height: rem-calc(617px);

    .circulation-card-title {
      @apply text-px42 leading-px52 tracking-em005;

      tilt {
        @apply text-px60 leading-px70 tracking-em001 -mt-px38;
      }
    }

    .circulation-card-desc {
      @apply text-px20 leading-px30 tracking-em005;
    }

    .circulation-card-cta {
      @apply mt-px40 px-px40 h-px60;
      @apply text-px20 leading-px20 tracking-px05;
    }

    &.type-rc {
      .circulation-card-title {
        @apply text-px46 leading-px62;
      }
    }
  }

  @screen lg2 {
    @apply px-px38;
    min-height: rem-calc(706px);

    .circulation-card-title {
      @apply text-px46 leading-px62;

      tilt {
        @apply text-px70 leading-px80;
      }
    }

    .circulation-card-desc {
      @apply text-px24 leading-px34 tracking-em005;
    }

    .circulation-card-cta {
      @apply py-5 px-10;
      @apply mt-6;
      @apply text-px20 leading-px26 tracking-px05;
    }

    &.type-rc {
      .circulation-card-title {
        @apply text-px46 leading-px62;
      }
    }
  }

  @screen xl {
    .circulation-card-cta {
      @apply h-px66;
    }
  }
}
