@media all and (max-width: theme('screens.md')) {
  .container {
	max-width: 100%;
  }
}

body.is-rc,
body.post-type-archive-trevor_fin_report {
	.container {
		$breakpoints: lg, lg2, xl;

		@each $size in $breakpoints {
			@screen #{$size} {
				padding: {
					left: theme('container.padding.#{$size}');
					right: theme('container.padding.#{$size}');
				}
			}
		}
	}
}

body.post-type-archive-trevor_fin_report .container {
	@screen xl {
		@apply max-w-screen-xl;
	}
}
