.ch2 {
	&-icon {
		display: none !important;
	}

	body.is-rc &-theme-bar.ch2-style-light &-dialog {
		@apply bg-indigo;

		&-actions {
			.ch2-btn {
				@apply text-indigo;

				&:nth-child(2) {
					@apply bg-indigo text-white;
				}
			}
		}
	}

	&-theme-bar {
		.ch2-dialog.ch2-dialog-bottom {
			@apply transform-gpu translate-y-full transition-transform duration-300 ease-out;
			bottom: 0 !important;

			&.ch2-visible {
				@apply bottom-0 translate-y-0;
			}
		}
	}


	&-theme-bar.ch2-style-light &-dialog {
		@apply bg-blue_green;
		@apply font-manrope;
		@apply pt-px30 pb-px40 md:pt-px40 pl-px28 md:pl-px50 lg2:px-px80;
		@apply md:flex md:flex-col lg2:flex-row;

		&-content {
			@apply text-white flex;
			width: calc(265 / 317 * 100%);

			@screen md {
				width: calc(558 / 688 * 100%);
			}

			@screen lg2 {
				@apply w-2/5 pr-px15;
			}

			p {
				color: inherit;
				margin-bottom: 0 !important;

				strong {
					color: inherit;
					@apply text-px18 leading-px24 md:text-px20 md:leading-px26;
				}
			}

			:is(p:nth-child(2), a) {
				@apply text-px14 leading-px20 md:text-px18 md:leading-px24 font-normal;
				@apply hidden;
			}

			a {
				color: inherit;
				border-color: inherit;
				@apply border-b-2 transition-none;
				@include wave-underline-white;

				&:hover {
					color: inherit;
					border-color: inherit;
				}
			}
		}

		&-actions {
			@apply mt-px28 md:ml-0 lg2:mt-px6 items-start flex flex-col md:flex-row flex-wrap text-px16 md:text-px18 lg2:text-px20 font-bold;

			button {
				font-size: inherit;
				@apply capitalize w-auto h-auto m-0 px-px40 md:px-px40 lg2:px-px32 py-px16 text-blue_green bg-white rounded-full;
			}

			button + button {
				@apply mt-px16 px-px50 md:px-px40 md:mt-0 md:ml-px14 bg-blue_green text-white border-2 border-solid border-white;
			}

			button:first-child {
				@apply mx-0;
			}

			div + div {
				@apply md:ml-px14;
			}
		}
	}
}
