.ch2 {
	&-icon {
		display: none !important;
	}

  &-dialog {
    &-actions {
      @screen lg2 {
        width: percentage(560 / 1280);
      }

      @screen xl {
        width: percentage(560 / 1440);
      }

      @screen 2xl {
        width: auto;
      }

      div {
        flex-direction: column;

        @screen md {
          flex-direction: row;
        }
      }
    }
  }

	&-theme-bar &-dialog {
		@apply transform-gpu translate-y-full transition-transform duration-300 ease-out;
		bottom: 0 !important;
		@include z-index(cookie);

		@screen 2xl {
			@apply container mx-auto;
			@apply max-w-screen-xl;
		}

		&::before {
			@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-1;
			@apply w-screen h-full block;
			content: '';
		}

		&-content,
		&-actions {
			@apply relative z-2;
		}

		&.ch2-visible {
			@apply bottom-0 translate-y-0;
		}
	}

	body.is-rc &-theme-bar.ch2-style-light &-dialog {
		@apply bg-transparent;

		&::before {
			@apply bg-indigo;
		}

		&-actions {
			.ch2-btn {
				@apply text-indigo;

				&:nth-child(2) {
					@apply bg-indigo text-white;
				}
			}
		}
	}

	&-theme-bar.ch2-style-light &-dialog {
		@apply bg-transparent;
		@apply font-manrope;
		@apply pt-px30 pb-px40 md:pt-px40 pl-px28 md:pl-px50 lg2:pl-px80 lg2:pr-px40;
		@apply md:flex md:flex-col lg2:flex-row;

		&::before {
			@apply bg-blue_green;
		}

		&-content {
			@apply text-white flex;
			width: calc(265 / 317 * 100%);

			@screen md {
				width: calc(558 / 688 * 100%);
			}

			@screen lg2 {
				@apply w-2/5 pr-px15;
			}

			p {
				color: inherit;
				margin-bottom: 0 !important;

				strong {
					color: inherit;
					@apply text-px18 leading-px24 md:text-px20 md:leading-px26;
				}
			}

			:is(p:nth-child(2), a) {
				@apply text-px14 leading-px20 md:text-px18 md:leading-px24 font-normal;
				@apply hidden;
			}

			a {
				color: inherit;
				border-color: inherit;
				@apply border-b-2 transition-none;
				@include wave-underline-white;

				&:hover {
					color: inherit;
					border-color: inherit;
				}
			}
		}

		&-actions {
			@apply mt-px28 md:ml-0 lg2:mt-px6 items-start flex flex-col md:flex-row flex-wrap text-px16 md:text-px18 lg2:text-px20 font-bold;

			button:first-child {
				@apply md:mr-px14;
			}

			button {
				font-size: inherit;
				@apply capitalize w-auto h-auto m-0 px-px40 md:px-px40 md:mr-px14 lg2:px-px32 py-px16 text-blue_green bg-white rounded-full;
			}

			button + button {
				@apply mt-px16 px-px50 md:px-px40 md:mr-px14 md:mt-0 bg-blue_green text-white border-2 border-solid border-white;

        &:hover {
          text-decoration: underline;
        }
			}

			div + div {
				@apply mt-px16 md:mt-0 lg2:mt-px14 2xl:mt-0;
			}

      .ch2-open-settings-btn {
        margin: 0!important;

        @apply border-0 px-px50 md:px-px20 lg:px-px40 lg2:px-px32 py-px16;
      }
		}
	}
}
