.crisis-services-image-text {
  &__container {
    @apply tw-grid container mx-auto;
  }

  &__box {
    @apply col-span-full rounded-px10 py-px80 text-indigo;
    @apply px-px24 text-center;
    background: radial-gradient(170.2% 144.04% at 46.11% 196%, #DBD5FF 20.03%, #DBD5FF 92.79%);

    @screen md {
      @apply col-start-3 col-span-6 -mr-px102 pl-px76 pr-px130;
    }

    @screen xl {
      @apply col-span-9 col-start-4 -mr-px140 pt-px180 pb-px190 pl-px198 pr-px240;
      border-radius: 0 10px 10px 0;
    }
  }

  &__heading {
    @apply font-semibold text-px28 leading-px34 tracking-em005;

    @screen md {
      @apply text-px32 leading-px42;
    }

    @screen xl {
      @apply text-px42 leading-px48 tracking-em_001;
    }
  }

  &__description {
    @apply mt-px16 text-px18 leading-px26;

    @screen md {
      @apply mt-px14 text-px18 leading-px26;
    }

    @screen xl {
      @apply mt-px22 text-px24 leading-px35 tracking-em005;
    }
  }

  &__cta {
    @apply btn mt-px30;
    @apply bg-indigo text-white;

    @screen md {
      @apply mt-px32;
    }

    @screen xl {
      @apply mt-px40 h-px66 text-px20 leading-px26;
    }
  }

  &__image {
    @apply col-span-5 -ml-px55 relative -mt-px40 rounded-px10 overflow-hidden;

    @screen md {
      @apply col-span-3 -ml-px90 -mt-px255;
    }

    @screen xl {
      @apply col-span-5 -ml-px230 -mt-px480;
    }

    &::before {
      @apply block w-full;
      padding-top: calc(100% * 323 / 319);
      content: '';

      @screen md {
        padding-top: calc(100% * 326 / 322);
      }

      @screen xl {
        padding-top: calc(100% * 706 / 697);
      }
    }

    img {
      @apply absolute top-0 left-0 w-full h-full object-cover;
    }
  }
}
