.current-funders {
  &__title {
    @apply text-teal-dark;

    @screen lg2 {
      @apply text-px40 leading-px48;
    }

    @screen xl {
      @apply text-px40 leading-px48;
    }
  }

  .table-container {

    @screen md {
      @apply container;
      @apply mx-auto;
    }
  }

  table {
    @apply w-full text-teal-dark;

    @screen md {
      @apply m-auto rounded-px10;
      border-collapse: collapse;
      border-style: hidden;
      box-shadow: 0 0 0 2px theme('colors.teal.lighter');

      tr:first-child th,
      tr:first-child td {
        border-top-left-radius: 10px;
      }

      tr:last-child th,
      tr:first-child td {
        border-bottom-left-radius: 10px;
      }
    }

    tr {
      &:first-child {
        border-top: 2px solid theme('colors.teal.lighter');
      }

      &:last-child {
        border-bottom: 2px solid theme('colors.teal.lighter');
      }

      @screen md {
        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    tr + tr {
      border-top: 2px solid theme('colors.teal.lighter');
    }

    th,
    td {
      .funder-name {
        @apply text-px20 relative inline-block md:text-px16 lg:text-px20;
        @apply leading-px26;
        @apply font-bold;
      }

      a.funder-name {
        @extend .wave-underline;
      }

      div.funder-name {
        @apply pb-px12;
      }
    }

    th {
      background-color: #F3F3F7;
      @apply py-6;

      @screen md {
        flex: 0 0 174px;
        padding: 30px 0 0 0;
      }

      @screen lg {
        flex: 0 0 218px;
        padding: 70px 0 0 0;
      }

      @screen lg2 {
        flex: 0 0 239px;
      }

      @screen xl {
        flex: 0 0 269px;
      }

      & > * {
        width: 297px;
        @apply mx-auto;

        @screen md {
          width: auto;
        }
      }

      .tier-name {
        margin-bottom: 4px;

        @screen lg {
          @apply text-px24 leading-px34;
        }

        @screen lg2 {
          @apply text-px26 leading-px36;
        }
      }

      .tier-value {
        @screen lg {
          @apply text-px20 leading-px26;
        }

        @screen lg2 {
          @apply text-px22 leading-px32;
        }
      }

      .tier-name,
      .tier-value {
        @screen md {
          padding: 0 24px;
        }
      }
    }

    td {
      @apply mx-auto pt-10 pb-11 items-center w-full px-px32;

      .funder-name + .funder-name {
        @apply mt-px34;
      }

      @screen md {
        @apply pl-px30 pr-px30 flex-wrap pt-px30 pb-px80 -mt-px20 mr-0 mb-0 -ml-px20;

        .funder-name {
          @apply mt-px20 mr-0 mb-0 ml-px20;
        }

        .funder-name + .funder-name {
          @apply mt-px20;
        }
      }

      @screen lg {
        @apply pt-px70 pb-px100 -mt-px40 mr-0 mb-0 -ml-px40;

        .funder-name {
          @apply mt-px40 mr-0 mb-0 ml-px40 text-px18 leading-px26;
        }

        .funder-name + .funder-name  {
          @apply mt-px40;
        }
      }

      @screen lg2 {
        .funder-name {
          @apply text-px20 leading-px26;
        }
      }
    }
  }

  &__partner {
    @apply text-white font-bold text-px16 leading-px22 lg:text-px20 lg:leading-px26 mb-px100 mt-px60 py-3 px-8 rounded-px10 bg-teal-dark;

    @screen md {
      @apply mt-px40;
      @apply mb-px80;
      @apply py-4 px-8;
    }

    @screen lg {
      @apply mt-px60;
      @apply mb-px120;
      @apply py-5 px-10;
    }
  }

  .cards {

    &__title {
      @apply mt-px80 mx-0 mb-px60 text-teal-dark;

      @screen md {
        @apply mt-px60 mx-0 mb-px65;
      }

      @screen lg {
        flex-basis: 100%;
        @apply mt-px120 mx-0 mb-px90;
      }
    }

    &__container {
      gap: 20px;
      @apply pb-px100;

      @screen md {
        @apply pb-px80 justify-around;
      }

      @screen xl {
        @apply pb-px120 justify-between;
      }

      .circulation-card {
        flex: 0 0 100%;

        @screen md {
          flex-basis: calc(492 / 768 * 100%);
        }

        @screen lg {
          flex-basis: calc(606 / 1240 * 100%);
        }
      }
    }
  }
}
