.current-partners-table {
  @apply mb-px80;

  @screen xl {
    @apply mb-px140;
  }

  &__title {
    @apply text-teal-dark;

    @screen lg {
      @apply text-px34 leading-px44;
    }
  }

  .table-container {
    @screen md {
      @apply container;
      @apply mx-auto;
    }
  }

  table {
    @apply w-full text-teal-dark;

    @screen below-mobile {
      table-layout: fixed;

      * {
        @apply max-w-full;
      }
    }

    @screen md {
      border-style: hidden;
      box-shadow: 0 0 0 2px theme("colors.teal.lighter");
      @apply m-auto border-collapse rounded-px10;

      tr:first-child th,
      tr:first-child td {
        border-top-left-radius: rem-calc(10px);
      }

      tr:last-child th,
      tr:first-child td {
        border-bottom-left-radius: rem-calc(10px);
      }
    }

    tr {
      &:first-child {
        border-top: 2px solid theme("colors.teal.lighter");
      }

      &:last-child {
        border-bottom: 2px solid theme("colors.teal.lighter");
      }

      @screen md {
        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    tr + tr {
      border-top: 2px solid theme("colors.teal.lighter");
    }

    th,
    td {
      a {
        position: relative;
        display: inline-block;
        @apply text-px14;
        @apply leading-px20;
        @apply font-normal;

        @screen md {
          @apply text-px16;
          @apply leading-px24;
        }

        @screen lg {
          @apply text-px20;
          @apply leading-px24;
        }
      }
    }

    th {
      @apply py-6 bg-gray-light box-border;

      @screen md {
        flex: 0 0 rem-calc(174px);
        padding: rem-calc(30px) 0 0 0;
      }

      @screen lg {
        flex: 0 0 rem-calc(218px);
        padding: rem-calc(70px) rem-calc(17) 0 rem-calc(28);
      }

      @screen lg2 {
        flex: 0 0 rem-calc(239px);
        padding: rem-calc(70px) rem-calc(28) 0;
      }

      @screen xl {
        flex: 0 0 rem-calc(269px);
        padding: rem-calc(70px) rem-calc(40) 0;
      }

      & > * {
        width: rem-calc(297px);
        @apply mx-auto;

        @screen md {
          @apply w-auto;
        }
      }

      .tier-name {
        @apply font-semibold text-px20 leading-px26;
        @apply md:leading-px24 mb-px4;
        @apply lg:text-px24 lg:leading-px34;
        @apply lg2:text-px26 lg2:leading-px36;
      }

      .tier-value {
        @apply font-normal text-px20 leading-px26;
        @apply lg:text-px20 lg:leading-px26;
        @apply lg2:text-px22 lg2:leading-px32;
      }

      .tier-name,
      .tier-value {
        @screen md {
          @apply py-0 px-6;
        }

        @screen lg {
          @apply px-0;
        }
      }
    }

    td {
      @apply mx-auto items-center px-10 pt-px65 pb-px80 w-full;

      @screen md {
        @apply px-px30 pt-px30 pb-px80 content-around;
        a + a {
          @apply mt-0;
        }
      }

      @screen lg {
        @apply pt-px70 pb-px100 pl-px55 pr-px60 gap-px40;
      }

      &.logo-size-text {
        @apply px-px28 gap-x-3 -mt-px30 block;
        column-count: 2;

        @screen md {
          @apply gap-px30 text-left px-px30;
        }

        @screen lg {
          @apply pt-px70 pb-px80 pl-px45 pr-0 gap-x-px16 mt-0;
          column-count: 3;
        }

        @screen xl {
          @apply gap-x-px30 px-px60;
        }

        a {
          @apply text-sm font-semibold w-full mb-px22 pb-px8;

          @screen md {
            @apply text-base;
          }

          @screen lg {
            @apply text-px18 leading-px26;
          }

          @screen lg2 {
            @apply text-px20 leading-px24;
          }

          @screen xl {
            @apply text-xl;
          }

          span {
            @apply pb-px8;
            border: 0;
            position: relative;
          }

          &:hover {
            span {
              &::after {
                display: none;
              }

              background: transparent repeat-x 1px 100%;
              background-image: url("data:image/svg+xml,%3Csvg width='31' height='15' viewBox='0 0 29 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-661 6C-656.26 -0.666667 -651.52 -0.666667 -646.78 6C-642.04 12.6667 -637.3 12.6667 -632.56 6C-627.82 -0.666667 -623.08 -0.666667 -618.34 6C-613.6 12.6667 -608.86 12.6667 -604.12 6C-599.38 -0.666667 -594.64 -0.666667 -589.9 6C-585.16 12.6667 -580.42 12.6667 -575.68 6C-570.94 -0.666667 -566.2 -0.666667 -561.46 6C-556.72 12.6667 -551.98 12.6667 -547.24 6C-542.5 -0.666667 -537.76 -0.666667 -533.02 6C-528.28 12.6667 -523.54 12.6667 -518.8 6C-514.06 -0.666667 -509.32 -0.666667 -504.58 6C-499.84 12.6667 -495.1 12.6667 -490.36 6C-485.62 -0.666667 -480.88 -0.666667 -476.14 6C-471.4 12.6667 -466.66 12.6667 -461.92 6C-457.18 -0.666667 -452.44 -0.666667 -447.7 6C-442.96 12.6667 -438.22 12.6667 -433.48 6C-428.74 -0.666667 -424 -0.666667 -419.26 6C-414.52 12.6667 -409.78 12.6667 -405.04 6C-400.3 -0.666667 -395.56 -0.666667 -390.82 6C-386.08 12.6667 -381.34 12.6667 -376.6 6C-371.86 -0.666667 -367.12 -0.666667 -362.38 6C-357.64 12.6667 -352.9 12.6667 -348.16 6C-343.42 -0.666667 -338.68 -0.666667 -333.94 6C-329.2 12.6667 -324.46 12.6667 -319.72 6C-314.98 -0.666667 -310.24 -0.666667 -305.5 6C-300.76 12.6667 -296.02 12.6667 -291.28 6C-286.54 -0.666667 -281.8 -0.666667 -277.06 6C-272.32 12.6667 -267.58 12.6667 -262.84 6C-258.1 -0.666667 -253.36 -0.666667 -248.62 6C-243.88 12.6667 -239.14 12.6667 -234.4 6C-229.66 -0.666667 -224.92 -0.666667 -220.18 6C-215.44 12.6667 -210.7 12.6667 -205.96 6C-201.22 -0.666667 -196.48 -0.666667 -191.74 6C-187 12.6667 -182.26 12.6667 -177.52 6C-172.78 -0.666667 -168.04 -0.666667 -163.3 6C-158.56 12.6667 -153.82 12.6667 -149.08 6C-144.34 -0.666667 -139.6 -0.666667 -134.86 6C-130.12 12.6667 -125.38 12.6667 -120.64 6C-115.9 -0.666667 -111.16 -0.666667 -106.42 6C-101.68 12.6667 -96.94 12.6667 -92.2 6C-87.46 -0.666667 -82.72 -0.666667 -77.98 6C-73.24 12.6667 -68.5 12.6667 -63.76 6C-59.02 -0.666667 -54.28 -0.666667 -49.54 6C-44.8 12.6667 -40.06 12.6667 -35.32 6C-30.58 -0.666667 -25.84 -0.666667 -21.1 6C-16.36 12.6667 -11.62 12.6667 -6.88 6C-2.14 -0.666667 2.6 -0.666667 7.34 6C12.08 12.6667 16.82 12.6667 21.56 6C26.3 -0.666667 31.04 -0.666667 35.78 6C40.52 12.6667 45.26 12.6667 50 6' stroke='%23003A48' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
              background-size: 15.5px 12.5px;
            }
          }
        }
      }

      &.logo-size-big {
        @apply grid grid-cols-1 gap-y-px120 py-20;

        @screen below-mobile {
          @apply px-container-padding-default;
        }

        @screen md {
          @apply py-8 grid-cols-3 gap-x-16 gap-y-7 items-center content-start;
        }

        @screen lg {
          @apply py-px50 pl-px45 pr-px20 gap-x-px10;
        }

        @screen lg2 {
          @apply pl-px28 py-px50 pr-px60;
        }

        @screen xl {
          @apply py-px90 gap-x-px100 gap-y-px110;
        }

        > a {
          @screen lg {
            @apply p-px18;
          }
        }

        img {
          @apply mx-auto max-w-px170 w-auto;

          @screen md {
            @apply w-auto max-w-full max-h-px62;
          }

          @screen lg {
            @apply w-full max-h-none transform;

            &[data-aspect-ratio-class="portrait"] {
              @apply scale-75;
            }

            &[data-aspect-ratio-class="square"] {
              --tw-scale-x: .6;
              --tw-scale-y: .6;
            }
          }
        }
      }

      &.logo-size-normal {
        @apply grid grid-cols-3 gap-x-5 gap-y-16 auto-rows-fr;

        @screen below-mobile {
          @apply px-container-padding-default;
        }

        @screen md {
          @apply grid-cols-4 py-12 gap-x-7 gap-y-24;
        }

        @screen lg {
          @apply py-px50 pl-px45 pr-px20 grid-cols-5 gap-x-px10 gap-y-px10;
        }

        @screen lg2 {
          @apply py-px50 grid-cols-5 gap-x-px15 gap-y-px10;
        }

        a {
          @screen lg {
            @include aspect-ratio(1, 1);
          }
        }

        img {
          @apply mx-auto w-5/6;

          @screen md {
            @apply w-full;
          }

          @screen lg {
            @apply absolute transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-auto h-auto;

            &[data-aspect-ratio-class="square"] {
              height: 50%;
            }

            &[data-aspect-ratio-class="landscape"] {
              width: 60%;
            }

            &[data-aspect-ratio-class="landscape-wide"] {
              width: 60%;
            }

            &[data-aspect-ratio-class="wide"] {
              width: 85%;
            }

            &[data-aspect-ratio-class="portrait"] {
              height: 85%;
            }
          }

          @screen lg2 {
            @apply mx-auto;
          }
        }
      }
    }
  }

  .cards {
    &__title {
      @apply mt-px80 mx-0 mb-px60 text-teal-dark;

      @screen md {
        @apply mt-px60 mx-0 mb-px65;
      }

      @screen lg {
        flex-basis: 100%;
        @apply mt-px120 mx-0 mb-px90;
      }
    }

    &__container {
      gap: 20px;
      @apply pb-px100;

      @screen md {
        @apply pb-px80 justify-center;
      }

      @screen xl {
        @apply pb-px120 justify-between;
      }

      .circulation-card {
        flex: 0 0 100%;

        @screen md {
          flex-basis: calc(492 / 768 * 100%);
        }

        @screen lg {
          flex-basis: calc(606 / 1240 * 100%);
        }
      }
    }
  }
}
