.custom-select {
  @apply inline-flex justify-center mb-px40 min-h-px50 relative;
  @apply border-px1 border-solid border-current rounded-px4;
  @apply px-px22 py-px10;
  @apply text-teal-dark;

  @screen lg {
    margin-left: col-offset(1, lg);
  }

  @screen lg2 {
    @apply ml-0 mb-px50;
  }

  // Pseudo element just to add some element between the label and the dropdown.
  // This allows hover to still work in the space between, where there is no element present.
  &::after {
    @apply block absolute -bottom-px20 left-0 w-full h-px20;
    content: '';
  }

  &:hover {
    .label {
      &:after {
        transform: rotate(180deg);
        @apply mt-0;
        margin-bottom: rem-calc(11px);
      }
    }

    .dropdown {
      @apply visible;
    }
  }

  .label {
    @apply flex items-center trevor-ti-chevron-down trevor-ti-after;
    @apply relative;

    // Chevron icon
    &:after {
      @apply text-teal-dark font-bold text-px14 mt-3 ml-px12;
    }

    &.show {
      &:after {
        transform: rotate(180deg);
        @apply mt-0;
        margin-bottom: rem-calc(11px);
      }

      .dropdown {
        @apply visible;
        transition: visibility .3s .1s;
      }
    }

    > button {
      @apply font-semibold text-px20 leading-px30;
      @apply relative;
    }
  }

  .dropdown {
    @apply absolute top-full flex invisible;
    @apply rounded-px10 overflow-hidden;
    @apply flex-col mt-px20;
    @apply z-2 border-solid border-px1 border-teal-dark;
    box-shadow: 0px 0px #{rem-calc(8px)} #{rem-calc(2px)} rgba(0, 58, 72, 0.14);
    width: calc(100vw - 30px);
    left: rem-calc(-36);

    li {
      @apply font-semibold text-px20 leading-px30 text-teal-dark bg-white;
      @apply py-5 px-12;
      @apply cursor-pointer;
      &.active {
        @apply bg-gray-light;
      }
    }
  }

  @screen md {
    @apply justify-start px-px20 py-px13;

    .label {
      @apply flex;

      > button {
        @apply text-px20 leading-px26;
      }
    }

    .dropdown {
      @apply flex-auto -left-px20 w-auto;
      min-width: rem-calc(343);

      li {
        @apply px-5;
      }
    }
  }

  @screen lg {
    .dropdown {
      @apply flex-auto;
      min-width: calc(100% + #{rem-calc(44)});

      li {
        @apply px-5;
      }
    }

    .label {
      > button {
        @apply text-px22 leading-px32;
      }
    }
  }

  @screen lg2 {
    .label {
      > button {
        @apply text-px24 leading-px34;
      }
    }
  }

  // Adjacent component override
  + * {
    margin-top: 0 !important;
  }

}
