.donation-form {
	.frequency--choices,
	.amount-choices {
		label {
			@apply transition-all duration-300;
			@apply hover:text-opacity-80;
		}

		.is-selected {
			@apply hover:bg-opacity-90;
		}
	}

  .frequency--choices {
    @screen lg2 {
      margin-right: 167px;
    }
  }

	.dedication {
		@apply flex flex-nowrap items-start mt-px50;
		@apply text-px18 leading-px26 tracking-px05;

    @screen md {
      @apply mt-px40;
    }
	}

	.dedication-checkbox.dedication-checkbox {
		@apply flex w-px30 h-px30 relative items-center justify-center;
		@apply visible mr-px20 opacity-100 bg-none;
		@apply appearance-none rounded-px4;

    &:checked {
      @apply bg-teal-dark;
    }

		&::after {
			@apply relative text-px40 text-white;
			font-family: "trevor-ti";
			content: $font-trevor-ti-checkmark;
		}

		&:not(:checked)::after {
			@apply hidden;
		}
	}

  .amount {
    margin-bottom: 0 !important;

    @screen lg2 {
      margin-right: 115px;
    }

    @screen xl {
      margin-right: 100px;
    }
  }

	&__submit,
  input.submit {
		@apply transition-all duration-300 mt-px50;

    @screen xl {
      @apply mt-px40;
    }

		&:hover {
			--tw-bg-opacity: .9 !important;
		}
	}

  &__error {
    @apply font-semibold text-px16 leading-px22 tracking-em001 mt-px14;
  }

  .floating-label-input {
    --activated-label-color: currentColor;

    &--activated {
      label {
        --tw-translate-x: calc(#{rem-calc(-36)});
      }
    }

    label {
      @apply pl-px50;
    }
  }
}
