.ect-map {
  @apply bg-blue_green text-white;

  &__container {
    @apply container mx-auto;
    @apply tw-grid items-center;
  }

  &__content {
    @apply col-span-full pt-px70 pb-px60 text-center;

    @screen md {
      @apply col-span-4 col-start-3 pt-px40 pb-px60;
    }

    @screen lg {
      @apply col-span-5 py-0 pl-px50 pr-px55;
      @include bleed-l(lg);
    }

    @screen lg2 {
      @apply col-span-4 px-px60;
      @include bleed-l(lg2);
    }

    @screen xl {
      @apply -ml-px140 px-px80;
    }
  }

  &__heading {
    @apply font-semibold text-px30 leading-px40 tracking-em005;

    @screen md {
      @apply px-px60;
      @apply font-semibold text-px24 leading-px28 tracking-px_05;
    }

    @screen xl {
      @apply px-px28;
      @apply text-px32 leading-px40;
    }
  }

  &__description {
    @apply text-px20 leading-px26 mt-px14;

    @screen md {
      @apply px-px60;
      @apply text-px16 leading-px22 tracking-em001;
    }

    @screen xl {
      @apply px-px28;
      @apply text-px20 leading-px26;
    }
  }

  &__map-container {
    @apply col-span-full relative;
    @include bleed-always;
  }

  &__map {
    min-height: rem-calc(600);

    @screen md {
      min-height: rem-calc(484);
    }

    @screen lg {
      min-height: rem-calc(616);
    }

    @screen lg2 {
      min-height: rem-calc(670);
    }

    @screen xl {
      min-height: rem-calc(750);
    }
  }

  &__search {
    @apply mt-px30 flex items-center w-full relative text-teal-dark;

    @screen xl {
      @apply mt-px50;
    }
  }

  &__search-input {
    @apply h-px60 flex items-center appearance-none border-0 rounded-px10 w-full pl-px58;
  }

  &__search-submit {
    @apply absolute top-0 left-0 h-full text-px20 flex items-center pl-px28 pr-px10;
  }

  &__download {
    @apply hidden;
    @apply absolute top-px40 right-px28;
    @apply overflow-visible;

    .ect-map--loaded & {
      @apply block;
    }

    @screen xl {
      @apply top-px30 right-px50;
    }

    i {
      @apply ml-px10;
    }

    &:focus,
    &:focus-within,
    &:hover {
      .ect-map__export-options {
        @apply block;
      }
    }
  }

  &__download-text {
    @apply btn relative;
    @apply flex whitespace-nowrap rounded-px100;
  }

  &__export-options {
    @apply w-full hidden absolute left-0 top-px24 pt-px24;
    @apply border-l-px1 border-r-px1 border-solid border-teal-dark bg-teal-tint;

    @screen xl {
      @apply top-px30 pt-px30;
    }
  }

  &__export {
    @apply block w-full py-px10 text-center text-teal-dark border-teal-dark border-b-px2 border-solid font-bold;
  }

  .highcharts-container {
    @apply bg-gray-light mx-auto;
    width: 100% !important;
  }

  .highcharts-exporting-group {
    display: none;
  }

  #mapLegend {
    display: flex;
  }

  #updated {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    font-size: 0.3rem;
  }

  #container {
    flex-basis: 100%;
    height: 100vh;
    min-width: 310px;
    margin: 0 auto;
    background-color: #f3f3f7;

    @screen xl {
      max-height: 750px;
    }
  }

  .highcharts-series-0 path {
    fill: #f3f3f7;
  }

  .highcharts-legend-item rect {
    stroke: rgba(0, 58, 72, 0.2);
    stroke-width: 1px;
  }

  @media only screen and (max-width: 634px) {
    #mapLegend {
      flex-wrap: wrap;
    }
  }

  .highcharts-tooltip .note {
    margin-top: 5px;
  }

  .highcharts-tooltip .explainer {
    background-color: rgba(0, 94, 103, 0.4);
    margin: 5px -15px 0px -15px;
    padding: 15px;
  }

  // Unnecessary elements
  & .highcharts-a11y-proxy-button {
    display: none !important;
  }
}
