.ect-map {
  @apply bg-gray-light text-white;

  &__container {
    @apply container mx-auto;
    @apply tw-grid items-center;
  }

  &__content {
    @apply col-span-full pt-px70 pb-px60 text-center;

    @screen md {
      @apply col-span-4 col-start-3 pt-px40 pb-px60;
    }

    @screen lg {
      @apply col-span-5 py-0 pl-px50 pr-px55;
      @include bleed-l(lg);
    }

    @screen lg2 {
      @apply col-span-4 px-px60;
      @include bleed-l(lg2);
    }

    @screen xl {
      @apply -ml-px140 px-px80;
    }
  }

  &__heading {
    @apply font-semibold text-px30 leading-px40 tracking-em005;

    @screen md {
      @apply px-px60;
      @apply font-semibold text-px24 leading-px28 tracking-px_05;
    }

    @screen xl {
      @apply px-px28;
      @apply text-px32 leading-px40;
    }
  }

  &__description {
    @apply text-px20 leading-px26 mt-px14;

    @screen md {
      @apply px-px60;
      @apply text-px16 leading-px22 tracking-em001;
    }

    @screen xl {
      @apply px-px28;
      @apply text-px20 leading-px26;
    }
  }

  &__map-container {
    @apply col-span-full relative;
    @include bleed-always;

    @screen lg {
      @apply relative min-h-0;
      padding-top: calc( 100vw * 800 / 1440 );
    }

    @screen xl {
      padding-top: rem-calc(720);
    }
  }

  &__map {
    @apply h-full;
    min-height: rem-calc(600 + 106); // 106px being the total space required for download button + spacing
    padding-bottom: rem-calc(106);

    @screen md {
      @apply pb-0;
      min-height: rem-calc(800);
    }

    @screen lg {
      @apply absolute min-h-0 top-px50 left-0 right-0;
      height: calc(100% - #{rem-calc(100)});
    }
  }

  &__download {
    @apply hidden;
    @apply absolute bottom-px30 left-1/2 transform -translate-x-1/2;
    @apply overflow-visible;

    @screen md {
      @apply top-px40 right-px28 bottom-auto left-auto translate-x-0;
    }

    @screen xl {
      @apply top-px30 right-px50;
    }

    .ect-map--loaded & {
      @apply block;
    }

    i {
      @apply ml-px10;
    }

    &--expanded {
      .ect-map__export-options {
        @apply block;
      }
    }
  }

  &__download-text {
    @apply btn relative;
    @apply flex whitespace-nowrap rounded-px100;
  }

  &__export-options {
    @apply w-full hidden absolute left-0 top-px24 pt-px24;
    @apply border-l-px1 border-r-px1 border-solid border-teal-dark bg-teal-tint;

    @screen xl {
      @apply top-px30 pt-px30;
    }
  }

  &__export {
    @apply block w-full py-px10 text-center text-teal-dark border-teal-dark border-b-px2 border-solid font-bold;
  }

  .highcharts-container {
    @apply bg-gray-light mx-auto;
    width: 100% !important;
  }

  .highcharts-exporting-group {
    display: none;
  }

  #mapLegend {
    display: flex;
  }

  #updated {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    font-size: 0.3rem;
  }

  #container {
    flex-basis: 100%;
    height: 100vh;
    min-width: 310px;
    margin: 0 auto;
    background-color: #f3f3f7;

    @screen xl {
      max-height: 750px;
    }
  }

  .highcharts-series-0 path {
    fill: #f3f3f7;
  }

  .highcharts-legend-item rect {
    stroke: rgba(0, 58, 72, 0.2);
    stroke-width: 1px;
  }

  @media only screen and (max-width: 634px) {
    #mapLegend {
      flex-wrap: wrap;
    }
  }

  .highcharts-tooltip .note {
    margin-top: 5px;
  }

  .highcharts-tooltip .explainer {
    background-color: rgba(0, 94, 103, 0.4);
    margin: 5px -15px 0px -15px;
    padding: 15px;
  }

  // Unnecessary elements
  & .highcharts-a11y-proxy-button {
    display: none !important;
  }
}
