.custom-embed {
  // Block spacer variables
  // Top Spacing
  --spacer-top--default: #{rem-calc(40)};
  --spacer-top--md: #{rem-calc(60)};
  --spacer-top--lg: #{rem-calc(50)};
  --spacer-top--lg2: #{rem-calc(50)};
  --spacer-top--xl: #{rem-calc(80)};
  // Bottom Spacing
  --spacer-bottom--default: #{rem-calc(115)};
  --spacer-bottom--md: #{rem-calc(80)};
  --spacer-bottom--lg: #{rem-calc(120)};
  --spacer-bottom--lg2: #{rem-calc(100)};
  --spacer-bottom--xl: #{rem-calc(120)};

  &__container {
    @apply container mx-auto;

    @screen xl {
      @apply grid tw-grid-desktop;
    }
  }

  // Reduce top spacing after succeeding a messaging block
  .messaging:not([class*="bg-"]) + &,
  .messaging.bg-transparent + & {
    --spacer-top--default: #{rem-calc(-60)};
    --spacer-top--md: #{rem-calc(-100)};
    --spacer-top--lg: #{rem-calc(-50)};
    --spacer-top--lg2: #{rem-calc(-70)};
    --spacer-top--xl: #{rem-calc(-80)};
  }
}
.embed-content {
    @apply relative rounded-px10;

    @screen xl {
      @apply col-span-10 col-start-2;
    }

    > * {
        @apply absolute top-0 left-0 w-full h-full;
    }
}
