.faqs {
  @apply pb-px80 pt-px80 bg-white;

  @screen lg {
    @apply pb-px120 pt-px120;
  }

  &__container {
    @apply tw-grid;
  }

  &-heading {
    @apply mb-px50 text-center text-px32 leading-px42 font-semibold text-teal-dark col-span-full;

    @screen md {
      @apply mb-px30 text-left text-px30 leading-px40;
    }

    @screen lg {
      @apply mb-px40 text-px40 leading-px28;
    }

    @screen lg2 {
      @apply col-span-10 col-start-2;
    }
  }

  .faq {
    &-list {
      @apply col-span-full mr-pxn25 ml-pxn25;
      border-top: 1px solid theme("colors.teal.dark");

      @screen below-mobile {
        @apply -mx-container-padding-default;
      }

      @screen md {
        @apply mx-0;
      }

      @screen lg2 {
        @apply col-span-10 col-start-2 -mr-px28;
      }

      @screen xl {
        @apply mr-0;
      }

      &__item {
        &.is-open {
          .plus {
            @apply hidden;
          }

          .minus {
            @apply block;
          }

          .faq-list__content {
            @apply opacity-100 visible;
          }
        }
      }

      &__toggle {
        @apply flex flex-shrink-0 w-px45 h-px45 justify-center items-center order-1 -mr-px20;

        @screen lg {
          @apply mr-0;
        }
      }

      &__heading {
        @apply pt-px28 pb-px28 pl-px20 pr-px20 cursor-pointer;
        border-bottom: 1px solid rgba(149, 163, 167, 0.4);

        @screen md {
          @apply pt-px40 pb-px40 pl-0 pr-0;
        }

        &-headline {
          @apply flex justify-between items-center text-px18 leading-px26 tracking-px05 font-semibold text-teal-dark;

          @screen md {
            @apply text-px20;
          }

          @screen lg {
            @apply text-px26 leading-px36 px-px10;
          }

          .minus {
            @apply hidden translate-y-10;
          }
        }
      }

      &__content {
        border-bottom: 1px solid rgba(149, 163, 167, 0.4);
        @apply h-0 overflow-hidden transition-all duration-500 ease-in-out opacity-0 invisible;
        will-change: height;
      }

      &__body {
        @apply text-px16 leading-px22 text-teal-dark bg-gray-light;
        @apply pt-px28 pr-px40 pb-px38 pl-px40;

        @include wysiwyg;

        @screen md {
          @apply pt-px40 pr-px30 pb-px40 pl-px30 text-px18 leading-px26;
        }

        @screen lg {
          @apply pt-px50 pr-px48 pb-px58 pl-px38 text-px20 leading-px28;
        }
      }
    }

    &-footer {
      @apply mt-px40 col-span-full;

      @screen lg {
        @apply mt-px30;
      }

      @screen lg2 {
        @apply col-span-10 col-start-2;
      }

      p {
        @apply text-center text-px18 leading-px26 text-teal-dark;

        @screen lg {
          @apply text-left;
        }

        a {
          @apply relative font-bold ml-px10 text-teal-dark underline;
          text-underline-offset: .2em;
        }
      }
    }
  }
}
