.featured-card-3up {

  &--left {
    @screen xl {
      .featured-card-3up__heading,
      .featured-card-3up__description {
        @apply text-left;
      }
    }
  }

  &--carousel {
    .featured-card-3up__items-container {
      @each $screen in md, lg {
        @screen #{$screen} {
          $offset-value: calc(((100vw - #{theme('screens.' + $screen)}) / 2) + theme('container.padding.#{$screen}'));

          margin-left: calc(-1 * #{$offset-value});
          margin-right: calc(-1 * #{$offset-value});
          padding-left: $offset-value;
          padding-right: $offset-value;
        }
      }
    }

    @screen lg-max {
      .featured-card-3up__items-container {
        @apply -my-px20 overflow-hidden;
      }

      .featured-card-3up__items {
        @apply flex gap-x-0;
      }

      .featured-card-3up__item {
        width: calc((100% - 28px) / 2);
        height: auto;
        align-self: stretch;
      }
    }

    @screen lg {
      .featured-card-3up__item {
        width: auto;
      }
    }

    @screen lg2 {
      .featured-card-3up__items-container {
        @apply mx-0 px-0;
      }
    }

    @screen mobile {
      .featured-card-3up__items-container {
        $mobile-offset: calc(((100vw - #{theme('screens.sm')}) / 2) + theme('container.padding.DEFAULT'));

        margin-left: calc(-1 * #{$mobile-offset});
        margin-right: calc(-1 * #{$mobile-offset});
        padding-left: $mobile-offset;
        padding-right: $mobile-offset;
      }
    }
  }

  &__container {
    @apply container mx-auto py-px80;

    @screen md {
      @apply py-px100;
    }

    @screen lg2 {
      @apply py-px140;
    }
  }

  &__heading {
    @apply font-semibold text-px32 leading-px40 text-center mb-px50;

    @screen md {
      @apply text-px32 leading-px42 mb-px60;
    }

    @screen lg {
      @apply text-px40 leading-px48 tracking-px_05;
    }

    @screen lg2 {
      @apply text-px46 leading-px56 mb-px70;
    }
  }

  &__description {
    @apply text-px20 leading-px26 mt-px8 mb-px40 text-center;

    @screen md {
      @apply text-px22 leading-px32 mt-px8 mb-px50;
    }

    @screen xl {
      @apply text-px24 leading-px34 tracking-px05 mt-px14 mb-px50;
    }
  }

  &__items-container {
    @apply overflow-visible mt-px40;

    @screen md {
      @apply mt-px54;
    }

    @screen xl {
      @apply mt-px60;
    }
  }

  &__items {
    @apply tw-grid;
    @apply gap-y-px28;

    @screen md {
      @apply gap-x-px28;
    }
  }

  &__item {
    @apply col-span-full h-full flex-grow-0;

    @screen md {
      @apply col-span-4;
    }

    @screen lg-only {
      @apply col-span-5;

      &:nth-child(odd) {
        @apply col-start-2;
      }

      &:nth-child(even) {
        @apply col-start-7;
      }
    }

    .tile {
      @apply h-full w-full;
      max-width: none;
    }
  }

  &__cta-wrap {
    @apply text-center mt-px30;

    @screen md {
      @apply mt-px40;
    }

    @screen lg2 {
      @apply mt-px70;
    }
  }

  &__cta {
    @apply btn;
    @apply bg-white text-indigo;
  }

  .swiper-pagination {
    @apply lg2:hidden;
  }

  .swiper-pagination-bullet {
    @apply bg-current;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @screen lg {
      --arrow-button-width: calc(50% - #{theme("screens.lg")} / 2 * (5 / 6) + 2rem);

      width: var(--arrow-button-width);

      &:not(.swiper-button-disabled) {
        display: flex;
      }

      .swiper-button-wrapper {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    @screen lg2 {
      display: none!important;
    }
  }

  .swiper-button-prev {
    @screen lg {
      left: calc( theme("container.padding.lg") / 2 );
    }
  }

  .swiper-button-next {
    @screen lg {
      right: calc( theme("container.padding.lg") + ( var(--arrow-button-width) / 2 ) );
    }
  }
}
