@mixin active-label-styles {
  @apply -translate-x-px20;
    color: var(--activated-label-color);
    top: 0;
    --tw-translate-y: -100%;
    --tw-scale-x: calc(14/18);
    --tw-scale-y: calc(14/18);
    width: 140%;
}

@mixin floating-label-active {
  label:not([class*="dummy"]) {
    @include active-label-styles;
    @content;
  }

  .floating-label-input__dummy-label-active {
    @include active-label-styles;
    @content;
  }
}

// Applies active label styles
// @content - Override styles for label and dummy-label
@mixin active-label-state {
  &.floating-label-input--activated {
    label:not([class*="dummy"]) {
      @include active-label-styles;
      @content;
    }
  }

  .floating-label-input__dummy-label-active {
    @include active-label-styles;
    @content;
  }
}

.floating-label-input {
  --default-label-color: theme('colors.teal.dark');
  --activated-label-color: theme('colors.white.DEFAULT');
  --label-height-default: #{rem-calc(150)};
  @apply w-full relative;
  @apply text-px18 leading-px26;

  &[data-input-tag="select"] {
    @include floating-label-active {
      @apply items-end;
    }
  }

  &[data-input-tag="textarea"] {
    label:not([class*="dummy-active"]) {
      @apply top-0 translate-y-0;
    }
  }

  &[data-input-tag="textarea"],
  &[data-input-tag="select"] {
    label:not([class*="dummy-active"]) {
      @apply h-auto items-end pointer-events-auto inline-block;
    }
  }

  &[data-input-type="radio"],
  &[data-input-type="checkbox"] {
    label {
      @apply py-0;
    }
  }

  label {
    @apply absolute top-1/2 left-0;
    @apply transform-gpu origin-bottom-left -translate-y-1/2;
    @apply transition-all;
    @apply w-full h-auto text-left;
    @apply px-px28 py-px10 flex flex-wrap items-center pointer-events-none z-1;
    color: var(--default-label-color);
  }

  & input,
  & select {
    @apply w-full;

    &::placeholder {
      color: transparent !important;
    }
  }

  & textarea {
    min-height: var(--label-height-default);
  }

  // Activated state
  &--activated:not([data-input-type="checkbox"]) {
    @include floating-label-active;
  }

  &[data-input-tag="select"] {
    @include floating-label-active;
  }

  // Dummy labels
  & &__dummy-label-active {
    @include active-label-styles;
    @apply invisible transition-none;
  }

  & &__dummy-label-default {
    @apply invisible transition-none;
  }
}
