.floating-label-input {
  --default-label-color: theme('colors.teal.dark');
  --activated-label-color: theme('colors.white.DEFAULT');
  --label-height-default: #{rem-calc(150)};
  @apply w-full relative;
  @apply text-px18 leading-px26;

  &[data-input-tag="textarea"] {
    label:not([class*="dummy-label-active"]) {
      @apply top-0 translate-y-0;
    }
  }

  &[data-input-type="radio"],
  &[data-input-type="checkbox"] {
    label {
      &:not([class*="dummy-label-active"]) {
        @apply whitespace-normal;
      }
    }
  }

  label {
    @apply block w-full overflow-ellipsis overflow-hidden;
    @apply absolute top-1/2 left-0;
    @apply transform-gpu origin-bottom-left -translate-y-1/2;
    @apply transition-all;
    @apply w-full h-auto text-left;
    @apply px-px28 py-px10 items-center pointer-events-none z-1;
    color: var(--default-label-color);

    &:not([class*="dummy-label-active"]) {
      @apply whitespace-nowrap;
    }

    // Dummy labels
    &.floating-label-input__dummy-label-active {
      @apply bottom-full w-full px-0 py-0 mb-px5;
      @apply transition-all translate-y-full transform-gpu invisible opacity-0;
      color: var(--activated-label-color);
      top: unset;
      font-size: (14em/18);
      line-height: (24em/18);
      will-change: transform;
    }

    &.floating-label-input__dummy-label-default {
      @apply invisible transition-none;
    }
  }

  & input,
  & select {
    @apply w-full;

    &::placeholder {
      color: transparent !important;
    }
  }

  & textarea {
    min-height: var(--label-height-default);
  }

  // Activated state
  &--activated {
    &:not([data-input-type="checkbox"]),
    &:not([data-input-type="radio"]) {
      label:not([class*="dummy-label"]) {
        @apply -translate-y-full opacity-0 invisible;
      }

      .floating-label-input__dummy-label-active {
        @apply translate-y-0 opacity-100 visible pointer-events-auto;
      }
    }
  }

  &[data-input-tag="select"] {
    select {
      @apply overflow-ellipsis block overflow-hidden;
    }

    &:not([class*="--activated"]) {
      .label:not([class*="dummy-label-active"]) {
        color: var(--default-label-color);
      }

      select {
        @apply text-transparent;
      }
    }
  }

  &[data-input-tag="textarea"] {
    label {
      &:not([class*="label-active"]) {
        @apply whitespace-normal;
      }
    }
  }
}
