footer {
  @apply bg-teal-dark text-white;
  @apply pt-20 pb-14;

  // Logo
  .logo-wrap {
	@apply flex-1 mb-5;
  }

  .logo {
	@apply inline-block relative;
  }

  .logo-text {
	@apply block;
	font-size: 7.75rem;
	line-height: 7.75rem;
  }

  .logo-icon {
	@apply block absolute;
	font-size: 2.3rem;
	top: -1.75rem;
	right: -1.25rem;
  }

  form {
	@apply flex flex-col;
	@apply mb-12;

	@screen md {
	  @apply flex-row flex-wrap space-x-5 mr-10;
	}

	@screen lg {
	  @apply mr-36;
	}
  }

  fieldset {
	@apply flex flex-col mb-7;

	@screen md {
	  @apply mb-0 flex-auto;
	  margin-left: 0 !important;
	}
  }

  legend {
	@apply text-px16 leading-px20 mb-5 uppercase;

	@screen md {
	  flex-basis: 100%;
	}
  }

  input[type] {
	@apply py-5 px-7 rounded-px10 placeholder-teal-dark text-teal-dark;
	@apply flex-grow;
  }

  .btn {
	@apply bg-white text-teal-dark;

	@screen md {
	  @apply flex-auto;
	  @apply text-px18 leading-px26;
	}

	@screen lg {
	  @apply flex-grow-0;
	}
  }

  .is-rc & {
	@apply bg-indigo;

	input[type] {
	  @apply placeholder-indigo text-indigo;
	}

	.btn {
	  @apply text-indigo;
	}
  }

  ul {
	@apply mb-14;

	li {
	  @apply mb-5;

	  &:last-child {
		@apply mb-0;
	  }

	  a {
		@apply text-px18 leading-px22 uppercase;
	  }

	  i {
		font-size: 1.4rem;
	  }
	}

	&.site-links {
	  @screen md {
		@apply flex flex-row flex-wrap mr-36;

		li {
		  flex-basis: 50%;
		}
	  }

	  @screen lg {
		@apply flex-col mr-0 mt-4;

		li {
		  flex-basis: auto;
		}
	  }

		.submenu-icon {
			@apply hidden;
		}
	}

	&.social-links {
	  @apply mb-0 flex flex-row;

	  li {
		@apply flex-auto mr-7;
	  }
	}
  }

  @screen md {
	ul {
	  &.social-links {
		li {
		  @apply flex-initial;
		}
	  }
	}
  }

  @screen lg {
	@apply pb-24;

	.col {
	  @apply flex-auto;

	  &:last-child {
		@apply flex-shrink-0;
	  }
	}

  }
}
