.browserupgrade {
	@apply bg-gray-light text-indigo text-center p-px40;
  font-size: 1.1rem;

  a {
	@apply underline;
  }
}

.list {
  &-check {
	li {
	  @apply flex flex-row items-center;
	  &:before {
		@apply text-px46 mr-6;
		content: $font-trevor-ti-checkmark;
		line-height: 0;
	  }
	}
  }

  &-decimal {
	list-style: none;
	counter-reset: counter;

	li {
	  @apply flex flex-row items-start;
	  counter-increment: counter;

	  &:before {
		@apply flex flex-none;
		@apply rounded-full border-2 border-teal-dark text-px14 font-bold w-8 h-8 items-center justify-center mr-4;
		content: counter(counter) ". ";
	  }
	}
  }
}

.card-fixed {
  .card {
	height: rem-calc(370px);

	@screen lg {
	  height: rem-calc(402px);
	}
  }
}

.img-square img {
  height: calc(100vw - (theme('container.padding.DEFAULT') * 2));

  @screen md {
	height: auto;
  }
}

#rc-search-main {
	cursor: text;

	&::-webkit-search-cancel-button {
		appearance: none;
	}

	// &[placeholder]::before {
	// 	content: attr(placeholder);
	// 	@apply text-violet;
	// }

	&[placeholder]:not(:empty)::before {
		content: "";
	}
}

.search-form {

  .input-wrap {
	&.input-has-value {
	  @apply justify-center;

	  .search-field {
		@apply w-auto text-center;
	  }

	  .icon-wrap {
		@apply pl-0;
	  }

	  .icon-search-cancel {
		  @apply flex cursor-pointer h-full;
	  }
	}
  }

  .search-field {
	border: none;
	@apply text-left;

	&:focus {
	  outline: none;
	  box-shadow: none;
	}
  }

  .trevor-ti-search,
  .trevor-ti-x {
	@apply text-violet;
  }

  .trevor-ti-x {
	@apply text-px30;

	@screen lg {
	  @apply text-px32;
	}
  }

  #input-suggestions {
	@apply absolute bg-white rounded-px10 transform translate-y-px4 md:translate-y-px6 text-indigo;
	z-index: 5;

	@screen md {
	  box-shadow: theme('boxShadow.indigo-md');
	}

	@screen lg {
	  box-shadow: theme('boxShadow.indigo-lg');
	}

	.list-header {
	  @apply font-semibold text-center text-px14 leading-px22 md:leading-px18 lg:leading-px20 mb-px8 lg:mb-px6;
	}

	.ui-autocomplete {
	  @apply rounded-px10 pt-px24 mx-auto;
	  left: 0 !important;
	  width: 100% !important;
	}

	.ui-menu-item {
	  @apply font-normal text-px14 leading-px18 md:text-px16 md:leading-px22 lg:text-px18 text-center py-px4 lg:py-px6 text-indigo;
	}

	.ui-state-focus {
	  @apply text-indigo cursor-pointer font-normal m-0 border-0;
	  background: none;
	}
  }
}

.word-of-the-day {
  @apply max-w-px606;
}

.take-action-cta {
	@apply py-px12 px-px32 xl:py-px20 xl:px-px40 rounded-px10;
}

.carousel-wrap {
	@apply overflow-x-hidden;
}

// Remove stepper from hidden input
input[aria-hidden="true"]::-webkit-outer-spin-button,
input[aria-hidden="true"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
