.header-image-grid {
  @apply pt-px88 pb-px100;
  @apply bg-white text-teal-dark text-center;

  @screen md {
    @apply pt-px100 pb-px120;
  }

  @screen lg {
    @apply pt-px120 pb-px90;
  }

  @screen lg2 {
    @apply pt-px140 pb-px120;
  }

  &__container {
    @apply container mx-auto;
    @apply tw-grid;
  }

  &__heading {
    @apply text-center col-span-full;
    @apply font-semibold text-px32 leading-px42;

    @screen md {
      @apply col-span-6 col-start-2;
    }

    @screen lg {
      @apply text-px40 leading-px50 tracking-em_001 col-start-2 col-span-10;

      & + .header-image-grid__grid {
        @apply mt-px80;
      }
    }

    @screen lg2 {
      @apply col-start-3 col-span-8;

      & + .header-image-grid__grid {
        @apply mt-px100;
      }
    }

    @screen xl {
      @apply text-px46 leading-px56;
    }
  }

  &__description {
    @apply text-px20 leading-px26 mt-px14 col-span-full;

    @screen md {
      @apply mt-px8 text-px18 leading-px24 col-span-6 col-start-2 mb-px80 tracking-px05;

      & + .header-image-grid__grid {
        @apply mt-0;
      }
    }

    @screen lg {
      @apply col-start-2 col-span-10 mt-px14 mb-px60 text-px22 leading-px32;

      & + .header-image-grid__grid {
        @apply mt-0;
      }
    }

    @screen lg2 {
      @apply text-px24 leading-px34 col-start-3 col-span-8 mb-px90;
    }

    @screen xl {
      @apply text-px26 leading-px36;
    }
  }

  &__grid {
    @apply flex flex-wrap justify-center mt-px30 col-span-full;

    @screen md {
      @apply mt-px50 col-span-6 col-start-2 gap-x-md;
    }

    @screen lg {
      @apply mt-px40 mx-px45 col-start-1 col-span-full;
    }

    @screen lg2 {
      @apply col-start-2 col-span-10 mt-0;
    }

    @screen xl {
      @apply col-start-3 col-span-8 mx-0;
    }
  }

  &__item {
    @apply relative aspect-ratio-1-1;
    @apply mx-px6;
    width: calc((100% - 13px) / 2);

    @screen mobile {
      // First item in each row
      &:nth-child(odd) {
        @apply ml-0;
      }

      // Last item in each row
      &:nth-child(even) {
        @apply mr-0;
      }

      // 2nd row onwards
      &:nth-child(n + 3) {
        @apply mt-px12;
      }

      // last child in the row.
      &:last-child:nth-child(n + 3) {
        @apply mx-auto;
      }
    }

    @screen md-minmax {
      @apply mx-0 gap-x-md;
      @include col-span(2, md);
    }

    @screen lg {
      @apply mx-0 gap-x-lg;
      @include col-span(3, lg);
    }

    @screen lg2 {
      @apply gap-x-lg2;
      @include col-span(3, lg2);
    }
  }

  &__image {
    @apply absolute flex items-center justify-center top-0 left-0 w-full h-full;

    img {
      @apply block object-contain;
      max-width: 80%;
      max-height: 80%;

      @screen lg2 {
        max-width: calc((100% - #{rem-calc(40)}) * .8);
        max-height: calc((100% - #{rem-calc(40)}) * .8);
      }
    }
  }

  &__links {
    @apply col-span-full mt-px20 text-center flex flex-col;

    @screen md {
      @apply block mt-px78 justify-center -mb-px44;
      letter-spacing: rem-calc(36);
    }

    @screen lg {
      @apply -mb-px40 mt-px60;
      letter-spacing: rem-calc(40);
    }

    @screen xl {
      @apply mt-px40;
      letter-spacing: rem-calc(20);
    }
  }

  &__link-item {
    @screen mobile {
      &:not(:last-child) {
        @apply mb-px30;
      }
    }

    @screen md {
      @apply mb-px44 inline-flex;
    }

    @screen lg {
      @apply mb-px40;
    }
  }

  &__link {
    @apply font-semibold text-px20 leading-px26 tracking-px05;
    @apply pb-px5 border-b-px2 border-solid border-current;
    word-wrap: break-word;

    @screen lg {
      @include wave-underline;

      &:hover {
        @apply pb-px7 border-0;
      }
    }
  }

  // With links variant
  &--with-link {
    .header-image-grid__heading {
      @apply text-px32 leading-px40;

      @screen md {
        @apply text-px32 leading-px42;
      }

      @screen lg {
        @apply text-px40 leading-px50 tracking-em_001;
      }

      @screen xl {
        @apply text-px40 leading-px48 tracking-em_005;
      }
    }

    .header-image-grid__grid {
      @screen lg {
        @apply col-start-2 col-span-10 mx-0;
      }

      @screen lg2 {
        @apply col-span-full;
      }
    }
  }
}

.header-container--text + #site-content {
  .header-image-grid__grid {
    @apply col-span-full mx-0;
  }

  img.header-image-grid__image {
    @apply py-px28;

    @screen md {
      @apply px-px5;
    }

    @screen lg2 {
      @apply p-0;
      max-width: 190px;
    }

    @screen xl {
      max-width: 200px;
    }
  }
}
