:root {
  --top-bar-height: #{rem-calc(4px)};
  --top-nav-height: 8.5rem;
  --top-nav-top-margin: calc(var(--top-bar-height) + var(#{$var-tr-wp-admin-bar-h}));

  @screen md {
	--top-nav-height: 9rem;
  }

  @screen lg {
	--top-bar-height: #{rem-calc(78px)};
	--top-nav-height: 11rem;
  }
}


//
// Top Bar
//
#top-bar {
  @apply bg-white;
  @apply static top-0 z-30;
  border-bottom: rem-calc(4px) solid theme('colors.orange.DEFAULT');
  height: var(--top-bar-height);
  @apply max-h-0;

  .top-bar-inner {
	@apply flex mx-auto hidden items-center h-full;
  }

  .logo-icon {
	@apply hidden flex-1;
	@apply text-orange;
	font-size: rem-calc(40px);
  }

  // Switcher
  .switcher {
	@apply list-none;
	@apply flex flex-row flex-1;

	> li {
	  @apply px-2;

	  &:first-child {
		@apply pl-0;
	  }

	  > a {
		@apply pb-2;
		@apply font-manrope;
		@apply text-base leading-none tracking-wide;

		&.active {
		  @apply font-bold;
		}
	  }
	}
  }

  // CTAs
  .cta-wrap {
	.btn {
	  @apply py-2 px-6 rounded-full border-2 border-orange;

	  & + .btn {
		@apply ml-2;
	  }
	}
  }


  @screen lg {
	border-bottom-width: rem-calc(6px);
	max-height: unset;
	@apply sticky;

	.top-bar-inner {
	  @apply flex;
	}
  }
}

@screen lg {
  body:not(.on-top) {
	#top-bar {
	  .logo-icon {
		@apply block;
	  }

	  .switcher {
		@apply hidden;
	  }
	}
  }
}

// Fix top bar for wp admin bar
body.admin-bar {
  margin-top: var(#{$var-tr-wp-admin-bar-h});

  #top-bar {
	top: var(#{$var-tr-wp-admin-bar-h});
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
	position: fixed !important; // Reverse
	top: 0;
  }
}


//
// NAV
//
#top-nav {
  height: var(--top-nav-height);
  @apply z-20;
}

.top-nav-inner {
  @apply flex flex-row items-center h-full;
  @apply mx-auto;

  // Logo
  .logo-wrap {
	@apply flex-1;
  }

  .logo {
	@apply inline-block relative;
  }

  .logo-text {
	@apply block;
	font-size: 4.75rem;
	line-height: 4.75rem;
  }

  .logo-icon {
	@apply block absolute;
	font-size: 1.25rem;
	top: -.75rem;
	right: -.25rem;
  }


  // Menu
  /* @see: .main-menu-container */
  .menu-wrap {
	@apply hidden;
  }

  // Opener
  .opener-wrap {
	@apply flex items-center;
  }

  .opener {
	font-size: 3rem;
	padding-bottom: 1.75rem;
	@apply cursor-pointer;
  }

  // Search Button
  .search-button {
	font-size: 1.5rem;
	margin-top: -.25em;
  }

  @screen lg {
	.opener {
	  @apply hidden;
	}

	.menu-wrap {
	  @apply flex;
	  margin-top: -4rem;
	}

	.logo-text {
	  font-size: 7.25rem;
	  line-height: 7rem;
	  margin-left: -1.25rem;
	  margin-top: 2rem;
	  @apply block;
	}

	.logo-icon {
	  @apply block absolute;
	  font-size: 2.25rem;
	  top: 0.5rem;
	  right: -1rem;
	}
  }
}


// Mobile First
@media screen and (max-width: theme('screens.md')) {
  #top-nav-open:checked ~ .top-nav-inner {
	@apply block;
	@apply h-full;

	.main-menu {
	  @apply grid-flow-row;
	  @apply px-6;
	}

	.logo-wrap {
	  @apply hidden;
	}

	.main-menu-container {
	  @apply w-full;
	}

	.menu-item-has-children > a {
	  @apply w-full;
	  @apply flex flex-row;
	  @apply text-xl;
	  @apply border-b;

	  .title-wrap {
		@apply flex-1;
	  }

	  .submenu-icon {
		@apply block;
		@apply self-end;
		transform: rotate(-90deg);
	  }
	}
  }
}


// Main Menu
.main-menu-container {
  .submenu-icon {
	@apply hidden;

	&:before {
	  font-size: .5rem;
	  display: inline-block;
	  vertical-align: middle;
	}
  }

  // Dropdowns
  @screen md {
	@apply pb-4;
	$general-transition: 280ms all 120ms ease-out;

	// Convert lists to grid
	ul {
	  @apply grid;
	  @apply list-none m-0 p-0;

	  li {
		@apply p-0;
	  }
	}

	li {
	  @apply block;
	  @apply cursor-pointer;
	}

	.main-menu {
	  @apply grid-flow-col;
	  @apply gap-x-6;

	  // First tier
	  > li {
		> a {
		  @apply font-bold;
		  font-size: rem-calc(22px);
		  line-height: rem-calc(26px);
		  letter-spacing: 0.01em;
		}
	  }
	}

	.logo-wrap {
	  @apply block;
	}

	.menu-item-has-children {
	  @apply relative;

	  // Submenu icon
	  .submenu-icon {
		@apply inline-block;
		@apply ml-2;
		transition: $general-transition;
	  }

	  .sub-menu {
		position: absolute;
		min-width: 16rem;
		left: 50%;
		top: calc(100% - 0.25rem);
		transition: $general-transition;
		transform: rotateX(-90deg) translateX(-50%);
		transform-origin: top center;
		visibility: hidden;
		opacity: 0.3;
		background-color: #F2F2F2;
		z-index: 10;
		@apply shadow;

		//
		@apply mt-2;
		@apply border-t-4 border-indigo;

		li {
		  > a {
			@apply py-4 px-4 w-full;
			@apply block;

			.title-wrap {
			  @apply text-indigo underline;
			}

			&:hover {
			  @apply bg-white;
			}
		  }
		}

		.subtitle {
		  @apply mt-2;
		  @apply text-black text-sm;
		}
	  }

	  &:hover,
	  &:focus-within {
		.submenu-icon {
		  transform: rotate(90deg);
		}

		.sub-menu {
		  opacity: 1;
		  transform: rotateX(0) translateX(-50%);
		  visibility: visible;

		  a {
			opacity: 1;
		  }
		}

		&:after {
		  opacity: 1;
		}
	  }

	}


  }
}
