// General Wrapper for the Header
.top-bar {

}

// Mobile Menu-Bar
.title-bar {
  .title-bar-inner {
	@apply flex flex-row;
	@apply justify-center content-center;
	@apply px-2 py-2 mx-auto;
  }

  .logo-wrap {
	@apply flex-1 text-center;
  }

  .menu-icon {
	@apply cursor-pointer;

	&:before {
	  @extend .trevor-ti-bars-solid:before;
	}
  }

  @screen md {
	@apply hidden;
  }
}

// Top Bar
.top-bar-inner {
  @apply hidden;
  @apply w-full mx-auto;

  @screen md {
	@apply block;
  }
}

// Mobile First
@media screen and (max-width: theme('screens.md')) {
  #top-bar-open:checked ~ .top-bar-inner {
	@apply block;
	@apply h-full;

	.main-menu {
	  @apply grid-flow-row;
	  @apply px-6;
	}

	.top-bar-ceil,
	.top-bar-floor,
	.logo-wrap {
	  @apply hidden;
	}

	.main-menu-container {
	  @apply w-full;
	}

	.menu-item-has-children > a {
	  @apply w-full;
	  @apply flex flex-row;
	  @apply text-xl;
	  @apply border-b;

	  .title-wrap {
		@apply flex-1;
	  }

	  .submenu-icon {
		@apply block;
		@apply self-end;
		transform: rotate(-90deg);
	  }
	}
  }
}

// Ceil Part
// ----------------------------
.top-bar-ceil {
  @apply py-6;
  @apply flex flex-row align-baseline;
  @apply mx-auto;

  // Switcher
  .switcher {
	@apply list-none;
	@apply flex flex-row flex-1;

	> li {
	  @apply px-2;

	  &:first-child {
		@apply pl-0;
	  }

	  > a {
		@apply pb-2;
		@apply border-b-4 border-black;

		&.active {
		  @apply text-blue-dark;
		  @apply border-blue-dark;
		}
	  }
	}
  }

  // CTAs
  .cta-wrap {

  }
}


// Center Part
// ----------------------------
.top-bar-center {
  @apply flex flex-row;
  @apply mx-auto mb-4;

  .logo-wrap {
	@apply flex-1;

	> .logo {
	  @apply text-black text-3xl font-bold;
	}
  }
}

// Main Menu
.main-menu-container {
  .submenu-icon {
	@apply hidden;
  }

  // Dropdowns
  @screen md {
	@apply self-end;
	@apply pb-4;
	$general-transition: 280ms all 120ms ease-out;

	// Convert lists to grid
	ul {
	  @apply grid;
	  @apply list-none m-0 p-0;

	  li {
		@apply p-0;
	  }
	}

	li {
	  @apply block;
	  @apply cursor-pointer;
	}

	.main-menu {
	  @apply grid-flow-col;
	  @apply gap-x-6;

	  // First tier
	  > li {
		> a {
		  @apply uppercase;
		}
	  }
	}

	.top-bar-ceil,
	.top-bar-floor,
	.logo-wrap {
	  @apply block;
	}

	.menu-item-has-children {
	  @apply relative;

	  // Submenu icon
	  .submenu-icon {
		@apply inline-block;
		@apply ml-2;
		transition: $general-transition;
	  }

	  .sub-menu {
		position: absolute;
		min-width: 16rem;
		left: 50%;
		top: calc(100% - 0.25rem);
		transition: $general-transition;
		transform: rotateX(-90deg) translateX(-50%);
		transform-origin: top center;
		visibility: hidden;
		opacity: 0.3;
		background-color: #F2F2F2;
		z-index: 10;
		@apply shadow;

		//
		@apply mt-2;
		@apply border-t-4 border-blue-dark;

		li {
		  > a {
			@apply py-4 px-4 w-full;
			@apply block;

			.title-wrap {
			  @apply text-blue-dark underline;
			}

			&:hover {
			  @apply bg-white;
			}
		  }
		}

		.subtitle {
		  @apply mt-2;
		  @apply text-black text-sm;
		}
	  }

	  &:hover,
	  &:focus-within {
		.submenu-icon {
		  transform: rotate(90deg);
		}

		.sub-menu {
		  opacity: 1;
		  transform: rotateX(0) translateX(-50%);
		  visibility: visible;

		  a {
			opacity: 1;
		  }
		}

		&:after {
		  opacity: 1;
		}
	  }

	}


  }
}


// Bottom Part
// ----------------------------
.top-bar-floor {
  @apply border border-l-0 border-r-0 border-gray;
  @apply py-3;

  .featured-tags {
	@apply flex flex-row justify-center;

	> .tag-box {
	  @apply mx-1;
	}
  }
}
