.info-boxes {
  &-title {
	@extend .page-sub-title;
	@extend .page-sub-title.centered;
	@apply w-full;

	@screen md {
		max-width: rem-calc(620px);
	}

	@screen lg {
		max-width: rem-calc(1028px);
	}
  }

  &-desc {
	@extend .page-sub-title-desc;
	@extend .page-sub-title-desc.centered;
	@apply mb-0;
  }

  &-container {
	@apply mt-14;
  }

  //
  .info-box-img {
	@apply flex flex-col justify-center;

	img {
	  @apply object-center object-contain;
	  @apply w-full h-full;
	}
  }

  .info-box-desc {
	@apply mx-auto;
	max-width: rem-calc(300px);
  }

  // Grid
  &.break-grid {
	.info-boxes-container {
	  @apply grid grid-cols-6 gap-y-12;
	}
  }

  &.break-grid-1-2-2,
  &.break-grid-1-2-3,
  &.break-grid-1-2-4 {
	.info-box {
	  @apply col-span-6;
	}
  }

  .swiper-pagination-bullet {
	@apply bg-teal-dark;
  }

  @screen md {
	&-container {
	  @apply mt-12;
	}


	// Grid
	&.break-grid {
	  .info-boxes-container {
		@apply grid-cols-8 gap-y-14;
	  }
	}

	&.break-grid-1-2-2,
	&.break-grid-1-2-3 {
	  .info-box {
		@apply col-span-4;
	  }
	}

	&.break-grid-1-2-3 {
	  .info-boxes-container {
		> :last-child {
		  @apply col-start-3;
		}
	  }
	}

	&.break-grid-1-2-4 {
	  .info-box {
		@apply col-span-3;

		&.type-img {
			.info-box-desc {
				@screen xl {
					max-width: rem-calc(249px);
				}
			}
		}
	  }

	  .info-boxes-container {
		> :nth-child(odd) {
		  @apply col-start-2;
		}

		> :nth-child(even) {
		  @apply col-start-5;
		}
	  }
	}
  }

  @screen lg {
	.info-box-desc {
	  max-width: rem-calc(500px);
	}
  }


  @screen xl {
	&-container {
	  @apply mt-20;
	}

	&.break-carousel {
	  .info-boxes-container {
		@apply grid grid-flow-col grid-cols-3 gap-10;
	  }
	}

	&.break-grid {
	  .info-boxes-container {
		@apply grid-cols-12 gap-y-12;
	  }
	}

	&.break-grid-1-2-2 {
	  .info-box {
		@apply col-span-5;
	  }

	  .info-boxes-container {
		> :nth-child(odd) {
		  @apply col-start-2;
		}

		> :nth-child(even) {
		  @apply col-start-7;
		}
	  }
	}

	&.break-grid-1-2-3 {
	  .info-box {
		@apply col-span-4;
	  }

	  .info-boxes-container {
		> :last-child {
		  @apply col-start-auto;
		}
	  }
	}

	&.break-grid-1-2-4 {
	  .info-box {
		@apply col-span-3;
		grid-column-start: auto !important;
	  }
	}
  }
}

.info-box {
  @apply w-full;

  &.type-both {
	.info-box-top {
	  @apply flex flex-col justify-center;
	}
  }

  &-top {
	@apply flex justify-center items-center;

	.info-boxes.box-type-text {
	  @apply items-end;
	}
  }

  &-text {
	@apply text-center
  }

  &-img {

  }

  &-desc {
	@apply text-center
  }
}
