.institutional-grants {
  .funders {
    &__title {
      color: theme('colors.teal.dark');
    }

    .table-container {
      
      @screen md {
        @apply container;
        @apply mx-auto;
      }
    }

    table {
      @apply w-full;
      color: theme('colors.teal.dark');

      @screen md {
        margin: auto;
        border-collapse: collapse;
        border-radius: 10px;
        border-style: hidden;
        box-shadow: 0 0 0 2px theme('colors.teal.dark');

        tr:first-child th,
        tr:first-child td {
          border-top-left-radius: 10px;
        }

        tr:last-child th,
        tr:first-child td {
          border-bottom-left-radius: 10px;
        }
      }

      tr {
        &:first-child {
          border-top: 2px solid theme('colors.teal.dark');
        }

        &:last-child {
          border-bottom: 2px solid theme('colors.teal.dark');
        }

        @screen md {
          &:first-child {
            border-top: none;
          }
  
          &:last-child {
            border-bottom: none;
          }
        }
      }

      tr + tr {
        border-top: 2px solid rgba(0, 58, 72, 0.2);
      }

      th,
      td {
        a {
          @apply text-px20 relative inline-block;
          @apply leading-px26;
          @apply font-bold;

          &:after {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: theme('colors.teal.dark');
          }
        }
      }

      th {
        background-color: #F3F3F7;
        @apply py-6;

        @screen md {
          flex: 0 0 174px;
          padding: 30px 0 0 0;
        }

        @screen lg {
          flex: 0 0 194px;
          padding: 70px 0 0 0;
        }

        & > * {
          width: 297px;
          @apply mx-auto;
          
          @screen md {
            width: auto;
          }
        }

        .tier-name {
          margin-bottom: 4px;

        }

        .tier-name,
        .tier-value {
          @screen md {
            padding: 0 24px;
          }
        }
      }

      td {
        @apply mx-auto pt-10 pb-11 items-center w-full;
        
        a + a {
          @apply mt-px34;
        }

        @screen md {
          @apply pl-px30 pr-px30 flex-wrap pt-px30 pb-px80 -mt-px20 mr-0 mb-0 -ml-px20;

          a {
            @apply mt-px20 mr-0 mb-0 ml-px20;
          }

          a + a {
            @apply mt-px20;
          }
        }

        @screen lg {
          @apply pt-px70 pb-px100 -mt-px40 mr-0 mb-0 -ml-px40;
          
          a {
            @apply mt-px40 mr-0 mb-0 ml-px40;
          }

          a + a {
            @apply mt-px40;
          }
        }
      }
    }

    &__partner {
      @apply text-white;
      @apply text-px16;
      @apply mb-px100;
      @apply mt-px60;

      background-color: theme('colors.teal.dark');
      padding: 12px 32px;
      border-radius: 10px;

      @screen md {
        @apply mt-px40;
        @apply mb-px80;
      }

      @screen lg {
        @apply mt-px60;
        @apply mb-px120;
      }
    }
  }

  .cards {
    background-color: theme('colors.gray.light');

    &__title {
      color: theme('colors.teal.dark');
      @apply mt-px80 mx-0 mb-px60;

      @screen md {
        @apply mt-px60 mx-0 mb-px65;
      }

      @screen lg {
        flex-basis: 100%;
        @apply mt-px120 mx-0 mb-px90;
      }
    }

    &__container {
      gap: 20px;
      @apply pb-px100;

      @screen md {
        @apply pb-px80 justify-around;
      }

      @screen xl {
        @apply pb-px120 justify-between;
      }

      .circulation-card {
        flex: 0 0 100%;

        @screen md {
          flex-basis: calc(492 / 768 * 100%);
        }

        @screen lg {
          flex-basis: calc(606 / 1240 * 100%);
        }
      }
    }
  }
}