.partners-block {
	@apply mt-px80;

	@screen xl {
		@apply mt-px140;
	}

	+ .partners-block {
		@screen xl {
			@apply mt-px180;
		}
	}

	.grid {
		@screen xl {
			@apply gap-x-px106;
		}
	}
}

.partners-block__panel {
	@apply w-full overflow-hidden;
	@apply border-px2 border-teal-dark border-opacity-20 rounded-px10;
	@apply -mx-px10;
	width: calc(100% + #{rem-calc(20px)});

  	@screen md {
		@apply w-full mx-auto;
	}
}

.partners-block__title {
	@apply bg-gray-light text-center;
	@apply py-px24;

	@screen md {
		@apply py-px42;
	}

	@screen xl {
		@apply py-px38;
	}
}

.partners-block__tier-name {
	@apply text-px20 leading-px26 text-teal-dark font-semibold;
	// xl
	@apply xl:text-px24 xl:leading-px34 tracking-em005;
}

.partners-block__tier-amount {
	@apply text-px20 leading-px26 text-teal-dark mt-px4;
	// md
	@apply md:mt-px8;
	// xl
	@apply xl:mt-px2;
}

.partners-block__list {
	&--images {
		@apply flex flex-col;
		@apply px-px86 py-px100;

		@screen md {
			@apply flex-row justify-between;
			@apply pt-px18 pb-px30 px-px60;
		}

		@screen xl {
			@apply px-px28;
		}
	}

	&--text {
		@apply py-px46 px-px20 text-center;

		@screen md {
			@apply flex flex-wrap justify-between;
			@apply pt-px48 pb-px64 px-px90;
		}

		@screen xl {
			@apply pb-px38 px-px58;
		}
	}
}

.partners-block__image {
	@screen mobile {
		&:not(:first-child) {
			@apply mt-px80;
		}
	}

	@screen md {
		width: calc((100% - #{rem-calc(36px)}) / 3);
	}
}

.partners-block__img-wrap {
	@apply block;

	@screen md {
		@apply relative;
		padding-top: percentage(149/172); // Figma
	}

	> img {
		@screen md {
			@apply absolute top-px18 left-px18 object-contain;
			width: calc(100% - 36px);
			height: calc(100% - 36px);
		}
	}
}

.partners-block__name {
	@screen mobile {
		&:not(:first-child) {
			@apply mt-px34;
		}
	}

	@screen md {
		@apply mb-px25;
	}

	@screen xl {
		@apply mb-px30;
	}

	a {
		@apply text-px20 leading-px26 text-center;
		@apply border-b-px1 border-teal-dark font-bold pb-px2;
	}
}
