.messaging {
  // Block spacer variables
  // Top Spacing
  --spacer-top--default: #{rem-calc(58)};
  --spacer-top--md: #{rem-calc(100)};
  --spacer-top--lg: #{rem-calc(120)};
  --spacer-top--lg2: #{rem-calc(120)};
  --spacer-top--xl: #{rem-calc(120)};
  // Bottom Spacing
  --spacer-bottom--default: #{rem-calc(58)};
  --spacer-bottom--md: #{rem-calc(100)};
  --spacer-bottom--lg: #{rem-calc(120)};
  --spacer-bottom--lg2: #{rem-calc(120)};
  --spacer-bottom--xl: #{rem-calc(120)};

  &--large_text {
    @include block-spacer-settings(
      $default: 120,
      $md: 120,
      $lg: 120,
      $lg2: 135,
      $xl: 135,
    );
  }

	&__container {
		@apply tw-grid container mx-auto;

    body.is-crisis-support & {
      @screen lg {
        padding-left: theme('container.padding.md');
        padding-right: theme('container.padding.md');
      }

      @screen lg2 {
        padding-left: theme('container.padding.lg2');
        padding-right: theme('container.padding.lg2');
      }
    }
	}

	&__content {
		@apply col-span-full;
		@apply rounded-px10 py-px128;

    @screen md {
      @apply py-px80;
    }

    @screen lg {
      @apply col-span-10 col-start-2 py-px120;
    }

    @screen lg2 {
      @apply col-span-10 col-start-2;
    }

    body.is-crisis-support & {
      @apply py-px60;

      @screen md {
        @apply py-px50;
      }

      @screen lg {
        @apply py-px70;
      }
    }
	}

	&__title {
		@apply font-semibold text-px30 leading-px40 text-center;

		@screen md {
			@apply text-px32 leading-px42 tracking-px_05;
		}

    @screen lg {
      @apply text-px40 leading-px48;
    }

		@screen xl {
			@apply text-px40 leading-px48;
		}

    .messaging--large_text & {
      @apply text-px36 leading-px40;
      @apply col-span-4 col-start-2 mb-px16;

      @screen md {
        @apply col-span-6 col-start-2;
      }

      @screen lg {
        @apply text-px40 leading-px48 tracking-px_05;
        @apply col-span-6 col-start-4;
      }

      @screen lg2 {
        @apply text-px56 leading-px66 tracking-normal;
      }

      @screen xl {
        @apply text-px70 leading-px80 tracking-px05;
        @apply col-span-8 col-start-3 mb-px18;
      }
    }
	}

	&__header {
		@apply font-normal text-px16 leading-px24 text-center;

		@screen md {
			@apply text-px18 leading-px26 tracking-px05;
		}

    body.is-crisis-support & {
      @apply mb-px14;

      @screen md {
        @apply mb-px18;
      }

      @screen lg2 {
        @apply mb-px14;
      }
    }
	}

	&__description {
		@apply font-semibold text-px24 leading-px28 text-center mt-px14 mx-auto;
    letter-spacing: -0.5px;

    @screen md {
      @apply font-normal text-px26 leading-px36 mt-px18;
      letter-spacing: 0.005em;
      max-width: 494px;
    }

    @screen lg {
      @apply font-normal text-px30 leading-px40 mt-px18;
      max-width: 47.75rem;
    }

		@screen xl {
			@apply text-px26 leading-px36 mt-px14;
		}

		b,
		strong {
			@apply font-semibold;
		}

    .messaging__content & {
      @apply font-normal text-px18 leading-px22;

      @screen md {
        @apply text-px18 leading-px26 mt-px14;
      }

      @screen lg {
        @apply text-px20 leading-px26 mt-px18;
      }

      body.is-crisis-support & {
        @apply mt-0;

        @screen md {
          @apply text-px20 leading-px30 tracking-em005;
        }

        @screen lg {
          @apply text-px20 leading-px28 tracking-px05;
        }

        @screen lg2 {
          @apply text-px22 leading-px32 tracking-em005;
        }

        @screen xl {
          @apply text-px24 leading-px36;
        }
      }
    }
	}

	&__title + &__description,
	&__title + &__header {
		@apply mt-px16;

		@screen md {
			@apply mt-px15;
		}

		@screen lg {
			@apply mt-px18;
		}
	}

	&__header + &__description {
		@apply mt-px18;

		@screen md {
			@apply mt-px16;
		}
	}

	&__buttons {
		@apply flex flex-wrap flex-shrink-0 gap-5 justify-center items-center;
		@apply text-center mt-px30;

		@screen md {
			@apply flex-wrap;
		}

    .page-btn-link {
      @apply text-px18 leading-px24 tracking-px025;

      @screen lg {
        @apply text-px20;
      }

      @screen lg2 {
        @apply text-px22 leading-px26;
      }
    }

    .page-btn-primary {
      @screen lg {
        min-width: #{rem-calc(197)};
      }
    }

    .page-btn:not(.page-btn-link) {
      @screen md {
        @apply px-px32 tracking-em001;
      }

      @screen lg {
        @apply py-px20 px-px40 tracking-px05 text-px20 leading-px26;
      }
    }
	}

	&__button {
		@apply font-semibold min-h-0 h-auto py-px12 px-px24;
		@apply rounded-px10;

		@screen xl {
			@apply text-px20 leading-px26 tracking-px05 py-px20 px-px40;
		}

		&--link {
			@apply p-0 mt-px2 rounded-none;
		}
	}

	&__title,
	&__header,
	&__description,
	&__buttons {
		@screen md {
			@apply col-span-6 col-start-2;
		}

		@screen xl {
			@apply col-span-8 col-start-2;
		}

    .messaging__content & {
      margin-left: theme('container.padding.DEFAULT');
      margin-right: theme('container.padding.DEFAULT');

      @screen md {
        @apply mx-auto;

        width: percentage( 494 / 668 );
      }

      @screen lg {
        @apply mx-auto;

        width: percentage( 554 / 698 );
      }
    }
	}

  &__large-text {
    @apply text-px26 leading-px36 tracking-px_05 font-normal;
    @apply text-center col-span-full;

    @screen md {
      @apply col-span-6 col-start-2;
      @apply text-px24 leading-px28 tracking-em_005;
    }

    @screen lg {
      @apply col-span-8 col-start-3;
    }

    @screen lg2 {
      @apply text-px30 leading-px40 tracking-normal;
    }

    strong {
      @apply font-semibold;
    }
  }

  &__eyebrow {
    @apply text-px16 leading-px24 uppercase text-center col-span-full mb-px14;

    @screen md {
      @apply text-px18 leading-px26 tracking-px05 col-span-4 col-start-3 mb-px18;
    }

    @screen lg {
      @apply col-start-5;
    }

    @screen lg2 {
      @apply mb-px14;
    }
  }

  // With heading variant
  &--with-heading {
    .messaging__description {
      @screen lg {
        @apply text-px26 leading-px36 tracking-em005 w-full;
      }

      @screen lg2 {
        @apply text-px30 leading-px40;
      }
    }
  }

  // Boxed Variant
  &--boxed {
    .messaging__title {
      @screen lg {
        @apply mx-px145 w-auto;
      }

      @screen lg2 {
        @apply mx-px178;
      }

      @screen xl {
        @apply mx-px198 text-px40 leading-px48;
      }

      tilt {
        @apply font-bold;

        @screen lg {
          @apply text-px54 leading-px64 mx-px5;
        }

        @screen lg2 {
          @apply text-px54 leading-px64 tracking-em005;
        }

        @screen xl {
          @apply text-px54 leading-px64 tracking-em005;
        }
      }
    }

    .messaging__description {
      @screen lg {
        @apply mx-px145 w-auto mt-px18;
        @apply text-px18 leading-px24 tracking-em005;
      }

      @screen lg2 {
        @apply mx-px178 text-px20 leading-px28 tracking-em005;
      }

      @screen xl {
        @apply mx-px198;
      }
    }

    .messaging__buttons {
      @screen lg {
        @apply mt-px48;
      }

      @screen lg2 {
        @apply mt-px30;
      }
    }
  }

  // Background color logic
  // If container and inner box has the same color, remove inner box's padding
  @each $color-name, $color in $theme-colors {
    &.#{unquote("bg-#{$color-name}")} &__content.#{unquote("bg-#{$color-name}")},
    &.#{unquote("bg-#{$color-name}")} &__content.bg-transparent {
      @apply py-0;
    }
  }
}
