.overlapping-text-image-tiles {
  @apply overflow-hidden py-px50;

  @screen md {
    @apply py-px100;
  }

  &__container {
    @apply tw-grid container mx-auto;
  }

  &__box {
    @apply col-span-full rounded-px10 py-px80 text-indigo;
    @apply px-px24 text-center;

    @screen md {
      @apply col-start-3 col-span-6 -mr-px102 pl-px76 pr-px130 rounded-r-none;
    }

    @screen lg {
      @apply col-start-3 col-span-10 pl-px145 pr-px90 py-px100;
      margin-right: calc(-1 * theme('container.padding.lg'));
    }

    @screen lg2 {
      @apply col-start-4 col-span-9 pl-px178 pr-px209 py-px140;
      margin-right: calc(-1 * theme('container.padding.lg2'));
    }

    @screen xl {
      @apply pt-px180 pb-px190 pl-px198 pr-px240;
      margin-right: calc(-1 * theme('container.padding.xl'));
    }
  }

  &__heading {
    @apply font-semibold text-px28 leading-px34 tracking-em005;

    @screen md {
      @apply text-px32 leading-px42;
    }

    @screen lg {
      @apply text-px40 leading-px48;
    }

    @screen lg2 {
      @apply text-px42 tracking-em_001;

    }
  }

  &__description {
    @apply mt-px16 text-px18 leading-px26;

    @screen md {
      @apply mt-px14 text-px18 leading-px26;
    }

    @screen lg {
      @apply mt-px22 text-px22 leading-px32;
    }

    @screen lg2 {
      @apply text-px24 leading-px35 tracking-em005;
    }
  }

  &__cta {
    @apply btn mt-px30;
    @apply bg-indigo text-white;

    @screen md {
      @apply mt-px32;
    }

    @screen lg {
      @apply h-auto text-px20 leading-px26 mt-px40 py-px20 px-px40;
    }
  }

  &__image {
    @apply col-span-5 -ml-px55 relative -mt-px40 rounded-l-none rounded-px10 overflow-hidden;

    @screen md {
      @apply col-span-3 -ml-px90 -mt-px255;
    }

    @screen lg {
      margin-left: calc(-1 * theme('container.padding.lg'));
      @apply col-span-4 -mt-px318;
    }

    @screen lg2 {
      margin-left: calc(-1 * theme('container.padding.lg2'));
      @apply col-span-5 -mt-px350 mr-px60;
    }

    @screen xl {
      margin-left: calc(-1 * theme('container.padding.xl'));
      @apply -mt-px480 mr-0;
    }

    &::before {
      @apply block w-full;
      padding-top: calc(100% * 323 / 319);
      content: '';

      @screen md {
        padding-top: calc(100% * 326 / 322);
      }

      @screen lg {
        padding-top: calc(100% * 372 / 366);
      }

      @screen lg2 {
        padding-top: calc(100% * 525 / 519);
      }

      @screen xl {
        padding-top: calc(100% * 706 / 697);
      }
    }

    img {
      @apply absolute top-0 left-0 w-full h-full object-cover;
    }
  }

  // Image On Right Layout
  &--image-on-right {
    .overlapping-text-image-tiles__box {
      @screen md {
        @apply rounded-px10 rounded-l-none col-span-6 col-start-1 -ml-px90 mr-0 pl-px154 pr-px116;
      }

      @screen lg {
        @apply col-span-10 col-start-1 mr-0 pl-px135 pr-px145;
        margin-left: calc(-1 * theme('container.padding.lg'));
      }

      @screen lg2 {
        @apply col-span-9 pl-px120 pr-px178;
        margin-left: calc(-1 * theme('container.padding.lg2'));
      }

      @screen xl {
        @apply col-span-8 pl-px240 pr-px198;
        padding-top: 176px;
        padding-bottom: 167px;
        margin-left: calc(-1 * theme('container.padding.xl'));
      }
    }

    .overlapping-text-image-tiles__image {
      @apply col-start-2 col-span-5 ml-0 -mr-px90 rounded-r-none rounded-px10;

      @screen md {
        @apply col-span-3 col-start-6 -mr-px90 rounded-r-none rounded-px10;
      }

      @screen lg {
        @apply col-span-4 col-start-9;
        margin-right: calc(-1 * theme('container.padding.lg'));
      }

      @screen lg2 {
        @apply col-span-5 col-start-8;
        margin-right: calc(-1 * theme('container.padding.lg2'));
      }

      @screen xl {
        margin-right: calc(-1 * theme('container.padding.xl'));
      }
    }
  }
}
