.overlapping-text-image-tiles {
  @apply overflow-hidden py-px50;

  @screen md {
    @apply py-px100;
  }

  &__container {
    @apply tw-grid container mx-auto;
  }

  &__box {
    @apply col-span-full rounded-px10 py-px80 text-indigo;
    @apply px-px24 text-center;
    @include user-defined-bg;

    @screen md {
      @apply col-start-3 col-span-6 px-px76 rounded-r-none;
      @include bleed-r(md);
    }

    @screen lg {
      @apply col-start-3 col-span-10 pl-px145 pr-px90 py-px100;
      @include bleed-r(lg);
    }

    @screen lg2 {
      @apply col-start-4 col-span-9 pl-px178 pr-px209 py-px140;
      @include bleed-r(lg2);
    }

    @screen xl {
      @apply pt-px180 pb-px190 pl-px198 pr-px240;
      @include bleed-r(xl);
    }

    // Max breakpoint for bleed is 1920px.
    @media only screen and (min-width: 1920px) {
      margin-right: calc((#{rem-calc(1920px)} - theme('container.screens.xl') + (theme('container.padding.xl') * 2)) / -2 );
    }
  }

  &__heading {
    @apply font-semibold text-px28 leading-px34 tracking-em005;

    @screen md {
      @apply text-px32 leading-px42;
    }

    @screen lg {
      @apply text-px40 leading-px48;
    }

    @screen lg2 {
      @apply text-px42 tracking-em_001;
    }

    tilt {
      @apply text-px40 leading-px50 tracking-px_02 mx-px8;

      @screen md {
        @apply text-px48 leading-px68 tracking-em005;
      }

      @screen lg {
        @apply text-px56 leading-px80 mx-px12;
      }

      @screen lg2 {
        @apply text-px60;
      }
    }
  }

  &__description {
    @apply mt-px16 text-px18 leading-px26;

    @screen md {
      @apply mt-px14 text-px18 leading-px26;
    }

    @screen lg {
      @apply mt-px22 text-px22 leading-px32;
    }

    @screen lg2 {
      @apply text-px24 leading-px35 tracking-em005;
    }
  }

  &__cta {
    @apply btn mt-px30;
    @apply bg-indigo text-white;

    @screen md {
      @apply mt-px32;
    }

    @screen lg {
      @apply h-auto text-px20 leading-px26 mt-px40 py-px20 px-px40;
    }
  }

  &__image {
    @apply col-span-5 -ml-px55 relative -mt-px40 rounded-l-none rounded-px10 overflow-hidden;

    @screen mobile {
      margin-left: calc(-1 * (((100vw - #{theme('screens.sm')}) / 2) + theme('container.padding.DEFAULT')));
    }

    @screen md {
      @apply col-span-3 -mt-px255;
      @include bleed-l(md);

      max-height: 326px;
    }

    @screen lg {
      @apply col-span-4 -mt-px318;
      @include bleed-l(lg);

      max-height: 372px;
    }

    @screen lg2 {
      @apply col-span-5 -mt-px350 mr-px60;
      @include bleed-l(lg2);

      max-height: 525px;
    }

    @screen xl {
      @apply -mt-px480 mr-0;
      @include bleed-l(xl);

      max-height: 706px;
    }

    // Max breakpoint for bleed is 1920px.
    @media only screen and (min-width: 1920px) {
      margin-left: calc((#{rem-calc(1920px)} - theme('container.screens.xl') + (theme('container.padding.xl') * 2)) / -2 );
    }

    &::before {
      @apply block w-full;
      padding-top: calc(100% * 323 / 319);
      content: '';

      @screen md {
        padding-top: calc(100% * 326 / 283);
      }

      @screen lg {
        padding-top: calc(100% * 372 / 353);
      }

      @screen lg2 {
        padding-top: calc(100% * 525 / 476);
      }

      @screen xl {
        padding-top: calc(100% * 706 / 607);
      }
    }

    img {
      @apply absolute top-0 left-0 w-full h-full object-cover;
    }
  }

  // Image On Right Layout
  &--image-on-right {
    .overlapping-text-image-tiles__box {
      @screen md {
        @apply rounded-px10 rounded-l-none col-span-6 col-start-1 mr-0 px-px116;
        @include bleed-l(md);
      }

      @screen lg {
        @apply col-span-10 col-start-1 mr-0 pl-px135 pr-px145;
        @include bleed-l(lg);
      }

      @screen lg2 {
        @apply col-span-9 pl-px120 pr-px178;
        @include bleed-l(lg2);
      }

      @screen xl {
        @apply col-span-8 pl-px240 pr-px198;
        @include bleed-l(xl);

        padding-top: 176px;
        padding-bottom: 167px;
      }

      // Max breakpoint for bleed is 1920px.
      @media only screen and (min-width: 1920px) {
        margin-left: calc((#{rem-calc(1920px)} - theme('container.screens.xl') + (theme('container.padding.xl') * 2)) / -2 );
      }
    }

    .overlapping-text-image-tiles__image {
      @apply col-start-2 col-span-5 ml-0 -mr-px90 rounded-r-none rounded-px10;

      @screen mobile {
        margin-right: calc(-1 * (((100vw - #{theme('screens.sm')}) / 2) + theme('container.padding.DEFAULT')));
      }

      @screen md {
        @apply col-span-3 col-start-6 rounded-r-none rounded-px10;
        @include bleed-r(md);
      }

      @screen lg {
        @apply col-span-4 col-start-9;
        @include bleed-r(lg);
      }

      @screen lg2 {
        @apply col-span-5 col-start-8;
        @include bleed-r(lg2);
      }

      @screen xl {
        @include bleed-r(xl);
      }

      // Max breakpoint for bleed is 1920px.
      @media only screen and (min-width: 1920px) {
        margin-right: calc((#{rem-calc(1920px)} - theme('container.screens.xl') + (theme('container.padding.xl') * 2)) / -2 );
      }
    }
  }
}
