.page-circulation {
  @apply pt-px80 pb-px100;

  @screen md {
    @apply py-px80;
  }

  @screen lg {
    @apply py-px100;

    body.is-rc & {
      @apply pt-px120;
    }
  }

  @screen lg2 {
    @apply py-px120;

    body.is-rc & {
      @apply pt-px148;
    }
  }

  .page-sub-title {
    @apply mb-0;

    @screen md {
      width: 85%;
    }

    @screen lg {
      @apply text-px44 leading-px54 tracking-em_001;
    }

    @screen xl {
      @apply text-px46 leading-px56;
    }

    body.is-rc & {
      @screen lg {
        @apply text-px40 leading-px50;
      }

      @screen lg2 {
        @apply text-px46 leading-px56;
      }
    }

    & + .page-sub-title-desc {
      @apply mt-px18 mb-0 text-px20 leading-px30 tracking-em005;

      @screen md {
        @apply text-px16 leading-px22;
        width: percentage( 494 / 667 );
      }

      @screen lg {
        @apply mt-px20 text-px22 leading-px32 tracking-px05;
        width: percentage( 661 / 843 );
      }

      @screen lg2 {
        @apply text-px26 leading-px36 tracking-em005;
        width: percentage( 718 / 1040 );
      }

      @screen xl {
        width: percentage( 718 / 1160 );
      }
    }
  }

  &__container {
    body.is-crisis-support & {
      @screen lg {
        padding-left: theme('container.padding.md');
        padding-right: theme('container.padding.md');
      }

      @screen lg2 {
        padding-left: theme('container.padding.lg2');
        padding-right: theme('container.padding.lg2');
      }
    }
  }

  &__cards {
    @apply w-full tw-grid;
    row-gap: #{rem-calc(40)};

    @screen md {
      row-gap: #{rem-calc(30)};
    }

    .circulation-card {
      @apply col-span-full;

      @screen md {
        @apply col-span-6 col-start-2;
      }

      @screen lg {
        @apply col-span-6 col-start-auto;
      }
    }
  }
}
