.page-header {
  @apply container mx-auto mb-pxn5; 

  &-inner {
	@apply flex flex-col;
	@apply max-h-full;
  }

  &-content-wrap {
	@apply text-white text-center;
	@apply pb-2;
	@apply z-1;
  }

  &-title-top {
	@apply uppercase text-px16 leading-px24 mb-2.5;
  }

  &-title {
	@apply text-white has-block-tilt;
  }

  &-desc {
	@apply pt-3.5 pb-8 text-base leading-px24 font-normal;
	& + .page-header-cta {
	  @apply mt-0;
	}
  }

  &-cta {
	@apply inline-block text-teal-dark bg-white rounded-px10 py-3 px-8 text-base font-bold leading-px22 mt-10;
  }


  @screen md {

	&-inner {
	  @apply flex-row;
	}

	&-content-wrap {
	  @apply text-left;
	  @apply w-7/12;
	  @apply pb-6;
	}

	&-desc {
	  @apply text-px14 leading-px20;
	}

	&-cta {
	  @apply px-6;
	}
  }

  @screen lg {
	@apply mt-12;

	&-desc {
	  @apply text-px22 leading-px32 tracking-px05;
	}

	&-cta {
	  @apply py-5 px-10 text-px18 leading-px26;
	}

	&-content-wrap {
	  @apply pb-10;
	}
  }


  // - Types
  // - - Split Image
  &.type-split-img {
	.page-header-img {
	  @apply object-right-bottom object-contain;
	  @apply w-full h-full;
	}

	.page-header-img-inner {
	  @apply w-screen inset-x-1/2 relative;
	  margin-left: -50vw;
	  margin-right: -50vw;
	  height: 100vw;
	}

	.page-header-img-wrap {
	  @apply relative mt-px60;
	}

	@screen md {
	  .page-header-inner {
		@apply items-center;
		@apply mt-0;
		margin-bottom: rem-calc(114px);
	  }

	  .page-header-img-inner {
		width: calc(100% - #{rem-calc(50px)});
		@apply inset-x-auto mr-0 ml-auto h-auto;
	  }

	  .page-header-img {
		@apply rounded-px10;
	  }

	  .page-header-desc {
		@apply text-px18 leading-px26;
	  }

	  .page-header-content-wrap {
		@apply flex-initial self-center;
		@apply pb-0;
		width: calc(50% - 2rem);
	  }

	  .page-header-img-wrap {
		@apply flex-1 mt-0;
		flex-grow: 2;
	  }
	}

	@screen lg {
	  .page-header-inner {
		@apply mb-14;
	  }

	  .page-header-img-inner {
		@apply w-auto h-auto;
	  }

	  .page-header-img-wrap {
		@apply items-center justify-end flex;
		min-height: rem-calc(500px);
	  }
	}

	@screen xl {
	  .page-header-img-wrap {
		@apply mx-0;
	  }
	}
  }

  // - - Text
  &.type-text {

  }

  // - - Img BG
  &.type-img-bg {
	@apply relative;
	@apply w-full max-w-none;
	// --neg-top-margin: calc(var(--top-nav-top-margin) + var(--top-nav-height));
	padding-top: var(--top-nav-top-margin);
	margin-top: calc(-1 * var(--top-nav-height));
	// margin-left: calc(-1 * ((100vw - 100%) / 2));
	@apply h-px737 md:h-px490 lg:h-px737 flex items-center text-white;

	.page-header-img-wrap {
	  @apply absolute w-full h-full top-0 left-0;
	  // margin-top: calc(var(--top-nav-top-margin) - 4px); //FIXME: Why -4px?
	  margin-top: -4px; //FIXME: Why -4px?

	  img {
		@apply object-cover object-center;
		@apply w-full h-full;
	  }
	}

	.page-header-content-wrap {
	  @apply container mx-auto text-center items-center z-1;
	}

	@screen md {

	  .page-header-title {
		@apply has-inline-tilt;
	  }

	  .page-header-content-wrap {
		@apply px-0;
		max-width: rem-calc(259px);
	  }
	}

	@screen lg {

	  .page-header-content-wrap {
		@apply max-w-md;
	  }
	}
  }

  // - - Split Carousel
  &.type-split-carousel {
	@apply px-0 max-w-none overflow-hidden;
	.carousel-wrap {
	  @apply mt-0;
	}

	.page-header-content-wrap {
	  @apply mx-7;
	}

	.big-img-carousel {
		.swiper-wrapper {
			width: var(--img-height);
		}

		.img-wrap {
			height: var(--img-height);
			width: var(--img-height);
			@apply mx-auto;
		}
	}

	@screen md {
	  .page-header-inner {
		@apply flex flex-row relative pb-20;
	  }

	  .page-header-content-wrap {
		@apply text-left items-start;
		@apply absolute top-1/2 -translate-y-1/2 transform z-10 flex flex-col mr-0;
		padding-bottom: 25%;
		width: calc(319 / 768 * 100%);
		margin-left: calc(((100vw - 768px) / 2) + 50px );
	  }

	  .page-header-img-wrap {
		@apply self-end w-full ml-0;
	  }

	  .carousel-wrap {
		@apply mb-0 mt-2 w-auto;
	  }

	  .big-img-carousel,
	  .big-img-carousel .carousel-container,
	  .big-img-carousel .carousel-full-width-wrap {
		width: 100vw;
		@apply m-0 p-0;
	  }


	.big-img-carousel {
		--img-height: theme('carousel.bigImg.height');
			@apply w-full;
			max-width: unset;

			.carousel-container {
				width: 100%;
				max-width: unset;
			}

			.swiper-wrapper {
				@apply w-full;
				margin-left: calc((100% / 2) - (319px / 2) - 48.5px);
			}

			.swiper-pagination {
				@apply flex;
				@apply pl-0 ml-auto mr-px50;
				width: var(--img-height);
			}

			.swiper-button-wrapper {
				@apply hidden;
			}

			.swiper-slide {
				@apply opacity-50;
				width: var(--img-height);

				figcaption {
					@apply text-px16 leading-px24;
				}

				img {
					height: var(--img-height);
					width: var(--img-height);
				}

				&-active {
					@apply opacity-100;
				}
			}
		}
	}

	@screen lg {
	  @apply mt-0;

	  .page-header-desc {
		@apply text-px26 leading-px36;
	  }

	  .page-header-cta {
		@apply text-px18 leading-px26;
	  }

	  .page-header-inner {
		@apply pb-px120;
	  }

	  .page-header-content-wrap {
		@apply w-2/5;
		padding-bottom: 15%;
		margin-left: calc(((100vw - 1024px) / 2) + 50px);
	  }

	  .big-img-carousel {
			--img-height: theme('carousel.bigImg.height');

			.carousel-full-width-wrap {
				@apply w-full;
			}

			.swiper-wrapper {
				margin-left: calc((100% / 2) - (319px / 2) - 67px);
			}

			.swiper-pagination {
				@apply flex;
				@apply pl-0 ml-auto mr-px80;
				width: var(--img-height);
			}

			.swiper-button-wrapper {
				@apply flex;
			}

			.swiper-button-prev {
				left: unset;
				right: rem-calc(350px);
				width: rem-calc(120px);
			}

			.swiper-button-next {
				width: rem-calc(120px);
				right: rem-calc(20px);

				.swiper-button-wrapper {
					@apply right-0;
				}
			}

			.swiper-slide {
				figcaption {
					@apply text-px18 leading-px26;
					a {
					@apply text-px20 leading-px26;
					}
				}
			}
		}
	}

	@screen lg2 {
		.page-header-content-wrap {
			margin-left: calc(((100vw - 1280px) / 2) + 80px);
		}

		.big-img-carousel {
			--img-height: theme('carousel.bigImg.heightLG');

			.swiper-wrapper {
				margin-left: calc((100% / 2) - (500px / 2) - 87px);
			}

			.swiper-button-prev {
				right: rem-calc(555px);
				width: rem-calc(245px);

				.swiper-button-wrapper {
					left: unset;
					right: 0;
				}
			}

			.swiper-button-next {
				right: rem-calc(40px);
				width: rem-calc(245px);
			}

			.swiper-pagination {
				@apply mr-px90;
			}
		}
	}

	@screen xl {
		.page-header-content-wrap {
			margin-left: calc((100vw - 1240px) / 2);
			width: calc(500 / 1440 * 100%);
		}

		.big-img-carousel {
			.swiper-wrapper {
				margin-left: calc((100% / 2) - (500px / 2) - 194px);
			}

			.swiper-button-prev {
				right: rem-calc(660px);
			}
			.swiper-button-next {
				right: rem-calc(150px);
			}

			.swiper-pagination {
				margin-right: rem-calc(200px);
			}
		}
	}

	@screen 2xl {
		.page-header-content-wrap {
			margin-left: calc(((100vw - 1600px) / 2) + 100px);
		}

		.big-img-carousel {

			.swiper-button-prev {
				right: rem-calc(660px);
			}

			.swiper-button-next {
				right: rem-calc(110px);

				.swiper-button-wrapper {
					right: rem-calc(40px);
				}
			}
		}
	}
  }
}
