.post-images {

	&__list {
        @apply mt-px20;
        @apply flex flex-wrap justify-between;

		@screen md {
			@apply justify-start;
            @apply mt-px40;
		}

        @screen lg2 {
			@apply mt-px80;
			@apply px-px100;
		}
	}

	&__item {
		width: calc((100% - #{rem-calc(20px)}) / 2);

		@screen mobile {
			&:nth-child(n + 3) {
				@apply mt-px20;
			}

			// Center last single item
			&:last-child:nth-child(odd) {
				@apply ml-auto mr-auto;
			}
		}

		@screen md {
			width: calc((100% - #{rem-calc(132px)}) / 4);

			&:not(:nth-child(4n + 1)) {
				@apply ml-px44;
			}

			&:nth-child(n + 5) {
				@apply mt-px18;
			}
		}

		@screen lg2 {
			width: calc((100% - #{rem-calc(187px)}) / 4);

			&:not(:nth-child(4n + 1)) {
				@apply ml-px62;
			}

			&:nth-child(n + 5) {
				@apply mt-px26;
			}
		}
	}

	&__link {
		@apply block relative pt-full;
	}

	&__image {
		@apply absolute top-0 left-0 w-full h-full object-contain;

		@screen lg2 {
			@apply top-px5 left-px5;
			width: calc(100% - #{rem-calc(10px)});
			height: calc(100% - #{rem-calc(10px)});
		}
	}
}