.post-header {
  @apply overflow-hidden;
  @apply relative;
  @apply w-full;

  & > * {
	z-index: 1;
	position: relative;
  }

  > .container > .inner {
	@apply flex flex-col justify-center justify-start;
	@apply py-8;
	min-height: 30rem;
  }

  .post-category {
	@apply text-blue-dark;
  }

  .post-title {
	@apply font-bold text-3xl;
	@apply my-2;
  }

  .sharing {
	@apply my-2;

	.share-icon {
	  @apply text-blue-dark;
	  @apply mx-1;
	  @apply cursor-pointer;
	}
  }

  .post-length {
	@apply font-bold;
  }

  .tags-box {
	@apply flex flex-wrap;
	@apply my-6;

	.tag-box {
	  @apply mr-2 mb-2;
	}
  }

  .post-thumbnail-wrap {
	@apply w-full h-full;
	@apply absolute top-0;
	@apply z-0;

	> img {
	  @apply w-full max-h-full;
	  @apply object-cover object-center;
	}
  }

  @screen md {
	> .container > .inner {
	  @apply items-center justify-center;
	  @apply mx-auto;
	  max-width: 75%;
	}

	.tags-box {
	  @apply justify-center;
	}
  }
}
