.product-partnerships {
	.hero {
		@apply items-start text-center lg:items-center xl:items-start;

		@screen md {
			height: rem-calc(446px);
		}

		@screen xl {
			height: rem-calc(546px);
		}

		&--inner {
			margin-top: rem-calc(50px);

			h1 {
				@apply mb-px18;
			}

			.hero__description {
				@apply font-normal;
			}

			@screen md {
				margin-top: rem-calc(63px);

				p {
					letter-spacing: rem-calc(0.5px);
				}

				:is(h1, p) {
					@apply max-w-px500;
				}

				.hero__btn-1 {
					@apply px-6;
				}
			}

			@screen lg {
				@apply mt-0;

				h1 {
					max-width: unset;
				}

				p {
					@apply max-w-2xl;
				}
			}

			@screen xl {
				@apply mt-px70;

				p:first-child {
					@apply mb-px20 text-px16 leading-px22;
					letter-spacing: rem-calc(1px);
				}

				h1 {
					@apply mb-px12;
				}

				.hero__description {
					@apply text-px22 leading-px32;
					max-width: rem-calc(606px);
					letter-spacing: rem-calc(0.5px);
					margin-bottom: rem-calc(52px);
				}

				.hero__btn-1 {
					@apply text-px20 leading-px26 px-px40;
					letter-spacing: rem-calc(0.5px);
				}
			}
		}
	}
  .featured-stories {
	background-color: theme('colors.gray.light');

	@apply pt-px70 pb-px100;

	@screen md {
	  @apply py-px80;
	}

	@screen lg {
	  @apply py-px140;
	}

	.tile-grid {
	  @apply py-0;
	}

	.tile-grid-header {
		@apply mb-px40;

		@screen md {
			margin-bottom: rem-calc(52px);
		}
	}

	.tile-grid-title {
	  @apply mb-0 font-bold text-teal-dark;

	  @screen lg {
		@apply mb-px86;
	  }

		@screen xl {
			@apply text-px40 leading-px48;
			letter-spacing: rem-calc(-0.5px);
		}
	}
  }

  .tile-grid {
	@apply pt-px72 pb-px100;

	@screen md {
	  @apply py-20;
	}

	&-inner {

	  @screen md {
		@apply px-px50;
	  }

	  @screen lg {
		@apply px-px100;
	  }
	}

	&-header {
	  @apply px-0;
	}

	&-container {
		@apply mb-0;

		@screen md {
		grid-template-columns: repeat(2, minmax(0, rem-calc(319px)));
		@apply justify-center;
		@apply gap-px30;
		}

		@screen lg {
			grid-template-columns: repeat(2, minmax(0, rem-calc(355px)));
		}

		@screen lg2 {
			grid-template-columns: repeat(3, minmax(0, rem-calc(355px)));
			@apply justify-center;
		}

		@screen xl {
			grid-template-columns: repeat(3, minmax(0, rem-calc(395px)));
		}
	}

	.tile {
		@apply shadow-darkGreen;
		@apply h-auto p-0;

		@screen lg {
			width: theme('postCard.width.lg');
		}

		@screen xl {
			width: rem-calc(395px);
			max-width: none;
		}

		[data-whatintent='mouse'] &:hover {
			@apply bg-white;
		}

		&-inner {
			@apply px-6 pb-12;
		}

		&-title {
			@apply font-bold text-px24 leading-px28 mb-4 mt-8 md:mt-7;
		}

		&-desc {
			@apply font-normal text-px16 leading-px22 mb-6;
		}
	}

	.tile-image {
			@apply h-60 w-full max-w-none rounded-t-px10;
		}
  }

  .current-partners {
		@apply mt-px88 mb-px150 md:mt-px100 md:mb-px127 xl:mt-px168 xl:mb-px140;

		&__container {
			@screen xl {
				padding-left: rem-calc(206px);
				padding-right: rem-calc(206px);
			}
		}

		&__title {
			@apply text-px32 leading-px40 md:leading-px42 xl:text-px40 xl:leading-px48 text-center font-bold mb-px90 md:mb-px90 lg:mb-px60 xl:mb-px40;
			color: theme('colors.teal.dark');
		}
  }


  .banner {
		@apply max-w-px319 mx-auto mb-px100 xl:mb-px140 text-white text-center;

		@screen md {
			@apply max-w-px550;
		}

		@screen lg {
			@apply max-w-px1028;
		}

		&__inner {
			@apply px-7 pt-px127 pb-px120 rounded-px10;
			background-color: theme('colors.blue_green.DEFAULT');

			@screen md {
			@apply px-px117 pb-px117;
			padding-top: rem-calc(133px);
			}

			@screen lg {
			@apply px-64 py-44;
			}
		}

		&__title {
			@apply font-bold text-px30 leading-px40;

			@screen md {
			@apply text-px32 leading-px42;
			letter-spacing: rem-calc(0.5px);
			}

			@screen lg {
			@apply text-px46 leading-px56;
			}

			@screen xl{
				@apply mx-auto;
				max-width: rem-calc(442px);
			}
		}

		&__description {
			@apply font-normal text-px18 leading-px22 mt-5;

			@screen md {
				letter-spacing: rem-calc(0.5px);
				@apply leading-px24;
			}

			@screen lg {
			@apply text-px20 leading-px30 mt-px30;
			}
		}

		&__cta {
			@apply inline-block py-3 px-6 bg-white rounded-px10 mt-px40 text-px16 leading-px22;
			color: theme('colors.teal.dark');

			@screen md {
			@apply px-8 mt-px32;
			}

			@screen lg {
			@apply py-5 p-20 text-px20 leading-px26;
			}

			@screen xl {
				@apply mt-px50;
			}
		}
  }

  .cards {
	@apply bg-white;

	&__title {
	  color: theme('colors.teal.dark');
	  @apply mt-px80 mx-0 mb-px40;

	  @screen md {
		@apply mb-px20;
	  }

	  @screen lg {
		@apply mt-px120 mb-px90;
		flex-basis: 100%;
	  }
	}

	&__container {
	  @apply pb-px100 space-y-px20;

	  @screen md {
		@apply pb-px80;
		justify-content: space-around;
	  }

	  @screen lg {
		@apply pb-px120 space-y-0;
		justify-content: space-between;
	  }

	  .circulation-card {
		flex: 0 0 100%;

		@screen md {
		  flex-basis: calc(492 / 668 * 100%);
		}

		@screen lg {
		  flex-basis: calc(606 / 1240 * 100%);
		}
	  }
	}
  }
}
