.product-partner {
  .featured-collections {
	background-color: theme('colors.teal.tint');
	@apply pt-px60 pb-px100;

	@screen md {
	  @apply py-px80;
	}

	@screen lg {
	  @apply py-px140;
	}

	.tile-grid {
	  @apply py-0;
	}

	.tile-grid-title {
	  @apply mb-px50;

	  @screen lg {
		@apply mb-px86;
	  }
	}
  }

  .tile-grid {
	@apply pt-px72 pb-px100;

	@screen md {
	  @apply py-20;
	}

	&-inner {

	  @screen md {
		@apply px-px50;
	  }

	  @screen lg {
		@apply px-px100;
	  }
	}

	&-header {
	  @apply px-0;
	}

	&-container {
	  @apply mb-0;

	  @screen md {
		@apply gap-px30;
	  }

	  @screen lg {
		@apply flex flex-row flex-wrap justify-center -mt-14 mr-0 mb-0 -ml-px27;
		gap: unset;
	  }
	}

	.tile {
	  box-shadow: 0px 8px 6px rgba(16, 16, 102, 0.1);
	  @apply px-6 pb-12 h-auto;

	  @screen lg {
		flex: 0 0 theme('postCard.width.lg');
		@apply mt-14 mr-0 mb-0 ml-px27
	  }

	  &-title-top {
		@apply font-semibold text-px14 leading-px18 mt-7 mb-3;
	  }

	  &-title {
		@apply font-bold text-px24 leading-px28 mb-4;
	  }

	  &-desc {
		@apply font-normal text-px16 leading-px22 mb-6;
	  }
	}

	.tile-image {
	  @apply h-60 w-px319 max-w-none -mx-6 -mt-7 rounded-t-px10;

	  @screen lg {
		@apply w-px395;
	  }
	}
  }

  .favorite-items {
	@apply pt-px80;

	@screen md {
	  @apply pt-px100;
	}

	@screen lg {
	  @apply pt-px140;
	}

	.tile {
	  @apply pb-8;

	  @screen md {
		@apply pb-px30;
	  }

	  @screen lg {
		@apply pb-9;
	  }

	  &-image {
		@apply h-px292;

		@screen md {
		  @apply h-60;
		}

		@screen lg {
		  @apply h-px292;
		}
	  }

	  &-title {
		@apply mb-0;
	  }
	}

	.tile-grid {
	  @apply py-0;
	}

	.tile-grid-title {
	  @apply mb-px50;

	  @screen lg {
		@apply mb-px80;
	  }
	}

	.tile-desc,
	.tile-cta-wrap {
	  @apply hidden;
	}
  }

  .partners-list {
	@apply pt-px80;

	@screen md {
	  @apply pt-px100;
	}

	@screen lg {
	  @apply pt-px140;
	}

	.tile-grid {
	  @apply py-0;
	}

	.tile {
	  &-title {
		@apply font-semibold text-px24 leading-px28 mt-8;

		@screen md {
		  @apply mt-7;
		}

		@screen lg {
		  @apply text-px26 leading-px36;
		}
	  }
	}

	.title {
	  @apply px-7 font-bold text-px32 leading-px40 mb-px50 text-center;

	  @screen md {
		@apply px-px50;
	  }

	  @screen lg {
		@apply px-px100;
	  }
	}

	.tile-grid {
	  @apply pt-0;
	}
  }

  .banner {
	@apply max-w-px319 mx-auto py-px100 text-white text-center;

	@screen md {
	  @apply max-w-px550;
	}

	@screen lg {
	  @apply max-w-px1028;
	}

	&__inner {
	  @apply px-7 pt-px127 pb-px120 rounded-px10;
	  background-color: theme('colors.teal.dark');

	  @screen md {
		@apply px-px117 pt-32 pb-px117;
	  }

	  @screen lg {
		@apply px-64 py-44;
	  }
	}

	&__title {
	  @apply font-bold text-px30 leading-px40;

	  @screen md {
		@apply text-px32 leading-px42;
	  }

	  @screen lg {
		@apply text-px46 leading-px56;
	  }
	}

	&__description {
	  @apply font-normal text-px18 leading-px22 mt-5;

	  @screen lg {
		@apply text-px20 leading-px30 mt-px30;
	  }
	}

	&__cta {
	  @apply inline-block py-3 px-6 bg-white rounded-px10 mt-px40 text-px16 leading-px22;
	  color: theme('colors.teal.dark');

	  @screen md {
		@apply px-8;
	  }

	  @screen lg {
		@apply py-5 p-20 text-px20 leading-px26;
	  }
	}
  }

  .cards {
	background-color: theme('colors.gray.light');

	&__title {
	  color: theme('colors.teal.dark');
	  @apply mt-px80 mx-0 mb-px60;

	  @screen md {
		@apply mt-px60 mb-px64;
	  }

	  @screen lg {
		@apply mt-px120 mb-px90;
		flex-basis: 100%;
	  }
	}

	&__container {
	  gap: 20px 0;
	  padding-bottom: 100px;
	  @apply pb-px100;

	  @screen md {
		@apply pb-px80;
		justify-content: space-around;
	  }

	  @screen lg {
		@apply pb-px120;
		justify-content: space-between;
	  }

	  .circulation-card {
		flex: 0 0 100%;

		@screen md {
		  flex-basis: calc(492 / 768 * 100%);
		}

		@screen lg {
		  flex-basis: calc(606 / 1240 * 100%);
		}
	  }
	}
  }
}
