.product-partner {

  .page-header {
		@apply mt-px20;

		@screen md {
			@apply mt-0;
		}

		@screen xl {
			@apply mt-px18;
		}

		&-title-top {
			@apply text-px16 leading-px24 md:text-px14 md:leading-px18 lg2:text-px16 lg2:leading-px22;
		}

		&-title {
			@apply text-px32 leading-px40 md:leading-px42 lg2:text-px46 lg2:leading-px56;
			letter-spacing: rem-calc(1px);
		}

		&.type-split-carousel{

			.page-header {
				&-inner {
					@screen md {
						@apply pb-0;
					}
				}

				&-desc {
					@apply text-px18 leading-px26 md:text-px16 md:leading-px22 lg2:text-px24 lg2:leading-px34 py-0 mt-px16 mb-px50;
				}

				&-content-wrap {
					@apply py-0;

					@screen md {
						@apply pb-0 transform-none;
						top: rem-calc(44px);
					}

					@screen xl {

						top: rem-calc(97px);
					}
				}
			}

			.carousel {
				&-wrap {
					@apply mb-px80;
				}

				&-full-width-wrap {
					@apply py-0;
				}
			}

			.swiper-pagination {
				@apply mt-px20;
			}
		}
  }


  .featured-collections {
		background-color: theme('colors.gray.light');
		@apply pt-px60 pb-px100;

		@screen md {
			@apply py-px80;
		}

		@screen lg {
			@apply py-px140;
		}

		.tile-grid {
			@apply py-0;

			&-title {
				@apply font-bold text-px32 leading-px40 md:text-px32 md:leading-px42 xl:text-px40 xl:leading-px48 max-w-none;
			}
		}

		.tile {
			[data-whatintent='mouse'] &:hover {
				@apply bg-white;
			}
		}
  }

  .tile-grid {
		@apply pt-px72 pb-px100;

		@screen md {
			@apply py-20;
		}

		&-inner {

			@screen md {
			@apply px-px50;
			}

			@screen lg {
			@apply px-px100;
			}
		}

		&-header {
			@apply px-0 mb-px50 lg2:mb-px30;
		}

		&-title {
			@apply m-0 mx-auto text-teal-dark;
			max-width: rem-calc(319px);
			letter-spacing: rem-calc(1px);

			@screen md {
				@apply max-w-none;
			}
		}

		&-container {
			@apply mb-0;

			@screen md {
				grid-template-columns: repeat(2, minmax(0, rem-calc(319px)));
				@apply justify-center;
				@apply gap-px30;
			}

			@screen lg {
				grid-template-columns: repeat(2, minmax(0, rem-calc(319px)));
			}

			@screen lg2 {
				gap: unset;
				max-width: rem-calc(1080px);
				@apply flex flex-row flex-wrap justify-center mx-auto;
			}

			@screen xl {
				gap: unset;
				max-width: rem-calc(1240px);
				@apply flex flex-row flex-wrap justify-center mx-auto;
			}
		}

		.tile {
			box-shadow: 0px 8px 6px rgba(16, 16, 102, 0.1);
			@apply h-auto p-0;

			@screen lg {
				max-width: theme('postCard.width.md');
			}

			@screen lg2 {
				margin-top: rem-calc(56px);
				max-width: calc((100% / 3) - 29px);
				@apply mx-px14;
			}

			@screen xl {
				max-width: calc((100% / 3) - 29px);
				@apply mx-px14;
			}

			&-inner {
				@apply px-6 pb-12;
			}

			&-title-top {
			@apply font-semibold text-px14 leading-px18 mt-7 mb-3;
			}

			&-title {
			@apply font-bold text-px24 leading-px28 mb-4;
			}

			&-desc {
			@apply font-normal text-px16 leading-px22 mb-6;
			}
		}

		.tile-image {
			@apply h-60 w-full max-w-none rounded-t-px10;
		}
  }

  .favorite-items {
	@apply pt-px80;

	@screen md {
	  @apply pt-px100;
	}

	@screen lg {
	  @apply pt-px140;
	}

	.tile {
	  @apply pb-8;

	  @screen md {
		@apply pb-px30;
	  }

	  @screen lg {
		@apply pb-9;
	  }

	  &-image {
		@apply h-px292;

		@screen md {
		  @apply h-60;
		}

		@screen lg {
		  @apply h-px292;
		}
	  }

	  &-title {
		@apply mb-0;
	  }
	}

	.tile-grid {
	  @apply py-0;
	}

	.tile-desc,
	.tile-cta-wrap {
	  @apply hidden;
	}
  }

  .partners-list {
		@apply pt-px80;

		@screen md {
			@apply pt-px100;
		}

		@screen lg {
			@apply pt-px140;
		}

		.tile-grid {
			@apply py-0;
		}

		.tile {
			&-title {
			@apply font-semibold text-px24 leading-px28 mt-8;

			@screen md {
				@apply mt-7;
			}

			@screen lg {
				@apply text-px26 leading-px36;
			}
			}
		}

		.tile-grid {
			@apply pt-0;

			&-header {
				@apply px-7 md:px-px50 lg:px-px100 mb-px50 lg2:mb-px30 text-center;
			}

			&-title {
				@apply mx-auto font-bold text-px32 leading-px40 md:leading-px42 lg:text-px40 lg:leading-px48;
			}
		}
  }

  .banner {
	@apply max-w-px319 mx-auto py-px100 text-white text-center;

	@screen md {
	  @apply max-w-px550;
	}

	@screen lg {
	  @apply max-w-px1028;
	}

	&__inner {
		@apply px-7 pt-px127 pb-px120 rounded-px10;
		background-color: theme('colors.teal.dark');

		@screen md {
		@apply px-px117 pt-32 pb-px117;
		}

		@screen lg {
		@apply px-64 py-44;
		}
	}

	&__title {
	  @apply font-bold text-px30 leading-px40;

	  @screen md {
		@apply text-px32 leading-px42;
	  }

	  @screen lg {
		@apply text-px46 leading-px56;
	  }
	}

	&__description {
	  @apply font-normal text-px18 leading-px22 mt-5;

	  @screen lg {
		@apply text-px20 leading-px30 mt-px30;
	  }
	}

	&__cta {
	  @apply inline-block py-3 px-6 bg-white rounded-px10 mt-px40 text-px16 leading-px22;
	  color: theme('colors.teal.dark');

	  @screen md {
		@apply px-8;
	  }

	  @screen lg {
		@apply py-5 p-20 text-px20 leading-px26;
	  }
	}
  }

  .cards {
	@apply bg-white;

	&__title {
	  color: theme('colors.teal.dark');
	  @apply mt-px80 mx-0 mb-px60;

	  @screen md {
		@apply mt-px60 mb-px20;
	  }

	  @screen lg {
		@apply mt-px120 mb-px90;
		flex-basis: 100%;
	  }

		@screen xl {
			@apply mb-px70;
		}
	}

	&__container {
	  padding-bottom: 100px;
	  @apply pb-px100 space-y-px20;

	  @screen md {
		@apply pb-px80;
		justify-content: space-around;
	  }

	  @screen lg {
		@apply pb-px120;
		justify-content: space-between;
	  }

	  .circulation-card {
		flex: 0 0 100%;

		@screen md {
		  flex-basis: calc(492 / 668 * 100%);
		}

		@screen lg {
		  flex-basis: calc(606 / 1240 * 100%);
		}
	  }
	}
  }
}
