html {
  font-size: 16px;
}

html {
  @apply h-full;
  scroll-behavior: smooth;
}

body {
  @apply flex flex-col;
  @apply relative;
  @apply font-manrope;
  @apply w-full;
  min-height: calc(100vh - var(--tr-wp-admin-bar-h));

  > main {
	flex: 1 0 auto;
  }

  > footer {
	@apply flex-shrink-0;
  }
}

:root {
  --tr-screen-br-sm: theme('screens.sm');
  --tr-screen-br-md: theme('screens.md');
  --tr-screen-br-lg: theme('screens.lg');
  --tr-screen-br-xl: theme('screens.xl');
}
