.search-form {
  .icon-wrap {
    @apply flex items-center h-full w-px60 flex-shrink-0 relative z-1;

    @screen md {
      @apply pr-px14;
    }

    &--search {
      @apply justify-end pr-px12 ml-auto;
    }

    &--cancel {
      @apply justify-center w-px40 invisible bg-transparent flex cursor-pointer justify-self-end ml-auto px-0;
    }
  }

  .input-wrap {
    @apply h-px60;

    @screen md {
      @apply h-px62;
    }

    @screen lg {
      @apply h-px78;
    }

    @screen xl {
      @apply h-px78;
    }

    &:not(.input-has-value) {
      .search-field {
        @screen md {
          @apply w-px350;
        }

        @screen xl {
          @apply w-px460;
        }
      }
    }

    &.input-has-value {
      .icon-wrap--cancel {
        @apply visible;
      }
    }
  }

  .search-field {
    @apply border-none ml-0 h-auto min-w-0 max-w-full pl-px60 pr-px40 -ml-px60 -mr-px40;
    @apply text-left text-px14 leading-px18 tracking-em005 text-current;

    @screen md {
      @apply text-px16 leading-px22;
    }

    @screen xl {
      @apply text-px22 leading-px32 tracking-px05;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      @apply text-current;
    }
  }

  .trevor-ti-search,
  .trevor-ti-x {
    @apply text-current;
  }

  .trevor-ti-x {
    @apply text-px30;

    @screen lg {
      @apply text-px32;
    }
  }

  #input-suggestions {
    @apply absolute bg-white rounded-px10 transform translate-y-px4 md:translate-y-px6 text-indigo;
    z-index: 5;
    max-height: 188px;
    overflow-y: auto;

    @screen md {
      max-height: 210px;
      box-shadow: theme("boxShadow.indigo-md");
    }

    @screen lg {
      box-shadow: theme("boxShadow.indigo-lg");
    }

    .list-header {
      @apply tracking-px05 font-semibold text-px14 leading-px22 md:leading-px18 lg:leading-px20 mb-px8 lg:mb-px6;
    }

    .ui-autocomplete {
      @apply rounded-px10 pt-px20 pb-px24 px-px20 mx-auto text-center
       md:pt-px22 md:px-px20 lg:px-px30;
      left: 0 !important;
      width: 100% !important;
    }

    .ui-menu-item {
      @apply font-normal tracking-px05 text-px16 leading-px18 md:text-px14 md:leading-px22 lg:text-px18 lg:leading-px26 text-indigo;

      &:not(:last-child) {
        @apply pb-px8 lg:pb-px12;
      }
    }

    .ui-state-focus {
      @apply text-indigo cursor-pointer font-normal m-0 border-0;
      background: none;
    }
  }
}
