$top--bar-height-mobile: rem-calc(84px);
$top--bar-height-tablet: rem-calc(106px);

$top-nav-height: #{rem-calc(136px)};
$top-nav-height-tablet: #{rem-calc(144px)};
$top-nav-height-desktop: #{rem-calc(176px)};

$nav-base-z-index: z-index(nav-base);
$z-index-nav-blur: $nav-base-z-index;
$z-index-nav-white-bg: $z-index-nav-blur + 1;
$z-index-nav-menu: $z-index-nav-blur + 4;
$z-index-nav-switcher: $z-index-nav-blur + 5;
$z-index-nav-controls: $z-index-nav-blur + 6;
$z-index-nav-cta: $z-index-nav-blur + 5;
$z-index-topbar: $z-index-nav-white-bg + 1;

:root {
	--site-banner-height: 0px;
	--top-bar-height: #{$top--bar-height-mobile};
	--top-nav-height: #{$top-nav-height};
	--top-nav-top-margin: calc(
		var(--top-bar-height) + var(--tr-wp-admin-bar-h) +
			var(--site-banner-height)
	);
	--nav-menu-width: #{percentage(327/375)};
	--z-index-nav-base: #{$nav-base-z-index};
	--z-index-nav-blur: #{$z-index-nav-blur};
	--z-index-nav-white-bg: #{$z-index-nav-white-bg};
	--z-index-nav-menu: #{$z-index-nav-menu};
	--z-index-nav-switcher: #{$z-index-nav-switcher};
	--z-index-nav-controls: #{$z-index-nav-controls};
	--z-index-nav-cta: #{$z-index-nav-cta};
	--z-index-topbar: #{$z-index-topbar};

	// fixes anchor link connections
	* {
		scroll-margin-top: var(--tr-wp-admin-bar-h);
	}

	@screen md {
		--top-bar-height: #{$top--bar-height-tablet};
		--top-nav-height: 9rem;
		--nav-menu-width: #{rem-calc(370px)};
	}

	@screen lg2 {
		--top-bar-height: #{rem-calc(78px)};
		--top-nav-height: 11rem;

		// fixes anchor link connections
		* {
			scroll-margin-top: var(--top-nav-top-margin);
		}
	}
}

//
// Top Bar
//
#top-bar {
	@apply fixed top-0 left-0;
	@apply w-full h-px84;
	@apply transition-transform duration-300 ease-out;
	@apply transform-gpu -translate-y-full bg-white;
	z-index: var(--z-index-topbar);

	@screen md {
		@apply h-px106;
	}

	@screen lg2 {
		@apply sticky mt-0 pt-0 -top-px2;
		@apply h-px80 max-h-none;
		@apply border-b-px6 border-orange;
		@apply translate-y-0;
	}

	// Place the border and background on a pseudo element,
	// Allows to minimize complicated offset computations acounting for the border
	&::before {
		content: '';
		border-bottom: rem-calc(4px) solid theme('colors.orange.DEFAULT');
		@apply absolute left-0 w-full bg-white -bottom-px3 h-full;
		@apply transform-gpu translate-y-0 transition-all duration-300 ease-out;

		@screen lg2 {
			@apply static bottom-0;
		}
	}

	.top-bar-inner {
		@apply static flex mx-auto items-center h-full justify-between;
		@apply pl-px20 pr-px30;

		@screen md {
			@apply px-px40;
		}

		@screen lg2 {
			@apply relative px-0 m-auto;
			width: calc(100% - 80px);
		}
	}

	.logo-icon {
		@apply flex items-center justify-center w-px45 h-px45;
		@apply text-orange text-px40;
		@apply transform-gpu translate-y-0;
		@apply transition-all duration-300 ease-out;
		z-index: var(--z-index-nav-controls);

		@screen md {
			@apply w-px50 h-px50;
		}

		@screen lg2 {
			@apply w-px42 h-px42 overflow-hidden mr-px28;
		}

		> a {
			@apply flex items-center transition-transform duration-300 ease-out;
			@apply w-full h-full;
			@apply transform-gpu;

			@screen lg2 {
				@apply -translate-x-full text-px38;
			}
		}

		.trevor-ti-logo-icon {
			@apply flex items-center justify-center w-full h-full text-px45;
			@apply overflow-hidden;

			@screen md {
				@apply text-px50;
			}

			@screen lg2 {
				@apply text-px42;
			}
		}
	}

	.topbar-nav-wrap {
		@apply hidden;

		@screen lg2 {
			@apply block overflow-visible;
			@apply transition-all duration-300 ease-out;
			@apply opacity-0 invisible;
		}
	}

	.main-menu-container {
		@screen lg2 {
			@apply pb-0 h-full text-indigo;
		}

    > .main-menu {
      @apply text-indigo;
    }

		> .main-menu > .menu-item {
			@screen lg2 {
				@apply px-0 py-px18;

				&:not(:first-child) {
					@apply ml-px24;
				}

				&:first-child .sub-menu::before {
					@apply ml-px5;
				}

				&:last-child .sub-menu {
					@apply -mr-px10;

					&::before {
						@apply mr-px5;
					}
				}

				// Hover/focus state
				&:hover,
				&:focus-within {
					> a .submenu-icon {
						@apply -rotate-180;
						@apply text-indigo;
					}
				}
			}
		}

		// First tier link
		> .main-menu > .menu-item > a {
			@screen lg2 {
				@apply flex items-center whitespace-nowrap;
				@apply overflow-hidden py-0 h-full;
				@apply px-0;

				// Chevron
				&::after {
					@apply hidden;
				}
			}
		}

		// First tier submenu
		> .main-menu > .menu-item > .sub-menu {
			@screen lg2 {
				border: 1px solid rgba(16, 16, 102, 0.16);

				// Submenu caret
				&::before {
					@apply w-px13 h-px13 transform rotate-45 bg-white -top-px7;
					@apply border-t-px1 border-l-px1 border-r-0 border-b-0;
					border-color: rgba(16, 16, 102, 0.16);
				}
			}
		}

		> .main-menu > .menu-item > a > .menu-link-text {
			@screen lg2 {
				@apply block;
				@apply transition-transform duration-300 ease-out;
				@apply transform translate-y-full;
			}
		}

		// Submenu icon
		.submenu-icon {
			@apply hidden;

			@screen lg2 {
				@apply inline-block;
				@apply ml-2;
				@apply transition-all duration-300 ease-out;
				color: rgba(16, 16, 102, 0.44);
			}
		}
	}

	// Top Bar Controls
	.topbar-controls {
		@apply flex transition-transform duration-300 ease-out;
		@apply transform-gpu translate-y-0;
		z-index: var(--z-index-nav-controls);

		@screen lg2 {
			@apply overflow-hidden;
		}
	}

	.topbar-control-search {
		@apply block rounded-full bg-indigo text-white;
		@apply w-px45 h-px45;
		@apply flex justify-center items-center;
		@apply mr-px15 text-px22;
		@apply transition-all duration-300 ease-out invisible opacity-0;

		@screen lg2 {
			@apply transform-gpu translate-y-full visible opacity-100;
			@apply bg-transparent text-indigo;
			@apply mr-0 ml-px24;
			@apply hover:opacity-80;
		}

		.trevor-ti-search {
			color: inherit;
		}

		.trevor-ti-search {
			color: inherit;
		}
	}

	.topbar-control-opener {
		@apply flex justify-center items-center relative;
		@apply text-px40 text-indigo;
		width: rem-calc(45px);
		height: rem-calc(45px);

		@screen lg2 {
			@apply hidden;
		}
	}

	.trevor-ti-hamburger-menu {
		@apply block absolute transform-gpu top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
		@apply transition-all duration-300 opacity-100 visible;
	}

	.trevor-ti-nav-close {
		@apply block absolute transform-gpu top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
		@apply opacity-0 invisible;
		@apply transition-all duration-300 opacity-0 invisible;
		font-size: rem-calc(25);
	}
}

// Burger nav controls for mobile/tablet
.burger-nav-controls {
	@apply fixed top-0 right-0;
	@apply flex items-center justify-center;
	@apply invisible opacity-0;
	@apply transition-all duration-300 ease-out;
	@apply py-px11 px-px8;
	@apply transform-gpu translate-x-full;
	z-index: var(--z-index-nav-switcher);
}

.btn.burger-nav-control {
	@apply flex items-center justify-center;
	@apply w-px45 h-px45 p-0 text-px25;

	~ .btn {
		@apply ml-px15;
	}

	&-search {
		@apply rounded-px100 bg-indigo text-white;
	}

	&-close {
		@apply text-indigo;
	}
}

.cta-wrap {
	@apply overflow-x-hidden;
	@apply fixed bottom-0 right-0;
	@apply transition-all opacity-0 invisible;
	width: var(--nav-menu-width);
	z-index: var(--z-index-nav-cta);

	@screen lg2 {
		@apply opacity-100 visible overflow-hidden;
		@apply h-full w-auto pointer-events-auto;
		@apply absolute;
	}

	.cta-links {
		@apply flex flex-col w-full bg-white;
		@apply transform-gpu translate-x-full;
		@apply transition-all duration-300 ease-out;
		@apply pb-px30 px-px43 mt-px30;

		@screen lg2 {
			@apply flex-row items-center;
			@apply h-full translate-x-0;
			@apply bg-transparent border-0;
			@apply p-0 m-0;
		}
	}

	.btn {
		@apply flex items-center justify-center h-px52;
		@apply font-bold text-px20 leading-px20 tracking-px05;
		@apply rounded-full border-orange p-0;
		@apply transition-all duration-300;

		@screen lg2 {
			@apply min-w-px145 h-px48 px-px24 py-0;

			&:first-child {
				@apply hover:bg-opacity-86 hover:border-opacity-86;
			}
		}

		& + .btn {
			@apply mt-px18;

			@screen lg2 {
				@apply mt-0 ml-px10;
				@apply hover:bg-orange hover:text-white;
			}
		}
	}
}

// Switcher
.switcher-wrap {
	@apply fixed right-0 overflow-x-hidden pointer-events-none;
	@apply transform-gpu;
	@apply transition-transform duration-300 ease-out;
	@apply top-px84;
	width: var(--nav-menu-width);
	height: rem-calc(133px);
	z-index: var(--z-index-nav-switcher);

	@screen md {
		@apply top-px106;
	}

	@screen lg2 {
		@apply static w-auto h-auto top-0 mr-auto pointer-events-auto;
		@apply -translate-x-px70;
	}

	.switcher {
		@apply list-none;
		@apply flex items-end w-full h-full flex-1;
		@apply transform-gpu translate-x-full;
		@apply transition-all duration-300 ease-out;
		@apply opacity-0 invisible;
		@apply bg-white;
		top: $top--bar-height-mobile;
		z-index: var(--z-index-nav-switcher);
		background-color: rgba(16, 16, 102, 0.04);

		@screen lg2 {
			@apply translate-x-0 bg-transparent;
			@apply opacity-100 visible;
		}

		> li {
			@apply bg-white flex-1;
			line-height: rem-calc(16);
			height: rem-calc(50);

			&:not(:first-child) {
				@screen lg2 {
					@apply ml-px18;
				}
			}

			> a {
				@apply flex justify-center items-center h-full whitespace-nowrap;
				@apply font-manrope font-light text-px16 leading-px16 tracking-em002;
				@apply text-indigo;
				@apply px-2;
				background-color: rgba(16, 16, 102, 0.04);

				@screen lg2 {
					@apply px-0 bg-transparent transition-opacity duration-300;
					@apply text-px16 leading-px20;

					&:hover {
						@apply opacity-80;
					}
				}

				&.active {
					@apply font-extrabold bg-white;
				}
			}
		}
	}
}

// Menu
/* @see: .main-menu-container */
.menu-wrap {
	@apply flex fixed right-0 py-px55 overflow-x-hidden;
	@apply transform-gpu translate-x-full;
	@apply transition-all duration-300 ease-out;
	@apply bg-white text-indigo;
	@apply invisible opacity-0;
	top: rem-calc(133px); // Just below the switcher
	height: calc(100% - #{rem-calc(133px)}); // 100% minus switcher height
	width: var(--nav-menu-width);
	z-index: var(--z-index-nav-menu);

	@screen lg2 {
		@apply visible opacity-100;
	}
}

// Main Menu
.main-menu-container {
	@apply transition-all opacity-0 invisible w-full h-full pointer-events-none;

	@screen lg2 {
		@apply visible opacity-100;
	}

	.submenu-icon {
		@apply hidden transform-gpu transition-transform duration-300 ease-out;

		&:before {
			font-size: 0.5rem;
			display: inline-block;
			vertical-align: middle;
		}
	}

	// Dropdowns
	@screen lg2 {
		@apply pb-4;
		$general-transition: 280ms all 120ms ease-out;

		// Convert lists to grid
		ul {
			@apply flex items-center;
			@apply list-none m-0 p-0;

			li {
				@apply p-0;
			}
		}

		li {
			@apply block;
			@apply cursor-pointer;
		}

		.logo-wrap {
			@apply block;
		}
	}
}

.main-menu-container-resources {
	@screen lg2 {
		body:not(.is-rc) & {
			@apply hidden;
		}
	}
}

.main-menu-container-organization {
	@apply opacity-100 visible h-full pointer-events-auto -ml-full;

	@screen lg2 {
		@apply ml-0;

		body.is-rc & {
			@apply hidden;
		}
	}
}

.main-menu {
	@apply h-full;
	@apply transform-gpu translate-x-0;
	@apply transition-transform duration-300 ease-out;

  @screen md-max {
    @apply text-indigo;
  }

	// Tier-1 menu link, default state
	> .menu-item {
		@apply transition-all duration-300 ease-out;

		@screen lg2 {
			@apply relative;
			@apply pb-px18;

			// Desktop styles for hover and show submenu
			&:hover,
			&:focus-within {
				> .sub-menu {
					@apply scale-y-100 visible opacity-100;
				}
			}
		}

		&:not(:first-child) {
			@screen xl {
				@apply ml-px38;
			}
		}

		// First submenu is left-aligned with the main menu
		&:first-child > .sub-menu {
			@screen lg2 {
				@apply left-0 right-auto translate-x-0;

				// Submenu caret
				&::before {
					@apply left-px10 right-auto translate-x-0;
				}
			}
		}

		// Last submenu is left-aligned with the main menu
		&:last-child > .sub-menu {
			@screen lg2 {
				@apply left-auto -right-px6 translate-x-0;

				// Submenu caret
				&::before {
					@apply left-auto right-px10 translate-x-0;
				}
			}
		}

		.sub-menu__heading {
			@apply absolute top-px50 left-full w-full;
			@apply flex justify-start py-px14 px-px24;
			@apply font-bold text-px24 leading-px30 tracking-em001;
			@apply transition-all invisible opacity-0;
			// md
			@apply md:text-px26 md:leading-px32 md:tracking-em001 md:top-px50 md:py-0;
			// lg2
			@apply lg2:hidden;
		}

		> a {
			@apply flex justify-between py-px14 px-px24;
			@apply transition-all duration-300 ease-out;
			@apply transform-gpu translate-y-0 translate-x-0;
			@apply font-bold text-px24 leading-px30 tracking-em001;
			// md
			@apply md:text-px26 md:leading-px32 md:tracking-em001;
			// lg2
			@apply lg2:pointer-events-none;

			// Chevron icon
			&::after {
				@apply block transform text-px14 font-bold;
				@apply transition-opacity duration-300 ease-out opacity-100;
				font-family: 'trevor-ti';
				content: $font-trevor-ti-chevron-thick-right;

				@screen lg2 {
          color: inherit;
          opacity: 0.44;

					@apply transition-transform ml-px10;
				}
			}

			> .menu-link-text {
				@screen lg2 {
					@apply transform-gpu transition-transform duration-300 ease-out;
					@apply text-px20 leading-px26;
				}
			}
		}

		// Tier-1 submenu
		> .sub-menu {
			@apply absolute left-0 w-full opacity-0 invisible overflow-auto;
			@apply transform-gpu translate-x-full;
			@apply transition-all duration-300 ease-out;
			@apply px-px34;
			top: rem-calc(128px);
			height: calc(100% - #{rem-calc(128px)});

			@screen md {
				@apply top-px106;
				height: calc(100% - #{rem-calc(106px)});
			}

			@screen lg2 {
				@apply h-auto top-full w-auto p-0 overflow-visible;
				@apply left-1/2 -translate-x-1/2;
				@apply bg-white rounded-px10 p-px24 pr-px32;

				// submenu caret
				&::before {
					@apply block absolute -top-px12 left-1/2;
					@apply transform-gpu -translate-x-1/2;
					@apply border-b-px12 border-l-px10 border-r-px10;
					border-bottom-color: rgba(255, 255, 255, 0.44);
					border-left-color: transparent;
					border-right-color: transparent;
					content: '';
				}
			}

			// Empty or not configured links should not
			// be clickable on desktop
			& a[href='#'],
			a[href=''] {
				@apply lg2:pointer-events-none lg2:inline-block;
			}

			// Tier-2 menu link
			> .menu-item {
				&:not(:first-child) {
					@screen lg-max {
						@apply mt-px22;
					}
				}

				> a > .menu-link-text .title-wrap {
					@apply font-bold text-px20 leading-px26 tracking-em005;

					@screen lg2 {
						@apply flex items-center text-px18 leading-px24;
						@apply whitespace-nowrap;
					}

					// Chevron
					&::after {
						@apply transform inline-block ml-px14 text-px14;
						@apply lg2:text-px10 lg2:ml-px11;
						font-family: 'trevor-ti';
						content: $font-trevor-ti-chevron-thick-right;
					}
				}

				> a .subtitle {
					@apply text-px14 leading-px20 tracking-em001 mt-px6;
					@apply lg2:min-w-px200;
				}
			}

			// Tier-2 submenu
			.sub-menu {
				@apply mt-px22;

				@screen md {
					@apply mt-px26;
				}

				@screen lg2 {
					@apply mt-px22;
				}

				@screen lg2 {
					@apply relative;
				}

				.menu-item {
					&:not(:first-child) {
						@apply mt-px14;

						@screen lg2 {
							@apply mt-0;
						}
					}

					@screen lg2 {
						@apply mt-0;
					}

					.title-wrap {
						@apply whitespace-nowrap text-px20 leading-px26 tracking-em001;
						@apply md:whitespace-nowrap md:text-px18 md:leading-px24 md:tracking-em001;
						@apply lg2:text-px16 lg2:font-semibold;
					}
				}
			}
		}
	}

	// Tier-1 menu link, active state
	> .menu-item.active {
		@screen lg-max {
			// // Accounting for up to 5 sub-menu
			// // Animating into the same position
			// @for $i from 1 through 5 {
			// 	&:nth-child(#{$i}) > a {
			// 		@apply translate-x-full opacity-100 visible;
			// 		--tw-translate-y: calc(#{($i - 1) * -100%} + 50px);

			// 		@screen md {
			// 			--tw-translate-y: calc(#{($i - 1) * -100%} + 38px);
			// 		}
			// 	}
			// }

			> a {
				@apply opacity-0 invisible;
			}

			> .sub-menu__heading,
			> .sub-menu {
				@apply opacity-100 visible;
			}
		}
	}
}

//
// NAV
//
#top-nav {
	height: var(--top-nav-height);
	z-index: var(--z-index-nav-base);

	// Background blur and fill, for mobile/tablet
	@screen lg-max {
		&::before {
			@apply fixed top-0 left-0 w-full h-full bg-white;
			@apply transform-gpu transition-all duration-300 ease-out opacity-0 invisible;
			content: '';
			background-color: rgba(16, 16, 102, 0.2);
			backdrop-filter: blur(4px);
			z-index: var(--z-index-nav-blur);
		}

		&::after {
			@apply fixed top-0 right-0 h-full bg-white;
			@apply transform-gpu translate-x-full transition-transform duration-300 ease-out;
			width: var(--nav-menu-width);
			content: '';
			z-index: var(--z-index-nav-white-bg);
		}
	}

	// Underlay
	.top-nav__underlay {
		@apply absolute top-0 left-0 w-full h-full;
		@apply transition-all opacity-0 invisible duration-300 ease-out;
		@apply lg2:hidden;
		z-index: var(--z-index-nav-blur);
	}

	// Tier-2 submenu state, for mobile/tablet
	&.tier-two-visible {
		@screen lg-max {
			.back-to-tier1-wrap {
				@apply opacity-100 visible translate-x-0;
			}

			.main-menu {
				@apply -translate-x-full;

				// Animate tier-1 chevron out
				> .menu-item {
					&:not(.active) {
						@apply invisible opacity-0;
					}

					> a::after {
						@apply opacity-0 invisible;
					}
				}
			}

			.cta-wrap {
				@apply opacity-0 invisible;
			}

			.cta-links {
				@apply -translate-x-full;
			}
		}
	}

	// Back button, for mobile/tablet
	.back-to-tier1-wrap {
		@apply w-full absolute top-px65 left-0 pl-px24;
		@apply transition-all duration-300 ease-out opacity-0 invisible;
		@apply transform-gpu translate-x-full;

		@screen lg2 {
			@apply hidden;
		}
	}

	.back-to-tier1 {
		@apply flex items-center;
		@apply font-bold text-px14 leading-px20 tracking-em001;

		// Chevron
		&::before {
			@apply leading-px20 transform rotate-180;
			font-family: 'trevor-ti';
			font-size: rem-calc(10px);
			content: $font-trevor-ti-chevron-thick-right;
			margin-right: rem-calc(9px);
		}
	}

	// Menu for desktop
	.menu-wrap {
		@screen lg2 {
			@apply static m-0 top-0 h-auto overflow-visible w-auto;
			@apply transform-gpu;
			@apply transition-all duration-300 opacity-100 visible;
			@apply py-0 translate-x-0 -mr-px30;
			@apply bg-transparent;
		}
	}

	.main-menu-container {
		@screen lg2 {
			@apply pointer-events-auto p-0;
		}
	}

	// Main menu large breakpoint
	.main-menu {
		@screen lg2 {
			// Caret, hidden in top-nav
			.submenu-icon {
				@apply hidden;
			}

			// Tier 1 menu
			> .menu-item {
				@apply pr-px10;

				&:not(:first-child) {
					@apply ml-px38;
				}
			}

			// Chevron
			> .menu-item > a::after {
				@apply rotate-90;
			}

			// Hover/Focus state
			& > .menu-item:hover,
			& > .menu-item:focus-within {
				// Rotate chevron
				> a::after {
					@screen lg2 {
						@apply -rotate-90 text-opacity-100;
					}
				}
			}

			.trevor-ti-caret-down {
				@apply hidden;
			}

			> .menu-item > a {
				@apply p-0;
			}

			// Tier 1 submenu
			> .menu-item > .sub-menu {
        @apply text-indigo;
				@apply pt-px24 pb-px32;
			}
		}
	}

	// Resources/Support menu, for mobile/tablet
	&.is_rc {
		@screen lg-max {
			.main-menu-container-resources {
				@apply visible opacity-100 pointer-events-auto;
			}

			.main-menu-container-organization {
				@apply invisible opacity-0 pointer-events-none;
			}
		}
	}

	.search-button {
		@screen lg2 {
			@apply hover:opacity-80;
		}
	}

  .top-nav-inner {
    @screen lg2 {
      @apply px-px20;

      width: calc(100% - 80px);
    }
  }
}

.top-nav-inner {
	@apply static flex flex-row items-center justify-between h-full;
	@apply mx-auto;

	@screen lg2 {
		@apply pb-0 pt-px32 items-start;
	}

	.logo-wrap {
		@apply -mt-px10;

		@screen md {
			@apply mt-0;
		}

    body.error404 & {
      @apply text-orange;
    }
	}

	.logo-icon {
		@apply absolute;
		top: -0.75rem;
		right: -0.25rem;
	}

	// Opener
	.opener-wrap {
		@apply flex items-center z-1;

		@screen lg2 {
			@apply hidden;
		}
	}

	.opener {
		font-size: 3rem;
		padding-bottom: 1.75rem;
		@apply cursor-pointer;
		@apply transition-all duration-300 ease-out;
		@apply visible opacity-100;
	}

	// Search Button
	.search-button {
		@apply hidden;

		@screen lg2 {
			@apply block w-px45 h-px45 text-px28 ml-px38 -mt-px10 text-white;
		}
	}

	@screen lg2 {
		.opener {
			@apply hidden;
		}

		.menu-wrap {
			@apply flex;
			margin-top: -4rem;
			margin-right: -1.5rem;
		}

		.logo-icon {
			@apply block absolute;
			top: 0.5rem;
			right: -1rem;
		}
	}
}

// Collapased nav state
body:not(.on-top) {
	#top-bar {
		&::before {
			@screen mobile {
				--tw-translate-y: calc(100% - #{rem-calc(4px)});
			}

			@screen md {
				--tw-translate-y: calc(100% - #{rem-calc(6px)});
			}

			@screen lg2 {
				@apply translate-y-0;
			}
		}

		.switcher-wrap {
			@screen lg2 {
				@apply translate-x-0;
			}
		}

		.logo-icon {
			--tw-translate-y: #{$top--bar-height-mobile};

			@screen md {
				--tw-translate-y: #{$top--bar-height-tablet};
			}

			@screen lg2 {
				@apply translate-y-0;
			}

			> a {
				@screen lg2 {
					@apply translate-x-0;
				}
			}
		}

		.topbar-nav-wrap {
			@screen lg2 {
				@apply visible opacity-100;
			}
		}

		.main-menu-container {
			@screen lg2 {
				@apply pointer-events-auto;
			}

			> .main-menu > .menu-item > a > .menu-link-text {
				@screen lg2 {
					@apply translate-y-0;
				}
			}
		}

		.cta-wrap {
			@screen lg2 {
				@apply pointer-events-none;
			}
		}

		.cta-links {
			@screen lg2 {
				@apply -translate-y-full pointer-events-auto;
			}
		}

		.topbar-controls {
			--tw-translate-y: var(--top-bar-height);

			@screen lg2 {
				@apply translate-y-0;
			}
		}

		.topbar-control-search {
			@screen lg2 {
				@apply translate-y-0;
			}
		}

		.topbar-control-opener {
			@screen lg2 {
				@apply translate-y-0;
			}
		}
	}

	#top-nav {
		.menu-wrap {
			@screen lg2 {
				@apply -translate-y-full invisible opacity-0;
			}
		}
	}
}

// Expanded Navigation State On Mobile and Tablet
body.is-navigation-open {
	#top-bar {
		&::before {
			@screen lg-max {
				@apply opacity-0;
			}
		}

		.logo-icon {
			@screen lg-max {
				@apply opacity-0 invisible;
			}
		}

		.topbar-controls {
			@screen lg-max {
				@apply invisible opacity-0;
			}
		}

		.switcher-wrap {
			@screen lg-max {
				@apply pointer-events-auto;
			}
		}

		.switcher {
			@screen lg-max {
				@apply transform translate-x-0;
				@apply visible opacity-100;
			}
		}
	}

	.burger-nav-controls {
		@apply lg-max:visible lg-max:opacity-100 lg-max:translate-x-0;
	}

	.opener {
		@apply visible opacity-0;
	}

	#top-nav {
		@screen lg-max {
			// Blur
			&::before {
				@apply opacity-100 visible;
			}
			// White background
			&::after {
				@apply translate-x-0;
			}
		}

		.top-nav__underlay {
			@apply lg-max:visible lg-max:opacity-100;
		}
	}

	.cta-wrap {
		@screen lg-max {
			@apply opacity-100 visible;
		}
	}

	.cta-links {
		@screen lg-max {
			@apply translate-x-0;
		}
	}

	.menu-wrap {
		@screen lg-max {
			@apply translate-x-0 visible opacity-100;
		}
	}
}

// Dropdown logic for desktop
@screen lg2 {
	.main-menu > .menu-item > .sub-menu {
		@apply grid gap-x-px38 gap-y-px22 items-start;

		// Apply 2-column grid when items are >= 4 on tier-1
		.menu-item:nth-last-child(n + 4) ~ .menu-item:nth-child(even) {
			@apply col-start-2;
		}

		// Apply 2-column grid when items are >= 4 on tier-2
		.sub-menu {
			@apply grid gap-y-px12 gap-x-px38;
		}
	}
}

// Fix top bar for wp admin bar
body.admin-bar {
	margin-top: var(--tr-wp-admin-bar-h);

	#top-bar {
		top: var(--tr-wp-admin-bar-h);
	}
}

@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed !important; // Reverse
		top: 0;
	}
}
