.statistics {
  @apply text-center my-px80;
  @include user-defined-bg;

  @screen xl {
    @apply my-px140;
  }

  &[class*="bg-"]:not(.bg-transparent) {
    @apply text-center py-px80 my-0;

    @screen xl {
      @apply py-px140 my-0;
    }
  }

  &__container {
    @apply container mx-auto;
    @apply tw-grid;

    @screen xl {
      @apply grid tw-grid-desktop;
    }
  }

  &__heading {
    @apply font-semibold text-px32 leading-px40 col-span-full;

    @screen md {
      @apply text-px32 leading-px42 col-start-2 col-span-6;
    }

    @screen lg {
      @apply col-span-10 col-start-2 text-px38 leading-px48 tracking-em_001;
    }

    @screen xl {
      @apply text-px46 leading-px56 tracking-em_001;
      @apply col-span-10 col-start-2;
    }
  }

  &__description {
    @apply text-px18 leading-px24 tracking-px05 mt-px16 col-span-full;

    @screen md {
      @apply text-px18 leading-px22 col-start-2 col-span-6;
    }

    @screen lg {
      @apply col-span-10 col-start-2 text-px20 leading-px30 tracking-px05;
    }

    @screen lg2 {
      @apply mx-auto col-span-full col-start-1;
      max-width: rem-calc(822);
    }

    @screen xl {
      @apply col-span-8 col-start-3 -mx-px28 mt-px14;
      @apply text-px24 leading-px34 tracking-em005;
    }
  }

  &__cards-container {
    @apply mt-px60 col-span-full;
    @include bleed;

    &:not(.swiper-container-initialized) {
      .swiper-pagination {
        @apply hidden;
      }
    }

    @screen md {
      @apply mt-px50 mx-0 col-span-6 col-start-2;
    }

    @screen lg {
      @apply col-span-10 col-start-2;
    }

    @screen lg2 {
      @apply mt-px80 col-span-full col-start-1;
    }

    @screen xl {
      @apply col-span-full mt-px80;
    }
  }

  &__cards-wrapper {
    @apply h-auto;

    @screen lg {
      @apply flex justify-center gap-x-md flex-wrap gap-y-px58;
    }

    @screen lg2 {
      @apply grid tw-grid-medium-desktop;
    }
  }

  &__card {
    @screen lg {
      @apply flex-shrink-0;
      width: calc((100% - theme('gap.md')) / 2);
    }

    @screen lg2 {
      @apply col-span-4 w-full;
    }
  }

  &__card-heading {
    @apply font-semibold text-px60 leading-px90 tracking-em_001;

    @screen md {
      @apply text-px44;
    }

    @screen lg {
      @apply text-px70 leading-px90 tracking-em_001;
    }
  }

  &__card-body {
    @apply block mx-auto mt-px12 text-px20 leading-px26 mt-px12;

    @screen md {
      @apply mt-px15 max-w-px248;
    }

    @screen lg {
      @apply max-w-none;
    }

    @screen xl {
      @apply max-w-none mt-px16;
      @apply text-px22 leading-px28 tracking-em_001;
    }
  }

  &__cta-wrap {
    @apply mt-px50 col-span-full;

    @screen xl {
      @apply text-center;
    }
  }

  &__cta {
    @apply btn;
  }

  .swiper-pagination {
    @apply mt-px50;
  }

  .swiper-pagination-bullet {
    @apply bg-current;
  }

  // Mobile-only Carousel layout
  &[data-carousel-layout="mobile_only"] {
    .statistics__cards-wrapper {
      @screen md {
        @apply flex justify-center gap-x-md flex-wrap gap-y-px58;
      }

      @screen lg2 {
        @apply grid tw-grid-medium-desktop;
      }
    }

    .statistics__card {
      @screen md {
        @apply flex-shrink-0;
        width: calc((100% - theme('gap.md')) / 2);
      }

      @screen lg2 {
        @apply w-full;
      }
    }
  }
}
