.text-overlapping-image {
  @apply py-px100;
  @include user-defined-bg;

  @screen md {
    @apply pt-px80 pb-px100;
  }

  @screen lg {
    @apply py-px120;
  }

  &__container {
    @apply container mx-auto;
    @apply tw-grid items-center;
  }

  &__body {
    @apply col-span-full text-center;

    @screen md {
      @apply col-span-6 col-start-2;
    }

    @screen lg {
      @apply col-start-1 col-span-5 text-left;
    }
  }

  &__heading {
    @apply font-semibold text-px30 leading-px40;

    @screen md {
      @apply text-px32 leading-px42;
    }

    @screen lg {
      @apply text-px46 leading-px56 tracking-em_001;
    }

    @screen lg2 {
      letter-spacing: 0;
    }
  }

  &__description {
    @apply text-px20 leading-px26 mt-px12;

    @screen md {
      @apply text-px22 leading-px32 mt-px14;
    }

    @screen lg {
      @apply mt-px20 text-px20 leading-px30 tracking-px05;
    }

    @screen lg2 {
      @apply text-px24 leading-px34 tracking-em005;
    }
  }

  &__numbers {
    @apply mt-px50;

    @screen md {
      @apply mt-px0 flex justify-between;
    }

    @screen lg {
      @apply mt-px60 -mr-px100;
    }
  }

  &__number {
    @screen mobile {
      @apply mt-px44;
    }

    @screen md {
      width: calc((100% - 28px) / 2);
    }
  }

  &__number-value {
    @apply font-semibold text-px60 leading-px70;

    @screen lg2 {
      @apply text-px80 leading-px90;
    }
  }

  &__number-caption {
    @apply text-px20 leading-px28;

    @screen md {
      @apply mt-px15 text-px22 leading-px32;
    }

    @screen lg2 {
      @apply mt-px14 text-px24 leading-px34;
    }
  }

  &__cta-wrap {
    @apply mt-px50;

    @screen md {
      @apply mt-px60;
    }

    @screen lg2 {
      @apply col-span-full;
    }
  }

  &__cta {
    @apply inline-flex items-center justify-center h-px46 px-px32 rounded-px10;
    @apply font-semibold text-px16 leading-px22 tracking-em001;

    @screen md {
      @apply px-px24;
    }

    @screen lg {
      @apply px-px40 h-px66 text-px20 leading-px26 tracking-px05 font-bold;
    }
  }

  &__image {
    @apply col-span-full mt-px50 -mx-px28;

    @screen md {
      @apply mt-px80 mx-0;
    }

    @screen lg {
      @apply col-span-6 col-start-7 mt-0;
    }

    @screen lg2 {
      @include bleed-r(lg2);
    }

    @screen xl {
      @include bleed-r(xl);
    }

    // Max container expand.
    @media only screen and (min-width: 1920px) {
      margin-right: calc((#{rem-calc(1920px)} - theme('container.screens.xl') + (theme('container.padding.xl') * 2)) / -2 );
    }

    // Tilted variant
    &--tilted {
      @apply rounded-px10 overflow-hidden mx-0;
      transform: rotate(5.34deg);
    }

    img {
      @apply w-full h-auto;
    }
  }

  // No numbers variant
  &--no-numbers {
    .text-overlapping-image__body {
      @screen md {
        @apply col-span-4 col-start-1 text-left;
      }

      @screen lg {
        @apply col-span-5;
      }

      @screen lg2 {
        @apply col-span-6;
      }

      @screen xl {
        @apply pr-px60;
      }
    }

    .text-overlapping-image__heading {
      @screen lg {
        @apply text-px38 leading-px46 tracking-px05;
      }

      @screen lg2 {
        @apply text-px46 leading-px56 tracking-em_001;
      }
    }

    .text-overlapping-image__description {
      @screen md {
        @apply text-px18 leading-px26;
      }

      @screen lg {
        @apply text-px20 leading-px30 tracking-px05;
      }

      @screen lg2 {
        @apply text-px24 leading-px34 tracking-em005;
      }

      @screen xl {
        @apply text-px26 leading-px36;
      }
    }

    .text-overlapping-image__image {
      @screen md {
        @apply col-span-4 mt-0;
      }

      @screen lg {
        @apply col-span-6 col-start-7;
      }
    }

    .text-overlapping-image__cta-wrap {
      @apply mt-px40;
    }
  }
}
