// Applies theme's background color as rgba() value
// USAGE:
//   background-color: theme-background(); // Does not use opacity variable
//   background-color: theme-background( true ); // Uses opacity variable
//   color: theme-foreground();
@function theme-background( $with-opacity: false ) {
  @return rgba(
    var(--site-theme-background-r),
    var(--site-theme-background-g),
    var(--site-theme-background-b),
    if( $with-opacity, var(--tw-bg-opacity), 1 )
  );
}

@function theme-foreground() {
  @return var(--site-theme-foreground);
}

// Applies theme variables in a page
@mixin set-theme-vars( $color, $variant: null ) {
  $variant: if( type-of($variant) == string, $variant, DEFAULT);
  --site-theme-background-r: theme("colors.#{$color}.#{$variant}-r");
  --site-theme-background-g: theme("colors.#{$color}.#{$variant}-g");
  --site-theme-background-b: theme("colors.#{$color}.#{$variant}-b");
}

/**
  Defines theme color settings for the site
*/
body {
  // Site-wide background theme (for button backgrounds, secondary button text colors, etc.)
  // Deep Teal as default
  @include set-theme-vars(teal, dark);

  // Descendants should use this variable
  // to apply the background theme above as rgba() color.
  --site-theme-background: rgba(
    var(--site-theme-background-r),
    var(--site-theme-background-g),
    var(--site-theme-background-b),
    var(--tw-bg-opacity)
  );

  // Site-wide foreground theme (for text colors, etc.)
  // White as default
  --site-theme-foreground: theme('colors.white.DEFAULT');

  // RC Theme (Indigo)
  &.single.is-rc {
    @include set-theme-vars(indigo);
  }
}
