.topic-cards {
  @apply pt-px80 pb-px40;

  @screen md {
    @apply pt-px80 pb-px100;
  }

  @screen lg {
    @apply py-px100;
  }

  @screen lg2 {
    @apply py-px140;
  }

  & + .guiding-principles {
    @apply mt-0;
  }

  &__container {
    @apply container mx-auto;
  }

  &__heading {
    @apply font-bold text-px32 leading-px40 text-center;

    @screen md {
      @apply text-px32 leading-px42;
    }

    @screen lg {
      @apply text-px34 leading-px44 tracking-px_05 mx-auto;
      max-width: #{rem-calc(552)};
    }

    @screen lg2 {
      @apply text-px40 leading-px50 tracking-normal;
      max-width: #{rem-calc(900)};
    }

    @screen xl {
      @apply text-px46 leading-px56 tracking-em_001;
    }

    & + .topic-cards__accordion {
      @apply mt-px50;
    }
  }

  &__description {
    @apply text-px20 leading-px26 tracking-px05 mt-px14 text-center;

    @screen md {
      @apply tracking-px05 mt-px8 text-px16 leading-px22;
    }

    @screen lg {
      @apply text-px22 leading-px32 mt-px14 mx-auto;
      max-width: #{rem-calc(552)};
    }

    @screen lg2 {
      @apply text-px24 leading-px34;
      max-width: #{rem-calc(900)};
    }

    @screen xl {
      @apply text-px26 leading-px36;
    }
  }

  &__accordion {
    @apply mt-px38 -ml-px28 -mr-px28;
    @apply border-blue_green border-solid border-t-px1 border-b-px1;

    @screen md {
      @apply hidden;
    }
  }

  &__accordion-item {
    @apply bg-white text-teal-dark;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 94, 103, 0.2);
    }
  }

  &__accordion-header {
    @apply flex items-center justify-between px-px28 h-px86;
  }

  &__accordion-toggle {
    @apply flex items-center justify-center w-px45 h-px45 -mr-px20;

    &::before {
      @apply flex items-center justify-center m-auto;
      margin-top: auto !important;
    }
  }

  &__accordion-content {
    @apply hidden;
    @apply px-px28 bg-gray-light pt-px24 pb-px38;
  }

  &__grid {
    @apply tw-grid mt-px30;
    @apply gap-y-px28;

    // Need to override accordion styles on mobile
    @screen mobile {
      .topic-cards__item-title {
        @apply font-semibold text-px24 leading-px28 tracking-em001;
      }

      .topic-cards__item-description {
        @apply mt-px14 text-px16 leading-px24;
      }

      .topic-cards__item-cta {
        @apply mt-px18 text-px18 leading-px24 tracking-em001;
      }
    }

    @screen md {
      @apply mt-px50 gap-y-px30;
      grid-auto-rows: 1fr;
    }

    @screen lg {
      @apply grid-cols-12;

      .topic-cards__item-description {
        @apply mt-px12 text-px20 leading-px30;
      }

      .topic-cards__cta {
        @apply text-px20;
      }
    }

    @screen lg2 {
      @apply mt-px80 gap-y-px28;
    }
  }

  &__swiper-wrapper {
    display: contents;
  }

  &__item {
    @apply col-span-full;

    @screen md {
      @apply col-span-4;
    }

    &:nth-child(odd) {
      @screen lg {
        @apply col-start-2;
      }

      @screen lg2 {
        @apply col-start-auto;
      }
    }

    @screen md {
      @apply min-h-px320;
    }

    @screen lg {
      @apply col-span-5;
    }

    @screen lg2 {
      @apply col-span-4;
    }

    @screen xl {
      @apply min-h-px402;
    }

    &:nth-child(even) {
      @screen lg {
        @apply col-start-7;
      }

      @screen lg2 {
        @apply col-start-auto;
      }
    }

    &--bordered {
      @apply card-sm md:card-md lg:card-lg lg2:card-xl bg-white text-teal-dark;
      border: 1px solid rgba(0, 94, 103, 0.5);
    }
  }

  &__item-eyebrow {
    @apply text-px14 leading-px18 tracking-px05 mb-px18 uppercase;
  }

  &__item-title {
    @apply card-heading;
    @apply font-semibold text-px20 leading-px26;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @screen md {
      @apply text-px24 leading-px28 tracking-em001;
    }

    @screen lg {
      @apply text-px26 leading-px32 tracking-em005;
    }

    @screen xl {
      @apply leading-px36;
    }
  }

  &__item-description {
    @apply card-description;
    @apply text-px18 leading-px28;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @screen md {
      @apply mt-px12 text-px16 leading-px24;
    }

    @screen lg {
      @apply leading-px22;
    }

    @screen xl {
      @apply leading-px26;
    }
  }

  &__cta {
    @apply card-cta;
    @apply text-px18 leading-px24 tracking-em001 mt-px24;

    @screen md {
      @apply mt-px18 text-px20 leading-px26;
    }

    .trevor-ti-download {
      @apply text-px16 ml-px5;
    }
  }

  &__block-cta-wrap {
    @apply mt-px40 text-center;

    @screen md {
      @apply mt-px50;
    }

    @screen lg {
      @apply mt-px60;
    }
  }

  &__block-cta {
    @apply btn;

    @screen lg {
      @apply text-px20 leading-px26 tracking-px05;
      @apply py-px20 px-px40 h-px66;
    }
  }

  &__load-more {
    @apply font-semibold text-px24 leading-px34 tracking-px05;

    @screen md {
      @apply text-px18 leading-px24 tracking-px025;
    }

    @screen lg {
      @apply text-px20 leading-px26 tracking-em001;
    }

    @screen lg2 {
      @apply text-px20 leading-px24 tracking-em005;
    }
  }

  // Carousel Layout
  &--carousel {
    @apply overflow-hidden;

    .topic-cards__grid {
      @apply flex flex-wrap overflow-visible;

      @screen md {
        @apply mr-auto ml-0;
        width: calc((100% - theme('gap.md')) / 2);
      }

      @screen lg {
        width: calc((100% - (theme('gap.lg') * 2)) / 3);
      }
    }

    .topic-cards__swiper-wrapper {
      @apply flex flex-nowrap w-full;
    }

    .topic-cards__item {
      @apply w-full flex-shrink-0;
      height: rem-calc(375);
    }

    .swiper-button {
      @apply absolute top-1/2 transform -translate-y-1/2;
    }

    .swiper-button-prev,
    .swiper-button-next {
      @screen lg {
        @apply flex;
      }
    }

    .swiper-button-prev {
      @apply ml-px20;
    }

    .swiper-button-next {
      @apply mr-px20;

      @screen lg {
        left: calc(300% + theme('gap.lg'));
      }
    }

    .swiper-button-wrapper {
      width: rem-calc(80);
    }

    .swiper-pagination {
      @apply w-full mt-px50;

      @screen xl {
        @apply flex;
      }
    }

    .swiper-pagination-bullet {
      @apply bg-current;
    }
  }

  // Expanded accordion
  &__accordion-item.show &__accordion-content {
    @apply block;
  }

  // Tile overrides
  .tile {
    @apply h-full;
  }
}
