.word-of-the-day {
  @apply bg-gradient-trevorspace pt-px80 pb-px60 text-indigo text-center w-full max-w-none;
  background-size: cover;
  @apply mt-20;

  @screen md {
    @apply mt-px120 pb-px65;
  }

  @screen lg {
    @apply py-0 text-left;
  }

  &.no-image {
    @apply md:pb-px60; lg:pb-0;
  }

  &__container {
    @apply tw-grid items-center;
    @apply container mx-auto;

    @screen lg {
      @apply tw-grid-desktop;
    }
  }

  &__content {
    @apply col-span-full;

    @screen md {
      @apply col-span-4 col-start-3;
    }

    @screen lg {
      @apply col-span-7 col-start-1 px-px40 py-px45;
    }

    @screen xl {
      @apply px-px70;
    }

    .no-image & {
      @apply lg:py-px125 xl:py-px135;
    }
  }

  &__eyebrow {
    @apply font-semibold text-px14 leading-px20 tracking-px05 uppercase;

    @screen xl {
      @apply text-px14 leading-px18 tracking-px05;
    }
  }

  &__heading {
    @apply block mt-px2 font-semibold text-px32 leading-px42;

    @screen md {
      @apply text-px40 leading-px50 mt-px4;
    }

    @screen xl {
      @apply text-px46 leading-px56 tracking-em_001 mt-px16;
    }
  }

  &__pronounciation {
    @apply text-px14 leading-px20 tracking-px05 mt-px10;

    @screen md {
      @apply text-px14 leading-px18 tracking-px05 mt-px8;
    }

    @screen xl {
      @apply mt-px14 text-px22 leading-px32 tracking-px05;
    }
  }

  &__description {
    @apply font-medium text-px18 leading-px24 tracking-em001;

    @screen md {
      @apply text-px18 leading-px24 mt-px12;
    }

    @screen xl {
      @apply text-px24 leading-px34 tracking-em001;
    }
  }

  &__image {
    @apply col-span-full mt-px72 aspect-ratio-1-1;

    @screen md {
      @apply mt-px54 col-span-4 col-start-3;
    }

    @screen lg {
      @apply col-start-8 col-span-5 mt-px45;

      margin-left: calc( -1 * #{theme('container.padding.DEFAULT')} );
      margin-right: -70px;
    }

    @screen xl {
      @apply mx-0 mt-px45 mb-px40;
    }
  }

  &__img {
    @apply block w-full mx-auto max-w-none;

    object-fit: cover;
    border-radius: 10px;

    @screen md {
      @apply h-px392 w-auto;
    }
  }
}
