<div class="trevor-block trevor-block-glossary-entry trevor-block-floating">
	<h3 class="entry-title">{{ post.post_title }}</h3>
	{% if post.post_excerpt %}
		<div class="entry-excerpt">{{ post.post_excerpt }}</div>
	{% endif %}
	{% if post.post_content %}
		<p class="entry-description">{{ post.post_content }}</p>
	{% endif %}
</div>
