{{ CHILD_BOUNDARY|raw }}
<li class="list-item item-external">
	<a href="{{ url|raw|esc_attr }}" target="_blank" rel="noopener noreferrer nofollow">{{ title|trim }}<i class="icon-external trevor-ti-link-out"></i></a>
</li>
