
$colors: (
  transparent: transparent,
  current: currentColor,
  black: #000,
  white: #fff,
  gray: #ccc,
  gray-light-rgba: rgba(243, 243, 247, var(--tw-bg-opacity)),
  gray-light-r: 243,
  gray-light-g: 243,
  gray-light-b: 247,
  gray-light: #F3F3F7,
  violet-rgba: rgba(107, 93, 246, var(--tw-bg-opacity)),
  violet-r: 107,
  violet-g: 93,
  violet-b: 246,
  violet: #6B5DF6,
  violet-alt-rgba: rgba(113, 85, 255, var(--tw-bg-opacity)),
  violet-alt-r: 113,
  violet-alt-g: 85,
  violet-alt-b: 255,
  violet-alt: #7155FF,
  violet-light-rgba: rgba(237, 237, 251, var(--tw-bg-opacity)),
  violet-light-r: 237,
  violet-light-g: 237,
  violet-light-b: 251,
  violet-light: #EDEDFB,
  violet-lighter-rgba: rgba(219, 213, 255, var(--tw-bg-opacity)),
  violet-lighter-r: 219,
  violet-lighter-g: 213,
  violet-lighter-b: 255,
  violet-lighter: #DBD5FF,
  violet-tint-rgba: rgba(137, 125, 248, var(--tw-bg-opacity)),
  violet-tint-r: 137,
  violet-tint-g: 125,
  violet-tint-b: 248,
  violet-tint: #897DF8,
  orange-rgba: rgba(255, 90, 61, var(--tw-bg-opacity)),
  orange-r: 255,
  orange-g: 90,
  orange-b: 61,
  orange: #FF5A3D,
  orange-light-rgba: rgba(255, 103, 77, var(--tw-bg-opacity)),
  orange-light-r: 255,
  orange-light-g: 103,
  orange-light-b: 77,
  orange-light: #FF674D,
  indigo-rgba: rgba(16, 16, 102, var(--tw-bg-opacity)),
  indigo-r: 16,
  indigo-g: 16,
  indigo-b: 102,
  indigo: #101066,
  purple-rgba: rgba(64, 0, 154, var(--tw-bg-opacity)),
  purple-r: 64,
  purple-g: 0,
  purple-b: 154,
  purple: #40009A,
  cobalt_blue-rgba: rgba(0, 71, 156, var(--tw-bg-opacity)),
  cobalt_blue-r: 0,
  cobalt_blue-g: 71,
  cobalt_blue-b: 156,
  cobalt_blue: #00479C,
  blue_green-rgba: rgba(0, 94, 103, var(--tw-bg-opacity)),
  blue_green-r: 0,
  blue_green-g: 94,
  blue_green-b: 103,
  blue_green: #005E67,
  canary-rgba: rgba(255, 210, 21, var(--tw-bg-opacity)),
  canary-r: 255,
  canary-g: 210,
  canary-b: 21,
  canary: #FFD215,
  gold-rgba: rgba(249, 192, 88, var(--tw-bg-opacity)),
  gold-r: 249,
  gold-g: 192,
  gold-b: 88,
  gold: #F9C058,
  highlight-rgba: rgba(253, 230, 188, var(--tw-bg-opacity)),
  highlight-r: 253,
  highlight-g: 230,
  highlight-b: 188,
  highlight: #FDE6BC,
  teal-lighter-rgba: rgba(0, 58, 72, 0.2),
  teal-lighter-r: 0,
  teal-lighter-g: 58,
  teal-lighter-b: 72,
  teal-lighter: rgba(0, 58, 72, 0.2),
  teal-dark-rgba: rgba(0, 58, 72, var(--tw-bg-opacity)),
  teal-dark-r: 0,
  teal-dark-g: 58,
  teal-dark-b: 72,
  teal-dark: #003A48,
  teal-tint-rgba: rgba(217, 226, 228, var(--tw-bg-opacity)),
  teal-tint-r: 217,
  teal-tint-g: 226,
  teal-tint-b: 228,
  teal-tint: #D9E2E4,
  moss-rgba: rgba(225, 232, 233, var(--tw-bg-opacity)),
  moss-r: 225,
  moss-g: 232,
  moss-b: 233,
  moss: #E1E8E9,
  moss-dark-rgba: rgba(8, 83, 90, var(--tw-bg-opacity)),
  moss-dark-r: 8,
  moss-dark-g: 83,
  moss-dark-b: 90,
  moss-dark: #08535A,
  persian_blue-rgba: rgba(54, 38, 217, var(--tw-bg-opacity)),
  persian_blue-r: 54,
  persian_blue-g: 38,
  persian_blue-b: 217,
  persian_blue: #3626D9,
  persian_blue-lighter-rgba: rgba(54, 38, 217, 0.9),
  persian_blue-lighter-r: 54,
  persian_blue-lighter-g: 38,
  persian_blue-lighter-b: 217,
  persian_blue-lighter: rgba(54, 38, 217, 0.9),
  melrose-rgba: rgba(202, 197, 252, var(--tw-bg-opacity)),
  melrose-r: 202,
  melrose-g: 197,
  melrose-b: 252,
  melrose: #CAC5FC
);

$theme-colors: (
	transparent: transparent,
  current: currentColor,
  black: #000,
  white: #fff,
  gray: #ccc,
  gray-light: #F3F3F7,
  violet: #6B5DF6,
  violet-alt: #7155FF,
  violet-light: #EDEDFB,
  violet-lighter: #DBD5FF,
  violet-tint: #897DF8,
  orange: #FF5A3D,
  orange-light: #FF674D,
  indigo: #101066,
  purple: #40009A,
  cobalt_blue: #00479C,
  blue_green: #005E67,
  canary: #FFD215,
  gold: #F9C058,
  highlight: #FDE6BC,
  teal-lighter: rgba(0, 58, 72, 0.2),
  teal-dark: #003A48,
  teal-tint: #D9E2E4,
  moss: #E1E8E9,
  moss-dark: #08535A,
  persian_blue: #3626D9,
  persian_blue-lighter: rgba(54, 38, 217, 0.9),
  melrose: #CAC5FC
);
