$colors: (
  transparent: transparent,
  current: currentColor,
  black: #000,
  white: #fff,
  gray: #ccc,
  gray-light: #F3F3F7,
  gray-light-rgba: rgba(243, 243, 247, var(--tw-bg-opacity)),
  gray-light-r: 243,
  gray-light-g: 243,
  gray-light-b: 247,
  violet: 246,
  violet-alt: #7155FF,
  violet-light: #EDEDFB,
  violet-lighter: #DBD5FF,
  violet-tint: #897DF8,
  violet-alt-rgba: rgba(113, 85, 255, var(--tw-bg-opacity)),
  violet-alt-r: 113,
  violet-alt-g: 85,
  violet-alt-b: 255,
  violet-light-rgba: rgba(237, 237, 251, var(--tw-bg-opacity)),
  violet-light-r: 237,
  violet-light-g: 237,
  violet-light-b: 251,
  violet-lighter-rgba: rgba(219, 213, 255, var(--tw-bg-opacity)),
  violet-lighter-r: 219,
  violet-lighter-g: 213,
  violet-lighter-b: 255,
  violet-tint-rgba: rgba(137, 125, 248, var(--tw-bg-opacity)),
  violet-tint-r: 137,
  violet-tint-g: 125,
  violet-tint-b: 248,
  orange: 61,
  orange-light: #FF674D,
  orange-light-rgba: rgba(255, 103, 77, var(--tw-bg-opacity)),
  orange-light-r: 255,
  orange-light-g: 103,
  orange-light-b: 77,
  indigo: 102,
  purple: 154,
  cobalt_blue: 156,
  blue_green: 103,
  canary: 21,
  gold: 88,
  highlight: 188,
  teal-lighter: rgba(0, 58, 72, 0.2),
  teal-dark: #003A48,
  teal-tint: #D9E2E4,
  teal-dark-rgba: rgba(0, 58, 72, var(--tw-bg-opacity)),
  teal-dark-r: 0,
  teal-dark-g: 58,
  teal-dark-b: 72,
  teal-tint-rgba: rgba(217, 226, 228, var(--tw-bg-opacity)),
  teal-tint-r: 217,
  teal-tint-g: 226,
  teal-tint-b: 228,
  moss: 233,
  moss-dark: #08535A,
  moss-dark-rgba: rgba(8, 83, 90, var(--tw-bg-opacity)),
  moss-dark-r: 8,
  moss-dark-g: 83,
  moss-dark-b: 90,
  persian_blue: 217,
  persian_blue-lighter: rgba(54, 38, 217, 0.9),
  melrose: 252
);
