// animations
@keyframes scale-mobile {
  from {
    transform: scaleY(.4);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(.3);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-half {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.7);
  }
}

.breathing-exercise-overlay {
  @apply fixed top-0 left-0 w-full h-full text-indigo;
  @include z-index(breathing-exercise-overlay);
  @apply flex justify-center items-center text-center text-px18;
  @apply transition-all opacity-0 invisible;
  background: linear-gradient(0deg, #e4e2fa, #ffffff);
  @include focusable-children-outline(light);

  &.show {
    @apply visible opacity-100;
  }

  &__container {
    @apply relative flex justify-start items-center flex-col;
    @apply overflow-auto h-auto max-h-full py-px100;
  }

  &__content {
    @apply h-full flex justify-center items-center flex-col;
  }

  &__heading {
    @apply font-semibold text-px28 leading-px36;

    @screen md {
      @apply text-px36 leading-px48;
    }

    @screen xl {
      @apply text-px36 leading-px48;
    }
  }

  .countdown {
    @apply h-full flex flex-col items-center justify-center;
    width: Min(rem-calc(288), 100%);

    @screen md {
      width: Min(rem-calc(320), 100%);
    }

    &__number {
      @apply text-px180 leading-px246 my-px20 opacity-0;

      @screen md {
        @apply mt-px20 mb-px50 text-px200 leading-px273;
      }

      @screen xl {
        @apply mt-px52 mb-px78;
      }
    }

    &__skip {
      @apply font-medium text-px22 leading-px30 border-current border-solid border-b-px1;

      @screen md {
        @apply text-px30 leading-px40;
      }
    }
  }

  .step-one {
    @apply hidden;
    width: Min(rem-calc(288), 100%);

    @screen md {
      @apply w-px360;
      width: Min(rem-calc(360), 100%);
    }

    @screen xl {
      @apply w-px368;
      width: Min(rem-calc(368), 100%);
    }

    &__content {
      @apply flex flex-col justify-center items-center;
    }

    &__description {
      @apply text-px16 leading-px22 mt-px16;

      @screen md {
        @apply text-px18 leading-px24 w-px288;
      }

      @screen xl {
        @apply text-px20 leading-px28 w-px320;
      }
    }

    &__arrow {
      @apply mt-px30;

      @screen md {
        @apply mt-px40;
      }

      svg {
        @apply w-px46 h-px46;

        @screen md {
          @apply w-px50 h-px50;
        }

        @screen md {
          @apply w-px60 h-px60;
        }
      }
    }

    &__cta {
      @apply mt-px30;
      @apply font-medium text-px22 leading-px30;
      @apply border-b-px1 border-solid border-indigo;

      @screen md {
        @apply mt-px40 text-px28 leading-px34;
      }

      @screen md {
        @apply text-px30 leading-px40;
      }

      &--icon {
        @apply border-0;
        appearance: none;
      }
    }
  }

  .breathing {
    @apply hidden;
    height: calc(100vh - #{rem-calc(100)});
    width: 100vw;

    &__content {
      @apply flex flex-col items-center justify-start h-full;

      @screen md {
        @apply flex-col justify-center;
      }
    }

    &__blob-container {
      @screen mobile {
        @apply absolute top-full left-1/2;
        @apply transform -translate-y-1/2 -translate-x-1/2;
        --tw-scale-x: 2;
        --tw-scale-y: 2;
      }
    }

    .canvas-blob {
      max-width: 500px;
      max-height: 400px;

      &.small {
        transform: scaleY(.4);

        @screen md {
          transform: scale(.3);
        }
      }
    }

    .scale {
      animation: scale-mobile 5s ease-in-out 10 both alternate;

      @screen md {
        animation: scale 5s ease-in-out 10 both alternate;
      }
    }

    .scale-half {
      animation: scale-half 5s ease-in-out forwards;
    }

    .copy-wrapper {
      @apply px-px44 mt-px160;
      margin-top: Min(160px, rem-calc(160));
      z-index: 100;

      @screen md {
        margin-top: Min(140px, rem-calc(140));
        width: Min(100%, #{rem-calc(490)});
      }

      @screen lg {
        margin-top: Min(160px, rem-calc(160));
      }
    }

    .rotate-copy {
      @apply font-semibold text-px28 leading-px36;
    }
  }

  .breathing-end {
    @apply hidden h-full;

    &__content {
      @apply flex flex-col items-center justify-center px-px44;

      @screen md {
        @apply w-px568 px-0;
      }
    }

    &__icon {
      @apply mt-px40 w-px46 h-px46;
    }

    &__cta {
      @apply mt-px40 border-b-px1 border-solid border-current;
      @apply font-medium text-px22 leading-px30;

      @screen md {
        @apply text-px24 leading-px34;
      }

      @screen xl {
        @apply text-px30 leading-px40;
      }

      &--icon {
        @apply border-0 m-0;
        appearance: none;
      }
    }
  }

  &__close {
    @apply absolute flex items-center justify-center top-px28 right-px28 w-px45 h-px45;
    @apply rounded-px18 bg-indigo text-white;
  }
}


