.wp-block-image {
  &.is-style-full {
	width: 100vw;
	margin-left: calc((100vw - 100%) / -2);
  }

  > figcaption {
	color: theme('colors.indigo.DEFAULT') !important;
  }

  @screen md {
	@apply rounded-px10;

	&.is-style-full {
	  width: calc(theme('screens.md') - (2 * theme('container.padding.md')));
	  margin-left: 0;
	}
  }

  @screen lg {
	&.is-style-full {
	  width: calc(11 / 12 * (theme('screens.lg') - (2 * theme('container.padding.lg'))));
	}
  }

  @screen xl {
	&.is-style-full {
	  width: calc(11 / 12 * (theme('screens.xl') - (2 * theme('container.padding.xl'))));
	}
  }
}
