p {
	&.has-medium-font-size {
		@apply font-normal text-px22 leading-px32;
	}

	@screen lg {
		&.has-medium-font-size {
			@apply text-px26 leading-px36 tracking-em005;
		}
	}
}

// Paragraph Block
main > p {
	@apply mt-px50;

	@screen md {
		@apply mt-px40;
	}

	@screen xl {
		@apply mt-px42;
	}

	&:last-child {
		@apply mb-px100 mx-auto max-w-px319 text-px18 leading-px26;
    letter-spacing: 0.5px;

    @screen md {
      max-width: rem-calc(492px);
      letter-spacing: -0.005em;
    }

    @screen lg {
      max-width: rem-calc(789px);
    }

    a {
      @apply mx-auto mt-px28;
      display: block;
      width: fit-content;

      @screen lg {
        display: initial;
      }
    }
	}

	a {
		@apply border-b-2;
	}
}
