.wp-block-embed {
  &__wrapper {
    @apply container mx-auto;
    @apply tw-grid;
  }

  iframe {
    @apply w-full rounded-px10 overflow-hidden col-span-full;
    will-change: transform;

    @screen lg {
      @apply col-span-10 col-start-2;
    }
  }

  &.wp-has-aspect-ratio {
    iframe {
      height: auto;
    }

    &.wp-embed-aspect-16-9 {
      @supports (aspect-ratio: 16 / 9) {
        iframe {
          aspect-ratio: 16 / 9;
        }
      }

      @supports not (aspect-ratio: 16 / 9) {
        .wp-block-embed__wrapper {
          @include aspect-ratio(16, 9);

          &::before {
            @apply col-span-full;

            @screen lg {
              @apply col-span-10 col-start-2;
            }
          }

          iframe {
            @apply absolute w-full h-full top-0 left-0;
          }
        }
      }
    }
  }

  & + & {
    @apply mt-px30;

    @screen md {
      @apply mt-px40;
    }

    @screen lg {
      @apply mt-px60;
    }
  }
}

p + .wp-block-embed {
  @apply mt-px40;

  @screen lg {
    @apply mt-px60;
  }
}
