.block-editor__container {
	.editor-styles-wrapper {
		padding: 0 !important;
	}

  .block-editor-writing-flow {
    @apply pb-px2;
  }

	.editor-post-title__block {
		padding: 0 20px;
	}

	.wp-block {
		max-width: none !important;
	}

	.acf-block-fields {
		max-width: 900px;
		margin: 50px auto;
	}

  .interface-interface-skeleton__content {
    @apply block;
  }

	.interface-interface-skeleton__sidebar {
		.edit-post-sidebar {
			width: 400px;
		}

		.acf-tab-group li {
			margin-right: 0 !important;
		}
	}

	// For Header ACF to be always visible
	.edit-post-layout__metaboxes {
		@apply sticky bottom-0 z-50;

		.postbox-header {
			@apply bg-gray-light text-teal-dark hover:bg-gray hover:text-teal-dark;
		}

		.toggle-indicator {
			@apply text-teal-dark;
		}
	}
}
