// Collapased nav state
body:not(.on-top) {
  #top-bar {
    &::before {
      @screen mobile {
        --tw-translate-y: calc(100% - #{rem-calc(4px)});
      }

      @screen md {
        --tw-translate-y: calc(100% - #{rem-calc(6px)});
      }

      @screen lg {
        @apply translate-y-0;
      }
    }

    .switcher-wrap {
      @screen lg2 {
        @apply opacity-0 invisible;

        > .switcher {
          @apply -translate-y-full;
        }
      }
    }

    .logo-icon {
      @apply opacity-100 visible;

      @screen mobile {
        --tw-translate-y: #{$top--bar-height-mobile};
      }

      @screen md-minmax {
        --tw-translate-y: #{$top--bar-height-tablet};
      }

      @screen lg-only {
        --tw-translate-y: #{$top--bar-height-tablet};
      }

      > a {
        @screen lg {
          @apply translate-y-0;
        }
      }
    }

    .topbar-nav-wrap {
      @screen lg {
        @apply visible opacity-100;
      }
    }

    .main-menu-container {
      @screen lg {
        @apply pointer-events-auto;
      }

      > .main-menu > .menu-item {
        @screen lg {
          @apply opacity-100 visible;
        }
      }

      > .main-menu > .menu-item > a > .menu-link-text {
        @screen lg {
          @apply translate-y-0;
        }
      }
    }

    .topbar-controls {
      --tw-translate-y: var(--top-bar-height);

      @screen lg {
        @apply translate-y-0;
      }
    }

    .topbar-control-search {
      @screen lg2 {
        @apply translate-y-0 visible opacity-100;
      }
    }

    .topbar-control-opener {
      @screen lg {
        @apply translate-y-0;
      }

      @screen lg-only {
        @apply translate-x-0 opacity-100 visible;
      }
    }

    .cta-wrap {
      @apply opacity-100 visible;
      --tw-translate-y: var(--top-bar-height);

      @screen lg-only {
        @apply translate-x-0;
      }

      @screen lg {
        --tw-translate-y: 0;
      }
    }
  }

  #top-nav {
    .menu-wrap {
      @screen lg {
        @apply -translate-y-full invisible opacity-0;
      }
    }
  }
}

// Expanded Navigation State On Mobile and Tablet
body.is-navigation-open {
  #top-bar {
    @screen lg-only {
      @apply bg-opacity-0 border-transparent;
    }

    &::before {
      @screen lg-max {
        @apply opacity-0;
      }
    }

    .logo-icon {
      @screen lg-max {
        @apply opacity-0 invisible;
      }
    }

    .cta-wrap {
      @screen lg-max {
        @apply opacity-0 invisible;
      }
    }

    .topbar-controls {
      @screen lg-max {
        @apply invisible opacity-0;
      }
    }

    .switcher-wrap {
      @screen lg-max {
        @apply invisible opacity-0;
      }
    }
  }

  .burger-nav {
    .switcher-wrap {
      @screen lg-max {
        @apply pointer-events-auto;
      }
    }

    .switcher {
      @screen lg-max {
        @apply transform translate-x-0;
        @apply visible opacity-100;
      }
    }
  }

  .burger-nav-controls {
    @apply lg-max:visible lg-max:opacity-100 lg-max:translate-x-0;
  }

  .opener {
    @apply visible opacity-0;
  }

  .burger-nav {
    @screen lg-max {
      // Blur
      &::before {
        @apply opacity-100 visible;
      }
      // White background
      &::after {
        @apply translate-x-0;
      }

      &__underlay {
        @apply visible opacity-100;
      }
    }

    .menu-wrap {
      @screen lg-max {
        @apply translate-x-0 visible opacity-100;
      }
    }

    .main-menu > .menu-item.active > .sub-menu {
      @screen lg-max {
        @apply block;
      }
    }
  }
}

// Tier-2 submenu state, for mobile/tablet
.burger-nav.tier-two-visible {
  @screen lg-max {
    .back-to-tier1-wrap {
      @apply opacity-100 visible translate-x-0;
    }

    .main-menu {
      @apply -translate-x-full;

      // Animate tier-1 chevron out
      > .menu-item {
        &:not(.active) {
          @apply invisible opacity-0;
        }

        > a::after {
          @apply opacity-0 invisible;
        }
      }
    }

    .burger-nav__cta-wrap {
      @apply -translate-x-full opacity-0 invisible;
    }
  }
}

// Tier-1 menu link, active state
.main-menu > .menu-item.active {
  @screen lg-max {
    > a {
      @apply opacity-0 invisible;
    }

    > .sub-menu__heading,
    > .sub-menu {
      @apply opacity-100 visible;
    }
  }
}
