//
// NAV
//
#top-nav {
	z-index: var(--z-index-nav-base);
  height: $top-nav-height;

  @screen md {
    height: $top-nav-height-tablet;
  }

  @screen xl {
    height: $top-nav-height-desktop;
  }

	// Background blur and fill, for mobile/tablet
	@screen lg-max {
		&::before {
			@apply fixed top-0 left-0 w-full h-full bg-white;
			@apply transform-gpu transition-all duration-300 ease-out opacity-0 invisible;
			content: '';
			background-color: rgba(16, 16, 102, 0.2);
			backdrop-filter: blur(4px);
			z-index: var(--z-index-nav-blur);
		}

		&::after {
			@apply fixed top-0 right-0 h-full bg-white;
			@apply transform-gpu translate-x-full transition-transform duration-300 ease-out;
			width: var(--nav-menu-width);
			content: '';
			z-index: var(--z-index-nav-white-bg);
		}
	}

	// Menu for desktop
	.menu-wrap {
    @apply hidden;

		@screen lg {
			@apply flex static m-0 top-0 h-auto overflow-visible w-auto;
			@apply transform-gpu;
			@apply transition-all duration-300 opacity-100 visible;
			@apply py-0 translate-x-0 -mr-px30;
			@apply bg-transparent;
		}
	}

	.main-menu-container {
		@screen lg {
			@apply pointer-events-auto p-0;
		}
	}

	// Main menu large breakpoint
	.main-menu {
		@screen lg {
			// Caret, hidden in top-nav
			.submenu-icon {
				@apply hidden;
			}

			// Tier 1 menu
			> .menu-item {
				@apply pr-px10;

				&:not(:first-child) {
          @screen lg {
            @apply ml-px20;
          }

          @screen lg2 {
            @apply ml-px38;
          }
				}
			}

			// Chevron
			> .menu-item > a::after {
				@apply rotate-90;
			}

			// Hover/Focus state
			& > .menu-item:hover,
			& > .menu-item:focus-within {
				// Rotate chevron
				> a::after {
					@screen lg {
						@apply -rotate-90 text-opacity-100;
					}
				}
			}

			.trevor-ti-caret-down {
				@apply hidden;
			}

			> .menu-item > a {
				@apply p-0;
			}

			// Tier 1 submenu
			> .menu-item > .sub-menu {
        @apply text-indigo;
				@apply pt-px24 pb-px32;
			}
		}
	}

	.search-button {
		@screen lg {
			@apply hover:opacity-80;
		}
	}

  .top-nav-inner {
    @screen mobile {
      @apply items-start;
      max-width: none;
    }

    @screen lg {
      @apply px-0;
      width: calc(100% - 80px);
    }

    @screen lg2 {
      @apply px-px20;
    }
  }
}

.top-nav-inner {
	@apply static flex flex-row items-center justify-between h-full;
	@apply mx-auto pt-px18;

  @screen mobile {
    @apply gap-x-px18;
  }

  @screen md {
    @apply px-0;
  }

	@screen lg {
		@apply pb-0 pt-px28 items-start;
	}

  @screen lg2 {
		@apply pt-px32;
	}

	.logo-wrap {
		@screen md {
			@apply mt-0;
		}

    body.error404 & {
      @apply text-orange;
    }
	}

	.logo-icon {
		@apply absolute;
		top: -0.75rem;
		right: -0.25rem;
	}


  .site-logo {
    width: #{rem-calc(132)};

    @screen md {
      width: #{rem-calc(183)};
    }

    @screen xl {
      width: #{rem-calc(242)};
    }
  }

  .top-nav-cta-wrap {
    @apply ml-auto mt-px5;

    @screen md {
      @apply hidden;
    }

    .btn {
      @apply h-px35 px-px16 py-0 flex items-center rounded-px100 min-h-0;
      @apply border-2 bg-transparent text-current border-current;
      @apply font-bold text-px16 leading-px20;
    }
  }

	// Opener
	.opener-wrap {
		@apply flex items-center z-1;

		@screen lg {
			@apply hidden;
		}
	}

	.opener {
    @apply cursor-pointer w-px45 h-px45;
		@apply transition-all duration-300 ease-out;
		@apply visible opacity-100 text-px40;
	}

	// Search Button
	.search-button {
		@apply hidden;

		@screen lg {
			@apply block w-px45 h-px45 text-px28 ml-px20 -mt-px10 text-current;
		}

    @screen lg2 {
      @apply ml-px38;
    }
	}

	@screen lg {
		.opener {
			@apply hidden;
		}

		.menu-wrap {
			@apply text-current;
			margin-top: -4rem;
			margin-right: -1.5rem;
		}

		.logo-icon {
			@apply block absolute;
			top: 0.5rem;
			right: -1rem;
		}
	}
}
